{include="header"}

<script type="text/javascript">
    $(document).ready(function () {
        $("#b_eliminar_balance").click(function (event) {
            event.preventDefault();
            bootbox.confirm({
                message: '¿Estas seguro de que deseas eliminar este balance?',
                title: '<b>Atención</b>',
                callback: function (result) {
                    if (result) {
                        window.location.href = '{$fsc->url()}&delete={function="urlencode($fsc->balance->codbalance)"}';
                    }
                }
            });
        });
    });
</script>

<div class="container-fluid">
    <form action="{$fsc->balance->url()}" method="post" class="form">
        <div class="row">
            <div class="col-sm-6">
                <div class="btn-group">
                    <a href="{$fsc->url()}" class="btn btn-sm btn-default">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="hidden-xs">&nbsp;Todos</span>
                    </a>
                    <a class="btn btn-sm btn-default" href="{$fsc->balance->url()}" title="Recargar la página">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 text-right">
                <div class="btn-group">
                    {if="$fsc->allow_delete"}
                    <a id="b_eliminar_balance" class="btn btn-sm btn-danger" href="#">
                        <span class="glyphicon glyphicon-trash"></span>
                        <span class="hidden-sm hidden-xs">&nbsp;Eliminar</span>
                    </a>
                    {/if}
                    <button class="btn btn-sm btn-primary" type="button" onclick="this.disabled = true;this.form.submit();">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                        <span class="hidden-xs">&nbsp;Guardar</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="page-header">
                    <h1>
                        <span class="glyphicon glyphicon-wrench"></span>
                        Balance {$fsc->balance->codbalance}
                    </h1>
                    <p class="help-block">
                        {if="$fsc->balance->naturaleza=='A'"}
                        <span class="label label-success">Activo</span>
                        {elseif="$fsc->balance->naturaleza=='P'"}
                        <span class="label label-info">Pasivo</span>
                        {elseif="$fsc->balance->naturaleza=='PG'"}
                        <span class="label label-warning">Pérdidas y ganancias</span>
                        {else}
                        <span class="label label-default">{$fsc->balance->naturaleza}</span>
                        {/if} &nbsp;
                        {$fsc->balance->descripcion1}
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    Naturaleza:
                    <select name="naturaleza" class="form-control">
                        {loop="$fsc->all_naturalezas()"}
                        {if="$key==$fsc->balance->naturaleza"}
                        <option value="{$key}" selected="">{$value}</option>
                        {else}
                        <option value="{$key}">{$value}</option>
                        {/if}
                        {/loop}
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    Descripción:
                    <input type="text" name="descripcion" value="{$fsc->balance->descripcion1}" class="form-control" autocomplete="off"/>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    Descripción 2:
                    <input type="text" name="descripcion2" value="{$fsc->balance->descripcion2}" class="form-control" autocomplete="off"/>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    Descripción 3:
                    <input type="text" name="descripcion3" value="{$fsc->balance->descripcion3}" class="form-control" autocomplete="off"/>
                </div>
            </div>
        </div>
    </form>
    <form action="{$fsc->balance->url()}" method="post" class="form">
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Cuentas en balance</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Cuenta</th>
                                    <th></th>
                                </tr>
                            </thead>
                            {loop="$fsc->cuentas"}
                            <tr>
                                <td>{$value->codcuenta}</td>
                                <td class="text-right">
                                    {if="$fsc->allow_delete"}
                                    <a href="{$fsc->balance->url()}&rm_cuenta={$value->id}" title="Eliminar">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                    {/if}
                                </td>
                            </tr>
                            {/loop}
                            <tr class="info">
                                <td>
                                    <input type="text" name="nueva_cuenta" class="form-control" placeholder="cuenta" autocomplete="off"/>
                                </td>
                                <td class="text-right">
                                    <button type="submit" class="btn btn-sm btn-primary">
                                        <span class="glyphicon glyphicon-plus-sign"></span>
                                        <span class="hidden-xs">&nbsp;Nueva</span>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Cuentas en balance abreviado</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Cuenta</th>
                                    <th></th>
                                </tr>
                            </thead>
                            {loop="$fsc->cuentas_a"}
                            <tr>
                                <td>{$value->codcuenta}</td>
                                <td class="text-right">
                                    {if="$fsc->allow_delete"}
                                    <a href="{$fsc->balance->url()}&rm_cuenta_a={$value->id}" title="Eliminar">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                    {/if}
                                </td>
                            </tr>
                            {/loop}
                            <tr class="info">
                                <td>
                                    <input type="text" name="nueva_cuenta_a" class="form-control" placeholder="cuenta" autocomplete="off"/>
                                </td>
                                <td class="text-right">
                                    <button type="submit" class="btn btn-sm btn-primary">
                                        <span class="glyphicon glyphicon-plus-sign"></span>
                                        <span class="hidden-xs">&nbsp;Nueva</span>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{include="footer"}