<div class="table-responsive">
    <table class="table table-hover">
        <caption class="text-center">Elige una combinación de atributos:</caption>
        <thead>
            <tr>
                <th>Combinación</th>
                <th>Cod. Barras</th>
                <th class="text-right">Precio</th>
                <th class="text-right">Precio+{#FS_IVA#}</th>
                <th class="text-right">Stock</th>
            </tr>
        </thead>
        {loop="$fsc->results"}
        <tr{if="$value['stockfis']>0"} class="success"{/if}>
            <td>
                <a href="#" onclick="add_articulo('{$value['ref']}', '{function="base64_encode($value['desc'])"}','{$value['pvp']}','{$value['dto']}','{$value['codimpuesto']}','{$value['cantidad']}','{$value['codigo']}')">{$value['txt']}</a>
            </td>
            <td>{$value['codbarras']}</td>
            <td class="text-right">{$fsc->show_precio($value['pvp'])}</td>
            <td class="text-right">{$fsc->show_precio($value['pvp']*(100+$value['iva'])/100)}</td>
            <td class="text-right">{$value['stockfis']}</td>
        </tr>
        {else}
        <tr class="danger">
            <td colspan="5">No hay combinaciones definidas.</td>
        </tr>
        {/loop}
    </table>
</div>