<!--{$fsc->buscar_lineas}-->

{if="$fsc->get_errors()"}
   <div class="alert alert-danger">
      {loop="$fsc->get_errors()"}<li>{$value}</li>{/loop}
   </div>
{/if}
{if="$fsc->get_messages()"}
   <div class="alert alert-success">
      {loop="$fsc->get_messages()"}<li>{$value}</li>{/loop}
   </div>
{/if}

<table class="table table-hover">
   <thead>
      <tr>
         <th class="text-left text-capitalize">{#FS_ALBARAN#}</th>
         <th class="text-right">Cantidad</th>
         <th class="text-left">Artículo</th>
         <th class="text-right">Total+{#FS_IVA#}</th>
         <th class="text-right" width="90">Fecha</th>
      </tr>
   </thead>
   {loop="$fsc->lineas"}
   <tr{if="$value->cantidad<=0"} class="bg-warning"{/if}>
      <td><a target="_blank" href="{$value->url()}">{$value->show_codigo()}</a></td>
      <td class="text-right">{$value->cantidad}</td>
      <td><a target="_blank" href="{$value->articulo_url()}">{$value->referencia}</a> {$value->descripcion}</td>
      <td class="text-right">{$fsc->show_precio($value->total_iva())}</td>
      <td class="text-right">{$value->show_fecha()}</td>
   </tr>
   {else}
   <tr class="warning">
      <td colspan="5">Sin resultados.</td>
   </tr>
   {/loop}
</table>

{if="$fsc->lineas"}
<ul class="pager">
   {if="$fsc->offset>0"}
   <li class="previous">
      <a href="#" onclick="mas_resultados('-{function="count($fsc->lineas)"}')">
         <span class="glyphicon glyphicon-chevron-left"></span> &nbsp; Anteriores
      </a>
   </li>
   {/if}
   {if="count($fsc->lineas)==FS_ITEM_LIMIT"}
   <li class="next">
      <a href="#" onclick="mas_resultados('{function="count($fsc->lineas)"}')">
         Siguientes &nbsp; <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
   </li>
   {/if}
</ul>
{/if}