<div class="panel-heading">
    <h3 class="panel-title">Facturación</h3>
</div>
<div class="panel-body">
    <div class="row">
        <div class="col-sm-4">
            <a href="{$fsc->divisa->url()}">Divisa</a>:
            <select name="coddivisa" class="form-control">
                {loop="$fsc->divisa->all()"}
                {if="$fsc->empresa->coddivisa==$value->coddivisa"}
                <option value="{$value->coddivisa}" selected="">{$value->descripcion}</option>
                {else}
                <option value="{$value->coddivisa}">{$value->descripcion}</option>
                {/if}
                {/loop}
            </select>
            <p class="help-block">
                <a href="index.php?page=admin_home#avanzado">Cambiar el formato</a>.
            </p>
        </div>
        <div class="col-sm-4">
            <a href="{$fsc->ejercicio->url()}">Ejercicio</a>:
            <select name="codejercicio" class="form-control" autofocus >
                {loop="$fsc->ejercicio->all()"}
                {if="$fsc->empresa->codejercicio==$value->codejercicio"}
                <option value="{$value->codejercicio}" selected="">{$value->nombre}</option>
                {else}
                <option value="{$value->codejercicio}">{$value->nombre}</option>
                {/if}
                {/loop}
            </select>
            <p class="help-block">Sólo sirve para inicializar algunos campos.</p>
        </div>
        <div class="col-sm-4">
            <a href="{$fsc->serie->url()}" class="text-capitalize">{#FS_SERIE#}</a>:
            <select name="codserie" class="form-control">
                {loop="$fsc->serie->all()"}
                {if="$fsc->empresa->codserie==$value->codserie"}
                <option value="{$value->codserie}" selected="">{$value->descripcion}</option>
                {else}
                <option value="{$value->codserie}">{$value->descripcion}</option>
                {/if}
                {/loop}
            </select>
            <p class="help-block">El {#FS_IRPF#} se define para cada {#FS_SERIE#}.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="checkbox">
                <label>
                    {if="$fsc->empresa->contintegrada"}
                    <input type="checkbox" name="contintegrada" value="TRUE" checked=""/>
                    {else}
                    <input type="checkbox" name="contintegrada" value="TRUE"/>
                    {/if}
                    Contabilidad integrada
                </label>
            </div>
            <div class="checkbox">
                <label>
                    {if="$fsc->empresa->recequivalencia"}
                    <input type="checkbox" name="recequivalencia" value="TRUE" checked=""/>
                    {else}
                    <input type="checkbox" name="recequivalencia" value="TRUE"/>
                    {/if}
                    Aplicar recargo de equivalencia
                </label>
            </div>
        </div>
        <div class="col-sm-5">
            <a href="{$fsc->forma_pago->url()}">Forma de pago</a>:
            <select name="codpago" class="form-control">
                {loop="$fsc->forma_pago->all()"}
                {if="$fsc->empresa->codpago==$value->codpago"}
                <option value="{$value->codpago}" selected="">{$value->descripcion}</option>
                {else}
                <option value="{$value->codpago}">{$value->descripcion}</option>
                {/if}
                {/loop}
            </select>
        </div>
        <div class="col-sm-3">
            <a href="{$fsc->almacen->url()}">Almacén</a>:
            <select name="codalmacen" class="form-control">
                {loop="$fsc->almacen->all()"}
                {if="$fsc->empresa->codalmacen==$value->codalmacen"}
                <option value="{$value->codalmacen}" selected="">{$value->nombre}</option>
                {else}
                <option value="{$value->codalmacen}">{$value->nombre}</option>
                {/if}
                {/loop}
            </select>
        </div>
    </div>
</div>
<div class="panel-footer" style="text-align: right;">
    <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled = true; this.form.action = '{$fsc->url()}#facturacion'; this.form.submit();">
        <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Guardar
    </button>
</div>