<div class="table-responsive">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th class="text-left" width="180">Referencia</th>
                <th class="text-left">Descripción</th>
                <th class="text-right" width="90">Cantidad</th>
                <th width="50"></th>
                <th class="text-right" width="110">Precio</th>
                <th class="text-right" width="90">Dto. %</th>
                <th class="text-right no-wrap dtosl" width="90">Dto. 2 %</th>
                <th class="text-right no-wrap dtosl" width="90">Dto. 3 %</th>
                <th class="text-right no-wrap dtosl" width="90">Dto. 4 %</th>
                <th class="text-right" width="130">Neto</th>
                <th class="text-right" width="115">{#FS_IVA#}</th>
                <th class="text-right recargo" width="115">RE %</th>
                <th class="text-right irpf" width="115">{#FS_IRPF#} %</th>
                <th class="text-right" width="140">Total</th>
            </tr>
        </thead>
        <tbody id="lineas_doc"></tbody>
        <tfoot>
            <tr class="info">
                <td>
                    <input id="i_new_line" class="form-control" type="text" placeholder="Buscar para añadir..." autocomplete="off"/>
                </td>
                <td colspan="11">
                    <a href="#" class="btn btn-sm btn-default" title="Añadir sin buscar" onclick="return add_linea_libre()">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                </td>
                <td class="recargo">
                </td>
                <td class="irpf">
                </td>
            </tr>
        </tfoot>
    </table>
    <table class="table table-condensed">
        <tfoot>
            <tr>
                <th class="text-right no-wrap vertical-align-bottom">Neto</th>
                <th class="dtost text-right vertical-align-bottom no-wrap">Dto. 1 %</th>
                <th class="dtost text-right vertical-align-bottom no-wrap">Dto. 2 %</th>
                <th class="dtost text-right vertical-align-bottom no-wrap">Dto. 3 %</th>
                <th class="dtost text-right vertical-align-bottom no-wrap">Dto. 4 %</th>
                <th class="dtost text-right vertical-align-bottom no-wrap">Dto. 5 %</th>
                <th class="dtost text-right vertical-align-bottom no-wrap">Base</th>
                <th class="text-right vertical-align-bottom no-wrap">{#FS_IVA#}</th>
                <th class="recargo text-right vertical-align-bottom no-wrap">Recargo</th>
                <th class="irpf text-right vertical-align-bottom no-wrap">{#FS_IRPF#}</th>
                <th class="text-right vertical-align-bottom no-wrap">Total</th>
            </tr>
            <tr class="info">
                <td>
                    <div id="anetosindto" class="form-control text-right" onkeyup="recalcular()" onclick="this.select()" style="font-weight: bold;" disabled>{$fsc->show_numero(0)}</div>
                </td>
                <td class="dtost">
                    <input id="adtopor1" name="adtopor1" class="form-control text-right" onkeyup="recalcular()" onclick="this.select()" style="font-weight: bold;" value="{$fsc->show_numero(0)}"></input>
                </td>
                <td class="dtost">
                    <input id="adtopor2" name="adtopor2" class="form-control text-right" onkeyup="recalcular()" onclick="this.select()" style="font-weight: bold;" value="{$fsc->show_numero(0)}"></input>
                </td>
                <td class="dtost">
                    <input id="adtopor3" name="adtopor3" class="form-control text-right" onkeyup="recalcular()" onclick="this.select()" style="font-weight: bold;" value="{$fsc->show_numero(0)}"></input>
                </td>
                <td class="dtost">
                    <input id="adtopor4" name="adtopor4" class="form-control text-right" onkeyup="recalcular()" onclick="this.select()" style="font-weight: bold;" value="{$fsc->show_numero(0)}"></input>
                </td>
                <td class="dtost">
                    <input id="adtopor5" name="adtopor5" class="form-control text-right" onkeyup="recalcular()" onclick="this.select()" style="font-weight: bold;" value="{$fsc->show_numero(0)}"></input>
                </td>
                <td class="dtost">
                    <div id="aneto" class="form-control text-right" style="font-weight: bold;" disabled>{$fsc->show_numero(0)}</div>
                </td>
                <td>
                    <div id="aiva" class="form-control text-right" style="font-weight: bold;" disabled>{$fsc->show_numero(0)}</div>
                </td>
                <td class="recargo">
                    <div id="are" class="form-control text-right" style="font-weight: bold;" disabled>{$fsc->show_numero(0)}</div>
                </td>
                <td class="irpf">
                    <div id="airpf" class="form-control text-right" style="font-weight: bold;" disabled>{$fsc->show_numero(0)}</div>
                </td>
                <td>
                    <input type="text" name="atotal" id="atotal" class="form-control text-right" style="font-weight: bold;"
                           value="0" onchange="recalcular()" autocomplete="off"/>
                </td>
            </tr>
        </tfoot>
    </table>
</div>