<div class="modal fade" id="modal_imprimir_albaran">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Imprimir {#FS_ALBARAN#}</h4>
            {if="mt_rand(0,1)==0"}
            <p class="help-block">
               Más formatos disponibles <a href="https://facturascripts.com/buscar?query=imprimir" target="_blank">en la web</a>.
            </p>
            {else}
            <p class="help-block">
               Más formatos disponibles en el plugin <a href="https://facturascripts.com/plugin/plantillas_pdf" target="_blank">Plantillas PDF</a>.
            </p>
            {/if}
         </div>
         <div class="modal-body">
         {loop="$fsc->extensions"}
            {if="$value->type=='pdf'"}
            <a href="index.php?page={$value->from}{$value->params}&id={$fsc->albaran->idalbaran}" target="_blank" class="btn btn-block btn-default">{$value->text}</a>
            {/if}
         {/loop}
         </div>
         <div class="modal-footer">
            <a href="index.php?page=admin_empresa#impresion" target="_blank">
               <span class="glyphicon glyphicon-wrench"></span>&nbsp; Opciones de impresión
            </a>
         </div>
      </div>
   </div>
</div>

{if="$fsc->empresa->can_send_mail()"}
<form class="form" role="form" name="f_enviar_email" action="{$fsc->url()}" method="post" enctype="multipart/form-data">
   <input type="hidden" name="codcliente" value="{$fsc->albaran->codcliente}"/>
   <div class="modal" id="modal_enviar">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">
                  <span class="glyphicon glyphicon-envelope"></span>&nbsp;
                  Enviar {#FS_ALBARAN#}
               </h4>
               {if="$fsc->albaran->femail"}
               <p class="help-block">
                  <span class="glyphicon glyphicon-send"></span> &nbsp;
                  Este {#FS_ALBARAN#} fue enviado el {$fsc->albaran->femail}.
               </p>
               {elseif="!in_array('CRM',$GLOBALS['plugins'])"}
               <p class="help-block">
                  Gestiona los contactos del cliente y comunícate con ellos con el
                  <a href="https://facturascripts.com/plugin/CRM" target="_blank">plugin CRM</a>.
               </p>
               {/if}
            </div>
            <div class="modal-body">
               <div class="form-group">
                  <div class="input-group">
                     <span class="input-group-addon">De</span>
                     <select name="de" class="form-control">
                        {if="$fsc->user->email"}
                        <option>{$fsc->user->email}</option>
                        {/if}
                        <option>{$fsc->empresa->email}</option>
                     </select>
                  </div>
               </div>
               <div class="form-group">
                  <div class="input-group">
                     <span class="input-group-addon">Para</span>
                     {if="$fsc->cliente_s"}
                     <input id="ac_email" class="form-control" type="text" name="email" value="{$fsc->cliente_s->email}" autocomplete="off"/>
                     <span class="input-group-addon" title="Asignar email al cliente">
                        <input type="checkbox" name="guardar" value="TRUE"/>
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                     </span>
                     {else}
                     <input id="ac_email" class="form-control" type="text" name="email" autocomplete="off"/>
                     {/if}
                  </div>
               </div>
               <div class="form-group">
                  <div class="input-group">
                     <span class="input-group-addon">Copia</span>
                     <input id="ac_email2" class="form-control" type="text" name="email_copia" autocomplete="off"/>
                     <span class="input-group-addon" title="Copia de carbón oculta">
                        <input type="checkbox" name="cco" value="TRUE"/>
                        <span class="glyphicon glyphicon-eye-close"></span>
                     </span>
                  </div>
               </div>
               <div class="form-group">
                  <textarea class="form-control" name="mensaje" rows="6">{function="plantilla_email('albaran',$fsc->albaran->codigo,$fsc->empresa->email_config['mail_firma'])"}</textarea>
                  <p class="help-block">
                     <a href="index.php?page=admin_empresa#email">Editar la firma</a>
                  </p>
               </div>
               <div class="form-group">
                  <input name="adjunto" type="file"/>
                  <p class="help-block">
                     Se va a adjuntar el {#FS_ALBARAN#}, pero si lo deseas
                     puedes añadir otro archivo de hasta {$fsc->get_max_file_upload()} MB
                  </p>
               </div>
               <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <span class="glyphicon glyphicon-send"></span>&nbsp; Enviar <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                  {loop="$fsc->extensions"}
                     {if="$value->type=='email'"}
                     <li>
                        <a href="#" onclick="this.disabled=true;enviar_email('index.php?page={$value->from}{$value->params}&id={$fsc->albaran->idalbaran}');">{$value->text}</a>
                     </li>
                     {/if}
                  {/loop}
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</form>
{else}
<div class="modal" id="modal_enviar">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">
               <span class="glyphicon glyphicon-envelope"></span>&nbsp; Enviar por email
            </h4>
         </div>
         <div class="modal-body">
            <a href='index.php?page=admin_empresa#email' class="btn btn-sm btn-warning">
               <span class="glyphicon glyphicon-wrench"></span>&nbsp; Configurar
            </a>
         </div>
      </div>
   </div>
</div>
{/if}

<form class="form" role="form" action="{$fsc->url()}" method="post">
   <input type="hidden" name="petid" value="{$fsc->random_string()}"/>
   <div class="modal" id="modal_aprobar">
      <div class="modal-dialog modal-sm">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Aprobar {#FS_ALBARAN#}</h4>
            </div>
            <div class="modal-body">
               <div class="form-group">
                  Fecha de la factura:
                  <input class="form-control datepicker" type="text" name="facturar" value="{$fsc->today()}" autocomplete="off"/>
                  <p class="help-block">
                     Se generará una factura. Si deseas aprobar de golpe todos
                     los {#FS_ALBARANES#} pendientes, puedes usar el plugin <b>megafacturador</b>.
                  </p>
               </div>
               <div class="form-group">
                  <a href="{$fsc->forma_pago->url()}">Forma de pago</a>:
                  <select name="codpago" class="form-control">
                     {loop="$fsc->forma_pago->all()"}
                        {if="$value->codpago==$fsc->albaran->codpago"}
                        <option value="{$value->codpago}" selected="">{$value->descripcion}</option>
                        {else}
                        <option value="{$value->codpago}">{$value->descripcion}</option>
                        {/if}
                     {/loop}
                  </select>
               </div>
               <div class="text-right">
                  <button class="btn btn-sm btn-primary" onclick="this.disabled=true;this.form.submit();">
                     <span class="glyphicon glyphicon-paperclip"></span>&nbsp; Aprobar
                  </button>
               </div>
            </div>
         </div>
      </div>
   </div>
</form>

<form action="{$fsc->ppage->url()}" method="post">
   <input type="hidden" name="delete" value="{$fsc->albaran->idalbaran}"/>
   <div class="modal fade" id="modal_eliminar">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">¿Realmente desea eliminar este {#FS_ALBARAN#}?</h4>
            </div>
            {if="$fsc->albaran->idfactura"}
               {if="$fsc->allow_delete_fac"}
               <div class="modal-body bg-warning">
                  Hay <b>una factura asociada</b> que será eliminada junto con este {#FS_ALBARAN#}.
               </div>
               <div class="modal-footer">
                  <div class="pull-left">
                     <label>
                        <input type="checkbox" name="stock" value="TRUE" checked=""/>
                        Actualizar el stock
                     </label>
                  </div>
                  <button class="btn btn-sm btn-danger" onclick="this.disabled=true;this.form.submit();">
                     <span class="glyphicon glyphicon-trash"></span>&nbsp; Eliminar
                  </button>
               </div>
               {else}
               <div class="modal-body bg-danger">
                  Hay <b>una factura asociada</b> que será eliminada junto con este {#FS_ALBARAN#}.
                  Pero no tienes permiso para eliminar facturas.
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cerrar</button>
               </div>
               {/if}
            {else}
            <div class="modal-footer">
               <div class="pull-left">
                  <label>
                     <input type="checkbox" name="stock" value="TRUE" checked=""/>
                     Actualizar el stock
                  </label>
               </div>
               <button class="btn btn-sm btn-danger" onclick="this.disabled=true;this.form.submit();">
                  <span class="glyphicon glyphicon-trash"></span>&nbsp; Eliminar
               </button>
            </div>
            {/if}
         </div>
      </div>
   </div>
</form>