{include="header"}

<script type="text/javascript">
   $(document).ready(function() {
      if(window.location.hash.substring(1) == 'nuevo')
      {
         $("#modal_nuevo_agente").modal('show');
         document.f_nuevo_agente.snombre.focus();
      }
      else
      {
         document.f_custom_search.query.focus();
      }
      
      $("#b_nuevo_agente").click(function(event) {
         event.preventDefault();
         $("#modal_nuevo_agente").modal('show');
         document.f_nuevo_agente.snombre.focus();
      });
   });
</script>

<div class="container-fluid hidden-print">
   <div class="row">
      <div class="col-sm-6 col-xs-6">
         <div class="btn-group hidden-xs">
            <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
               <span class="glyphicon glyphicon-refresh"></span>
            </a>
            {if="$fsc->page->is_default()"}
            <a class="btn btn-sm btn-default active" href="{$fsc->url()}&amp;default_page=FALSE" title="desmarcar como página de inicio">
               <span class="glyphicon glyphicon-home"></span>
            </a>
            {else}
            <a class="btn btn-sm btn-default" href="{$fsc->url()}&amp;default_page=TRUE" title="marcar como página de inicio">
               <span class="glyphicon glyphicon-home"></span>
            </a>
            {/if}
         </div>
         <div class="btn-group">
            <a id="b_nuevo_agente" class="btn btn-sm btn-success" href="#">
               <span class="glyphicon glyphicon-plus"></span>
               <span class="hidden-xs">&nbsp; Nuevo</span>
            </a>              
            {loop="$fsc->extensions"}
               {if="$value->type=='button'"}
               <a href="index.php?page={$value->from}{$value->params}" class="btn btn-sm btn-default">{$value->text}</a>
               {/if}
            {/loop}
         </div>
         <a class="btn btn-sm btn-default" onclick="window.print();">
            <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
         </a>
      </div>
      <div class="col-sm-6 col-xs-6 text-right">
         <h2 style="margin-top: 0px;">
            <i class="fa fa-users" aria-hidden="true"></i> Empleados
         </h2>
      </div>
   </div>
</div>

<div id="tab_agentes" role="tabpanel">
   <ul class="nav nav-tabs">
      <li role="presentation" class="active">
         <a href="{$fsc->url()}">
            <span class="glyphicon glyphicon-search"></span>
            <span class="hidden-xs">&nbsp; Resultados</span>
            <span class="badge">{$fsc->total_resultados}</span>
         </a>
      </li>
      {loop="$fsc->extensions"}
         {if="$value->type=='tab'"}
         <li role="presentation">
            <a href="#ext_{$value->name}" aria-controls="ext_{$value->name}" role="tab" data-toggle="tab">{$value->text}</a>
         </li>
         {/if}
      {/loop}
   </ul>
   <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
         <form name="f_custom_search" action="{$fsc->url()}" method="post" class="form">
            <div class="container-fluid" style="margin-top: 15px; margin-bottom: 10px;">
               <div class="row">
                  <div class="col-sm-2">
                     <div class="input-group">
                        <input class="form-control" type="text" name="query" value="{$fsc->query}" autocomplete="off" placeholder="Buscar">
                        <span class="input-group-btn hidden-sm">
                           <button class="btn btn-primary" type="submit">
                              <span class="glyphicon glyphicon-search"></span>
                           </button>
                        </span>
                     </div>
                  </div>
                  <div class="col-sm-2">
                     <select name="provincia" class="form-control" onchange="this.form.submit()">
                        <option value="">Cualquier provincia</option>
                        <option value="">------</option>
                        {loop="$fsc->provincias()"}
                           {if="$key===$fsc->provincia"}
                           <option value="{$key}" selected="">{$value}</option>
                           {else}
                           <option value="{$key}">{$value}</option>
                           {/if}
                        {/loop}
                     </select>
                  </div>
                  <div class="col-sm-2">
                     <select name="ciudad" class="form-control" onchange="this.form.submit()">
                        <option value="">Cualquier ciudad</option>
                        <option value="">------</option>
                        {loop="$fsc->ciudades()"}
                           {if="$key===$fsc->ciudad"}
                           <option value="{$key}" selected="">{$value}</option>
                           {else}
                           <option value="{$key}">{$value}</option>
                           {/if}
                        {/loop}
                     </select>
                  </div>
                  <div class="col-sm-4"></div>
                  <div class="col-sm-2">
                     <div class="input-group">
                        <div class="input-group-addon">
                           <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                        </div>
                        <select name="orden" class="form-control" onchange="this.form.submit()">
                           <option value="nombre ASC">Orden: nombre</option>
                           <option value="nombre DESC"{if="$fsc->orden=='nombre DESC'"} selected=""{/if}>Orden: nombre descendente</option>
                           <option value="f_alta ASC"{if="$fsc->orden=='f_alta ASC'"} selected=""{/if}>Orden: fecha</option>
                           <option value="f_alta DESC"{if="$fsc->orden=='f_alta DESC'"} selected=""{/if}>Orden: fecha descendente</option>
                        </select>
                     </div>
                  </div>
               </div>
            </div>
         </form>
         <div class="table-responsive">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th class="text-left">Nombre + Apellidos</th>
                     <th class="text-left">{#FS_CIFNIF#}</th>
                     <th class="text-left">Cargo</th>
                     <th class="text-left">Teléfono</th>
                     <th class="text-left">Nacimiento</th>
                     <th class="text-right">Fecha Alta</th>
                  </tr>
               </thead>
               {loop="$fsc->resultados"}
               <tr class='clickableRow{if="$value->f_baja"} danger{/if}' href='{$value->url()}'>
                  <td>
                     {$value->get_fullname()}
                     {if="$value->f_baja"}
                     &nbsp; <span class="label label-danger" title="Empleado dado de baja">Baja</span>
                     {/if}
                  </td>
                  <td>{$value->dnicif}</td>
                  <td>{$value->cargo}</td>
                  <td>{if="$value->telefono==''"}-{else}{$value->telefono}{/if}</td>
                  <td>{$value->f_nacimiento}</td>
                  <td class="text-right">{$value->f_alta}</td>
               </tr>
               {else}
               <tr class="warning">
                  <td colspan="6">Sin resultados.</td>
               </tr>
               {/loop}
            </table>
         </div>
         <div class="container-fluid">
            <div class="row">
               <div class="col-sm-12 text-center">
                  <ul class="pagination">
                     {loop="$fsc->paginas()"}
                     <li{if="$value['actual']"} class="active"{/if}>
                        <a href="{$value['url']}">{$value['num']}</a>
                     </li>
                     {/loop}
                  </ul>
               </div>
            </div>
         </div>
      </div>
      {loop="$fsc->extensions"}
         {if="$value->type=='tab'"}
         <div role="tabpanel" class="tab-pane" id="ext_{$value->name}">
            <iframe src="index.php?page={$value->from}{$value->params}" width="100%" height="2000" frameborder="0"></iframe>
         </div>
         {/if}
      {/loop}
   </div>
</div>

<form class="form-horizontal" role="form" name="f_nuevo_agente" action="{$fsc->url()}" method="post">
   <div class="modal" id="modal_nuevo_agente">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">
                  <span class="glyphicon glyphicon-user"></span>
                  &nbsp; Nuevo empleado
               </h4>
               <p class="help-block">
                  Puedes tener empleados que no tengan acceso a FacturaScripts, o bien usuarios
                  que no sean empleados, por eso está separado.
               </p>
            </div>
            <div class="modal-body">
               <div class="form-group">
                  <label for="snombre" class="col-sm-2 control-label">Nombre</label>
                  <div class="col-sm-10">
                     <input class="form-control" type="text" name="snombre" autocomplete="off" required=""/>
                  </div>
               </div>
               <div class="form-group">
                  <label for="sapellidos" class="col-sm-2 control-label">Apellidos</label>
                  <div class="col-sm-10">
                     <input class="form-control" type="text" name="sapellidos" autocomplete="off"/>
                  </div>
               </div>
               <div class="form-group">
                  <label for="sdnicif" class="col-sm-2 control-label">{#FS_CIFNIF#}</label>
                  <div class="col-sm-10">
                     <input class="form-control" type="text" name="sdnicif" autocomplete="off"/>
                  </div>
               </div>
               <div class="form-group">
                  <label for="stelefono" class="col-sm-2 control-label">Teléfono</label>
                  <div class="col-sm-10">
                     <input class="form-control" type="text" name="stelefono" autocomplete="off"/>
                  </div>
               </div>
               <div class="form-group">
                  <label for="semail" class="col-sm-2 control-label">Email</label>
                  <div class="col-sm-10">
                     <input class="form-control" type="text" name="semail" autocomplete="off"/>
                  </div>
               </div>
            </div>
            <div class="modal-footer">
               <button class="btn btn-sm btn-primary" type="submit">
                  <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Guardar
               </button>
            </div>
         </div>
      </div>
   </div>
</form>

{include="footer"}