{include="header"}

<script type="text/javascript">
   function delete_agencia(cod) {
      if (confirm("¿Realmente desea eliminar la agencia " + cod + "?")) {
         window.location.href = '{$fsc->url()}&delete=' + cod;
      }
   }
   $(document).ready(function () {
      $("#b_nueva_agencia_transporte").click(function (event) {
         event.preventDefault();
         $("#modal_nueva_agencia_transporte").modal('show');
      });

      {loop="$fsc->listado"}
      $("#b_modal_editar_agencia_transporte_{$value->codtrans}").click(function (event) {
         event.preventDefault();
         $("#modal_editar_agencia_transporte_{$value->codtrans}").modal('show');
      });
      {/loop}
   });
</script>

<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h1>
               <span class="glyphicon glyphicon-plane"></span>
               Agencias de transporte
               <a class="btn btn-xs btn-default" href="{$fsc->url()}" title="Recargar la página">
                  <span class="glyphicon glyphicon-refresh"></span>
               </a>
               <button class="btn btn-xs btn-success" type="button" data-toogle="modal" data-target="#modal_nueva_agencia_transporte" id="b_nueva_agencia_transporte" title="Nueva">
                  <span class="glyphicon glyphicon-plus"></span>
                  <span class="hidden-xs">&nbsp; Nueva</span>
               </button>
               <div class="btn-group">
                  {loop="$fsc->extensions"}
                  {if="$value->type=='button'"}
                  <a href="index.php?page={$value->from}{$value->params}" class="btn btn-xs btn-default">{$value->text}</a>
                  {/if}
                  {/loop}
               </div>
            </h1>
            <p class="help-block">
               Aquí puedes dar de alta las agencias que uses para los envíos.
               Por ejemplo UPS, MRW, SEUR o cualquier otra.
            </p>
         </div>
      </div>
   </div>
</div>

<div class="table-responsive">
   <table class="table table-responsive table-hover">
      <thead>
         <tr>
            <th class="text-left" width="150">Código</th>
            <th class="text-left">Nombre</th>
            <th class="text-left">Teléfono</th>
            <th class="text-left">Web</th>
            <th class="text-center">Activo</th>
            <th width="120"></th>
         </tr>
      </thead>
      <tbody>
         {loop="$fsc->listado"}
      <form action="{$fsc->url()}" method="post" class="form">
         <tr{if="!$value->activo"} class="danger"{/if}>
            <td>
               {$value->codtrans}
            </td>
            <td>
               {$value->nombre}
            </td>
            <td>
               {$value->telefono}
            </td>
            <td>
               {if="$value->web"}
               <a href="{$value->web}" target="_blank">{$value->web}</a>
               {/if}
            </td>
            <td class="text-center">
               {if="$value->activo"}
               <span class="glyphicon glyphicon-check"></span>
               {else}
               <span class="glyphicon glyphicon-uncheck"></span>
               {/if}
            </td>
            <td class="text-right">
               <div class="btn-group">
                  <button class="btn btn-xs btn-primary" type="button" data-toogle="modal" data-target="#modal_nueva_agencia_transporte" id="b_modal_editar_agencia_transporte_{$value->codtrans}" title="Editar">
                     <span class="glyphicon glyphicon-pencil"></span>
                     <span class="hidden-xs">&nbsp; Editar</span>
                  </button>
               </div>
            </td>
         </tr>
      </form>
      {/loop}
      </tbody>
   </table>
</div>

<!-- Modal nueva agencia de tranporte -->
<div class="modal fade" id="modal_nueva_agencia_transporte" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
   <form action="{$fsc->url()}" method="post" class="form">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title" id="myModalLabel">
                  <span class="glyphicon glyphicon-plus"></span>
                  Nueva agencia de transporte
               </h4>
            </div>
            <div class="modal-body">
               <div class="container-fluid" style="margin-top: 10px;">
                  <div class="row">
                     <div class="col-sm-12">
                        <div class="row">
                           <div class="col-sm-4">
                              <div class="form-group">
                                 Código:
                                 <input type="text" name="codtrans" class="form-control" maxlength="8" autocomplete="off" placeholder="Nuevo código"/>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="form-group">
                                 Nombre:
                                 <input type="text" name="nombre" class="form-control" maxlength="100" autocomplete="off" placeholder="Nueva agencia"/>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-sm-4">
                              <div class="form-group">
                                 Teléfono:
                                 <input type="text" name="telefono" class="form-control" maxlength="20" autocomplete="off" placeholder="Teléfono"/>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="form-group">
                                 Web:
                                 <input type="text" name="web" class="form-control" maxlength="100" autocomplete="off" placeholder="Web"/>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-sm-12 text-right">
                              <div class="form-group">
                                 <div class="checkbox">
                                    <input type="checkbox" class="pull-left" name="activo" value="TRUE" checked=""/>
                                    <label>Activo</label>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">
                  <span class="glyphicon glyphicon-remove"></span>
                  <span class="hidden-xs">&nbsp; Cerrar</span>
               </button>
               <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled = true;this.form.submit();" title="Guardar">
                  <span class="glyphicon glyphicon-floppy-disk"></span>
                  <span class="hidden-xs">&nbsp; Guardar</span>
               </button>
            </div>
         </div>
      </div>
   </form>
</div>

{loop="$fsc->listado"}
<!-- Modal editar agencia de tranporte -->
<div class="modal fade" id="modal_editar_agencia_transporte_{$value->codtrans}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
   <form action="{$fsc->url()}" method="post" class="form">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title" id="myModalLabel">Nueva agencia de transporte</h4>
            </div>
            <div class="modal-body">
               <div class="container-fluid" style="margin-top: 10px;">
                  <div class="row">
                     <div class="col-sm-12">
                        <div class="row">
                           <div class="col-sm-4">
                              <div class="form-group">
                                 Código:
                                 <input type="text" name="codtrans" value="{$value->codtrans}" class="form-control" readonly=""/>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="form-group">
                                 Nombre:
                                 <input type="text" name="nombre" value="{$value->nombre}" class="form-control" maxlength="100" autocomplete="off"/>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-sm-4">
                              <div class="form-group">
                                 Teléfono:
                                 <input type="text" name="telefono" value="{$value->telefono}" class="form-control" maxlength="20" autocomplete="off"/>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="form-group">
                                 Web
                                 <input type="text" name="web" value="{$value->web}" class="form-control" maxlength="100" autocomplete="off"/>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-sm-12 text-right">
                              <div class="form-group">
                                 <div class="checkbox">
                                    {if="$value->activo"}
                                    <input type="checkbox" class="pull-left" name="activo" value="TRUE" checked=""/>
                                    {else}
                                    <input type="checkbox" class="pull-left" name="activo" value="TRUE"/>
                                    {/if}
                                    <label>Activo</label>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">
                  <span class="glyphicon glyphicon-remove"></span>
                  <span class="hidden-xs">&nbsp; Cerrar</span>
               </button>
               {if="$fsc->allow_delete"}
               <button class="btn btn-sm btn-danger" type="button" title="Eliminar" onclick="delete_agencia('{$value->codtrans}')">
                  <span class="glyphicon glyphicon-trash"></span>
                  <span class="hidden-xs">&nbsp; Eliminar</span>
               </button>
               {/if}
               <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled = true;this.form.submit();" title="Guardar">
                  <span class="glyphicon glyphicon-floppy-disk"></span>
                  <span class="hidden-xs">&nbsp; Guardar</span>
               </button>
            </div>
         </div>
      </div>
   </form>
</div>
{/loop}

{include="footer"}