{include="header"}

<script type="text/javascript">
   $(document).ready(function() {
      $("#b_nuevo_agente").click(function(event) {
         event.preventDefault();
         $("#modal_nuevo_agente").modal('show');
         document.f_nuevo_agente.snombre.focus();
      });
   });
</script>

<div class="container-fluid" style="margin-top: 10px;">
   <div class="row">
      <div class="col-sm-6 col-xs-6">
         <div class="btn-group hidden-xs">
            <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
               <span class="glyphicon glyphicon-refresh"></span>
            </a>
            {if="$fsc->page->is_default()"}
            <a class="btn btn-sm btn-default active" href="{$fsc->url()}&amp;default_page=FALSE" title="desmarcar como página de inicio">
               <span class="glyphicon glyphicon-home"></span>
            </a>
            {else}
            <a class="btn btn-sm btn-default" href="{$fsc->url()}&amp;default_page=TRUE" title="marcar como página de inicio">
               <span class="glyphicon glyphicon-home"></span>
            </a>
            {/if}
         </div>
         
         <div class="btn-group">
            <a id="b_nuevo_agente" class="btn btn-sm btn-success" href="#">
               <span class="glyphicon glyphicon-plus"></span>
               <span class="hidden-xs"> &nbsp; Nuevo</span>
            </a>
            {loop="$fsc->extensions"}
               {if="$value->type=='button'"}
               <a href="index.php?page={$value->from}" class="btn btn-sm btn-default">{$value->text}</a>
               {/if}
            {/loop}
         </div>
      </div>
      <div class="col-sm-6 col-xs-6 text-right">
         <h2 style="margin-top: 0px;">Empleados</h2>
      </div>
   </div>
</div>

<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            <th class="text-left">Código + Nombre + Apellidos</th>
            <th class="text-left">{#FS_CIFNIF#}</th>
            <th class="text-left">Teléfono</th>
            <th class="text-right">Email</th>
         </tr>
      </thead>
      {loop="$fsc->agente->all()"}
      <tr class="clickableRow" href="{$value->url()}">
         <td><a href="{$value->url()}">{$value->codagente}</a> {$value->get_fullname()}</td>
         <td>{$value->dnicif}</td>
         <td>{if="$value->telefono==''"}-{else}{$value->telefono}{/if}</td>
         <td class="text-right">{if="$value->email==''"}-{else}{$value->email}{/if}</td>
      </tr>
      {else}
      <tr class="bg-warning">
         <td colspan="4">Sin resultados.</td>
      </tr>
      {/loop}
   </table>
</div>

<form class="form-horizontal" role="form" name="f_nuevo_agente" action="{$fsc->url()}" method="post">
   <div class="modal" id="modal_nuevo_agente">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Nuevo empleado</h4>
            </div>
            <div class="modal-body">
               <div class="form-group">
                  <label for="snombre" class="col-lg-2 col-md-2 col-sm-2 control-label">Nombre</label>
                  <div class="col-lg-10 col-md-10 col-sm-10">
                     <input class="form-control" type="text" name="snombre" autocomplete="off"/>
                  </div>
               </div>
               <div class="form-group">
                  <label for="sapellidos" class="col-lg-2 col-md-2 col-sm-2 control-label">Apellidos</label>
                  <div class="col-lg-10 col-md-10 col-sm-10">
                     <input class="form-control" type="text" name="sapellidos" autocomplete="off"/>
                  </div>
               </div>
               <div class="form-group">
                  <label for="sdnicif" class="col-lg-2 col-md-2 col-sm-2 control-label">{#FS_CIFNIF#}</label>
                  <div class="col-lg-10 col-md-10 col-sm-10">
                     <input class="form-control" type="text" name="sdnicif" autocomplete="off"/>
                  </div>
               </div>
               <div class="form-group">
                  <label for="stelefono" class="col-lg-2 col-md-2 col-sm-2 control-label">Teléfono</label>
                  <div class="col-lg-10 col-md-10 col-sm-10">
                     <input class="form-control" type="text" name="stelefono" autocomplete="off"/>
                  </div>
               </div>
               <div class="form-group">
                  <label for="semail" class="col-lg-2 col-md-2 col-sm-2 control-label">Email</label>
                  <div class="col-lg-10 col-md-10 col-sm-10">
                     <input class="form-control" type="text" name="semail" autocomplete="off"/>
                  </div>
               </div>
            </div>
            <div class="modal-footer">
               <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                  <span class="glyphicon glyphicon-floppy-disk"></span>
                  <span class="hidden-xs"> &nbsp; Guardar</span>
               </button>
            </div>
         </div>
      </div>
   </div>
</form>

{include="footer"}