{include="header"}

<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h1>
               <span class="glyphicon glyphicon-upload"></span>
               Actualización necesaria
               <small>2016.019</small>
            </h1>
         </div>
         <p class='help-block'>
            FacturaScripts tiene un desarrollo muy rápido y es necesario que
            ejecutes el actualizador antes de continuar. Una vez actualizado
            pulsa el botón continuar.
         </p>
         <br/>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-4">
         <a href="updater.php" target="_blank" class="btn btn-lg btn-primary">
            <span class="glyphicon glyphicon-upload"></span>&nbsp; Actualizar
         </a>
      </div>
      <div class="col-sm-4">
         
      </div>
      <div class="col-sm-4 text-right">
         <a href="{$fsc->url()}" class="btn btn-lg btn-default">
            <span class="glyphicon glyphicon-ok"></span>&nbsp; Continuar
         </a>
      </div>
   </div>
</div>

{include="footer"}