{include="header"}

<script type="text/javascript">
   function fs_marcar_todo()
   {
      $("#f_agrupar_pro input[name='idalbaran[]']").prop('checked', true);
   }
   function fs_marcar_nada()
   {
      $("#f_agrupar_pro input[name='idalbaran[]']").prop('checked', false);
   }
   $(document).ready(function() {
      document.f_agrupar_alb.ac_proveedor.focus();
      $("#ac_proveedor").autocomplete({
         serviceUrl: '{$fsc->url()}',
         paramName: 'buscar_proveedor',
         onSelect: function(suggestion) {
            if(suggestion)
            {
               if(document.f_agrupar_alb.codproveedor.value != suggestion.data && suggestion.data != '')
               {
                  document.f_agrupar_alb.codproveedor.value = suggestion.data;
               }
            }
         }
      });
   });
</script>

<form name="f_agrupar_alb" action="{$fsc->url()}" method="post" class="form">
   {if="$fsc->proveedor"}
   <input type="hidden" name="codproveedor" value="{$fsc->proveedor->codproveedor}"/>
   {else}
   <input type="hidden" name="codproveedor"/>
   {/if}
   <div class="container-fluid" style="margin-top: 10px;">
      <div class="row">
         <div class="col-xs-4">
            <div class="btn-group hidden-xs">
               <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
                  <span class="glyphicon glyphicon-refresh"></span>
               </a>
            </div>
            <div class="btn-group">
               <a class="btn btn-sm btn-default" href="index.php?page=compras_albaranes">
                  <span class="glyphicon glyphicon-arrow-left"></span> &nbsp; <span class="text-capitalize">{#FS_ALBARANES#}</span>
               </a>
               {loop="$fsc->extensions"}
                  {if="$value->type=='button'"}
                  <a href="index.php?page={$value->from}{$value->params}" class="btn btn-sm btn-default">{$value->text}</a>
                  {/if}
               {/loop}
            </div>
         </div>
         <div class="col-xs-8 text-right">
            <h2 style="margin-top: 0px;">Agrupar {#FS_ALBARANES#}</h2>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <div class="form-group">
               Proveedor:
               <div class="input-group">
                  {if="$fsc->proveedor"}
                  <input class="form-control" type="text" name="ac_proveedor" value="{$fsc->proveedor->nombre}" id="ac_proveedor" placeholder="Buscar" autocomplete="off"/>
                  {else}
                  <input class="form-control" type="text" name="ac_proveedor" id="ac_proveedor" placeholder="Buscar" autocomplete="off"/>
                  {/if}
                  <span class="input-group-btn">
                     <button class="btn btn-default" type="button" onclick="document.f_agrupar_pre.ac_proveedor.value='';document.f_agrupar_pre.ac_proveedor.focus();">
                        <span class="glyphicon glyphicon-edit"></span>
                     </button>
                  </span>
               </div>
            </div>
         </div>
         <div class="col-md-2">
            Serie:
            <select name="serie" class="form-control">
            {loop="$fsc->serie->all()"}
				   {if="$value->codserie==$fsc->codserie"}
				   <option value="{$value->codserie}" selected='selected'>{$value->descripcion}</option>
				   {else}
				   <option value="{$value->codserie}">{$value->descripcion}</option>
				   {/if}
				{/loop}
            </select>
         </div>
         <div class="col-md-3">
            <div class="form-group">
               Desde:
               <input type="text" name="desde" class="form-control datepicker" value="{$fsc->desde}"/>
            </div>
         </div>
         <div class="col-md-3">
            <div class="form-group">
               Hasta:
               <input type="text" name="hasta" class="form-control datepicker" value="{$fsc->hasta}"/>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <button type="submit" class="btn btn-sm btn-primary" onclick="this.disabled=true;this.form.submit();">
               <span class="glyphicon glyphicon-search"></span> &nbsp; Buscar
            </button>
         </div>
      </div>
   </div>
</form>

{if="$fsc->resultados"}
<form id="f_agrupar_pro" action="{$fsc->url()}" method="post" class="form">
   <input type="hidden" name="petition_id" value="{$fsc->random_string()}"/>
   <div class="table-responsive">
      <table class="table table-hover">
         <thead>
            <tr>
               <th class="text-left">Código + Núm. Proveedor</th>
               <th class="text-left">Observaciones</th>
               <th class="text-right">Neto</th>
               <th class="text-right">Total</th>
               <th class="text-right">Fecha</th>
            </tr>
         </thead>
         {loop="$fsc->resultados"}
         <tr{if="$value->total<0"} class="bg-warning"{/if}>
            <td>
               <div>
                  <input type="checkbox" name="idalbaran[]" value="{$value->idalbaran}" checked="checked"/>
                  <a href="{$value->url()}">{$value->codigo}</a> {$value->numproveedor}
               </div>
            </td>
            <td>{$value->observaciones_resume()}</td>
            <td class="text-right">{$fsc->show_precio($value->neto, $value->coddivisa)}</td>
            <td class="text-right">{$fsc->show_precio($value->total, $value->coddivisa)}</td>
            <td class="text-right">{$value->fecha}</td>
         </tr>
         {/loop}
         <tr>
            <td colspan="2"></td>
            <td class="text-right"><b>{$fsc->show_precio($fsc->neto)}</b></td>
            <td class="text-right"><b>{$fsc->show_precio($fsc->total)}</b></td>
            <td></td>
         </tr>
      </table>
   </div>
   
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-4">
            <div class="btn-group">
               <button class="btn btn-sm btn-default" type="button" onclick="fs_marcar_todo()" title="Marcar todo">
                  <span class="glyphicon glyphicon-check"></span>
               </button>
               <button class="btn btn-sm btn-default" type="button" onclick="fs_marcar_nada()" title="Desmarcar todo">
                  <span class="glyphicon glyphicon-unchecked"></span>
               </button>
            </div>
         </div>
         <div class="col-md-4 text-center">
            <label>
               <input type="checkbox" name="individuales" value="TRUE"/>
               Generar facturas individuales
            </label>
         </div>
         <div class="col-md-4 text-right">
            <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
               <span class="glyphicon glyphicon-file"></span> &nbsp; Generar Factura
            </button>
         </div>
      </div>
   </div>
</form>
{/if}

{include="footer"}