{include="header"}

{if="$fsc->factura"}
<script type="text/javascript" src="{$fsc->get_js_location('nueva_compra.js')}"></script>
<script type="text/javascript">
 	numlineas = {function="count($fsc->factura->get_lineas())"};
   fs_nf0 = {#FS_NF0#};
   

   proveedor = {function="json_encode($fsc->proveedor_s)"};
   subcuentas = {function="json_encode($fsc->view_subcuen)"};
   subcuentas_c = {function="json_encode($fsc->view_subcuen_dev)"};
   nueva_compra_url = 'index.php?page=nueva_compra&tipo=factura';
   kiwimaru_url = '{#FS_COMMUNITY_URL#}/index.php?page=kiwimaru';
   precio_compra = '{#FS_PRECIO_COMPRA#}';
   
   {if="$fsc->empresa->recequivalencia"}
   tiene_recargo = true;
   {/if}
   
   $(document).ready(function() {
   		$("#numlineas").val(numlineas);
      usar_serie();
      recalcular();
   });




   $(document).ready(function() {
      $("#b_imprimir").click(function(event) {
         event.preventDefault();
         $("#modal_imprimir").modal('show');
      });
      $("#b_eliminar").click(function(event) {
         event.preventDefault();
         $("#modal_eliminar").modal('show');
      });
	   $("#b_anular").click(function(event) {
         event.preventDefault();
         $("#modal_anular").modal('show');
      });
	  
	  
	  
      {if="$fsc->factura->totalrecargo==0"}
      $(".recargo").hide();
      {/if}
      {if="$fsc->factura->totalirpf==0"}
      $(".irpf").hide();
      {/if}
   });
   
   
    function guarfact()
	{
	if(verifica_()) document.f_factura.submit();
	return;	
	}
	
	function genera_asiento()
	{
	if(verifica_()) 
	{
	
	document.getElementById('gen_asiento').value = 1;
	document.getElementById('petid').value = '{$fsc->random_string()}';
	document.f_factura.submit();
	}	
	else return;	
	}
//	{$fsc->url()}&gen_asiento=TRUE&petid={$fsc->random_string()}
	
	function verifica_()	
	{
	var aler = 0;	
	
	var numsub='';
	var descr='';
	var caival = '';
	var caivenceval = '';	
	var fecha_fac = '';		
	var ban = 0;
				
				var f1 =(document.getElementById('caivence').value);
				var f2 =document.getElementById('fecha').value;
				
							
				var d1 =f1.substr(0,2);
				var m1 =f1.substr(3,2);
				var y1 =f1.substr(6);
				
				var d2 =f2.substr(0,2);
				var m2 =f2.substr(3,2);
				var y2 =f2.substr(6);
				
				var fe1 = new Date(y1,m1,d1);
				var fe2 = new Date(y2,m2,d2);
				
				if( fe1 < fe2 )
				{
				alert('La fecha CAI está vencida');
				aler = 1;
				}
	
				numsub = document.getElementById('numlineas').value;
				fecha_fac = document.getElementById('fecha').value;
				if( fecha_fac.trim() == '' )
				{
				alert('Debe colocar la fecha de la factura');
				aler = 1;
				}
				
				caival = document.getElementById('cai').value;
				caivenceval = document.getElementById('caivence').value;
				
				if( caival.trim() == '' || caivenceval.trim() == '' )
				{		
					alert("Debe completar el campo CAI y la fecha de vencimiento");
					aler = 1;
				}	 
				for(i=0;i<(numsub);i++)
					   {
					   		if(document.getElementById('desc_'+i))
							{
							  
							    descr = document.getElementById('desc_'+i).value;
							   if(descr.trim()=='')
							   {
							  alert('Debe completar el campo descripción');
							  aler = 1;						   
							   }
							   if(document.getElementById('total_'+i).value <= 0)
							   {
							   alert('El total de la linea no puede ser 0 ');
							   aler = 1;
							   }
								if( document.getElementById('subcuenta_'+i))
									{
									if( document.getElementById('subcuenta_'+i).value == 'null/%0' || document.getElementById('subcuenta_'+i).value == 'null/%' || document.getElementById('total_'+i).value == 0  ||  document.getElementById('subcuenta_'+i).value == '0/%' || document.getElementById('subcuenta_'+i).value == '/%'  || document.getElementById('subcuenta_'+i).value == '/%0' || document.getElementById('subcuenta_'+i).value == '0/0%0'  || document.getElementById('subcuenta_'+i).value == ''  ){ ban = 1;}
									}
							}									
					   }				
				if(ban == 1 ) 
				{
				alert("Falta completar el campo de SubCuenta o el Total de un Ítem es 0.00");
				aler =1;
				}												
				if( document.getElementById('atotal').value <= 0)
				{
				alert("El Total de la Factura no puede ser 0.00");
				aler = 1;
				}
				if( aler == 0) return true;
				else return false;

}


		$(function() {		
						$('.calendario').datepicker({
						format: "dd-mm-yyyy",
						autoclose: true,
							}).on('changeDate', function (ev) {
								$(this).datepicker('hide');
							});
					});

   
</script>

<form name="f_factura" id="f_factura" action="{$fsc->factura->url()}" method="post" class="form">
   <input type="hidden" name="idfactura" value="{$fsc->factura->idfactura}"/>
    <input type="hidden" name="petition_id" value="{$fsc->random_string()}"/>
   <input type="hidden" id="numlineas" name="numlineas" value="0"/>
   <input type="hidden" name="proveedor" value="{$fsc->factura->codproveedor}"/>
   <input type="hidden" name="gen_asiento" id="gen_asiento" value="0"  />
   <input type="hidden" name="petid" id="petid" value=""  />
   
   <input type="hidden" name="redir"/>
   
       <div class="container-fluid">
      <div class="row" style="margin-top: 10px;">
        <div class="col-xs-8">
			 <a class="btn btn-sm btn-default hidden-xs" href="{$fsc->url()}" title="Recargar la página">
               <span class="glyphicon glyphicon-refresh"></span>
            </a>

           {if="$fsc->factura->idasiento"}
               <a class="btn btn-sm btn-default" href="{$fsc->factura->asiento_url()}">
                  <span class="glyphicon glyphicon-eye-open"></span>
                  <span class="hidden-xs">&nbsp; Asiento contable</span>
               </a>
               {else}
			 <button class="btn btn-sm btn-default" type="button" onclick="genera_asiento()">
               <span class="glyphicon glyphicon-paperclip"></span> &nbsp; Generar asiento
            </button>

            {/if}
			      {if="$fsc->factura->pagada==1"}
                  <span class="glyphicon glyphicon-ok"></span> &nbsp; Pagada</a>
                  {/if}
			</div>
	{if="$fsc->allow_delete"}
			<div >
			<button class="btn btn-sm btn-primary" type="button" onclick="guarfact()">
               <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar...
            </button>
	{else}		
			{if="$fsc->factura->idasiento==null "}
			<div >
			<button class="btn btn-sm btn-primary" type="button" onclick="guarfact()">
               <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar...
            </button>
			{else}
			<div >
			<button class="btn btn-sm btn-primary" type="button" disabled='true' onclick="guarfact()">
               <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar...
            </button>
			{/if}
	{/if}		
			
			
{if="$fsc->allow_delete"}
			{if="$fsc->factura->idasiento==NULL and $fsc->factura->pagada=='0' and $fsc->factura_anulada=='0'"}
			 	<div class="btn-group">	
				   <a id="b_eliminar" class="btn btn-sm btn-danger" href="#">
					  <span class="glyphicon glyphicon-trash"></span>
					  <span class="hidden-sm hidden-xs">&nbsp; Eliminar</span>
				   </a>
				</div>	
			{else}
				<div class="btn-group">				
				<a id="b_eliminar" class="btn btn-sm btn-default" disabled='true' href="#">
                  <span class="glyphicon glyphicon-trash"></span>
                  <span class="hidden-sm hidden-xs">&nbsp; Eliminar</span>
               </a>
				</div>	
			{/if}
			{if="$fsc->factura->idasiento!=NULL"}
				{if="$fsc->factura->pagada=='0'"}
					{if="$fsc->factura_anulada!=1"}
						<div class="btn-group">
							<a class="btn btn-sm btn-warning"   href="{$fsc->url()}&gen_devolucion=TRUE&petid={$fsc->random_string()}&id={$fsc->factura->idfactura}">
							<span class="glyphicon glyphicon-paperclip"></span> <span class="hidden-xs">&nbsp; Anular Factura</span>
							</a>
						 </div>
					{else}
						<div class="btn-group">
							<a class="btn btn-sm btn-danger" disabled='true'  href="{$fsc->url()}&reestab_anulada=TRUE&petid={$fsc->random_string()}&id={$fsc->factura->idfactura}">
							<span class="glyphicon glyphicon-remove-circle"></span> <span class="hidden-xs">&nbsp;Factura anulada</span>
							</a>
					   </div>
					{/if}
				{else}
					<div class="btn-group">
							<a id="b_anular" class="btn btn-sm btn-default" disabled='true'  href="#">
							<span class="glyphicon glyphicon-paperclip"></span> <span class="hidden-xs">&nbsp; Anular Factura</span>
						   </a>
					</div>
				{/if}
			{else}
					<div class="btn-group">
							<a id="b_anular" class="btn btn-sm btn-default" disabled='true'  href="#">
							<span class="glyphicon glyphicon-paperclip"></span> <span class="hidden-xs">&nbsp; Anular Factura</span>
						   </a>
					</div>
			{/if}				  
{/if}
		
  		</div>
	  </div>
	</div>
   
   
    <div class="container-fluid">
		<div class="row">
         <div class="col-sm-4">		 
            <h3 style="margin-top: 1px;">
			<a href="{$fsc->ppage->url()}">{#FS_FACTURAS#}</a>&nbsp;/
            <a href="">{$fsc->factura->nombre}</a>
            </h3>
			 <div>
			   {if="$fsc->agente"}
			   <p>
			   <span class="text-capitalize">{#FS_ALBARAN#}</span> creado por
			   <a href="{$fsc->agente->url()}">{$fsc->agente->get_fullname()}</a>.
			   </p>
			   {else}
			   <p>Sin datos de qué empleado ha creado este {#FS_ALBARAN#}.</p>
			   {/if}
			 </div>
         </div>  
   
 	<div class="col-sm-2">
			
				  {$compr=substr($fsc->factura->numproveedor, 2)}
				  {if="substr($fsc->factura->numproveedor, 0,1)=='B'"}<label style="font:bold;font-size:18px">FACTURA B :</label>{/if}
				  {if="substr($fsc->factura->numproveedor, 0,1)=='F'"}<label style="font:bold;font-size:18px">FACTURA C :</label>{/if}
				  {if="substr($fsc->factura->numproveedor, 0,1)=='R'"}<label style="font:bold;font-size:18px">REMITO :</label>{/if}
				  {if="substr($fsc->factura->numproveedor, 0,1)=='T'"}<label style="font:bold;font-size:18px">TICKET FACTURA:</label>{/if}
				  {if="substr($fsc->factura->numproveedor, 0,1)=='Q'"}<label style="font:bold;font-size:18px">TICKET CRÉDITO:</label>{/if}
				  {if="substr($fsc->factura->numproveedor, 0,1)=='C'"}<label style="font:bold; font-size:18px">NOTA DE CRÉDITO :</label>{/if}
				  {if="substr($fsc->factura->numproveedor, 0,1)=='D'"}<label style="font:bold;font-size:18px">NOTA DE DÉBITO :</label>{/if}		
				  {$tipcompr=substr($fsc->factura->numproveedor, 0,1)}
				  {$numcompr=substr($fsc->factura->numproveedor, 2)}
			  
			<input type="text" name="comprobantenum" id="comprobantenum" class="form-control" style="font-size:18px;" readonly="true" value="{$numcompr}" />
			</div>	  
	  	  <div class="col-sm-2">
            <div class="form-group" style="font:bold;font-size:18px">
               Fecha:
               <input type="text" name="fecha" id="fecha" class="form-control calendario" value="{$fsc->factura->fecha}" autocomplete="off"/>
			</div>
		</div>
        <div class="col-sm-2">
            <div class="form-group" style="font:bold;font-size:18px">
               Hora:
               <input type="text" name="hora" class="form-control" value="{$fsc->factura->hora}" autocomplete="off"/>
            </div>
         </div>
      </div>
  	  
	  				<input type="hidden" name="tipo" id="tipo" value="{$tipcompr}"/>
					<input type="hidden" name="tipo_com" id="tipo_com" value="{$tipcompr}"/>
					<input type="hidden" name="codserie" id="codserie" value="{$fsc->factura->codserie}" />
					<input type="hidden" name="coddivisa" id="coddivisa" value="{$fsc->factura->coddivisa}" />
					
	  				 <div class="col-sm-2">
					 <div class="form-group" style="font:bold;font-size:12px; width:210px">
					&nbsp;&nbsp;&nbsp;&nbsp;CAI :&nbsp;&nbsp;<input type="text" class="form-control"  id="cai" name="cai" value="{$fsc->factura->cai}" />
					</div></div>
					<div class="col-sm-3">
					  <div class="form-group" style="font:bold;font-size:14px">
					&nbsp;&nbsp;Vence :&nbsp;&nbsp;<input type="text" id="caivence" name="caivence" class="form-control calendario"  style="width:150px" {if="strtotime($fsc->factura->caivence) >strtotime('01-01-2000')"}  value="{$fsc->factura->caivence}"{else} value="" {/if}   />
					</div></div>
					 




		 
		 
		 
  </div>
 
   <input type="hidden" name="numproveedor" value="{$fsc->factura->numproveedor}"/>
                           
                    
                        
                        
   
<div role="tabpanel">

		  <ul class="nav nav-tabs" role="tablist">
			 <li role="presentation" class="active">
				<a href="#lineas_f" aria-controls="lineas_f" role="tab" data-toggle="tab">
				   <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
				   <span class="hidden-xs">&nbsp; Líneas</span>
				</a>
			 </li>

	

		  </ul>
	  
	  
	  
<div class="tab-content">

         <div role="tabpanel" class="tab-pane active" id="lineas_f">
            <div class="table-responsive">
           	<table class="table table-hover">
              	<thead>
                   	<tr>
                        <th class="text-left text-capitalize">Referencia</th>
                        <th class="text-left">Descripción</th>
						<th class="text-left">SubCuenta</th>
                        <th class="text-left">Cantidad</th>
						<td></td>
                        <th class="text-left">Precio</th>
                        <th class="text-left">Dto %</th>
                        <th class="text-left">Neto</th>
                        <th class="text-left">Total</th>
                   	</tr>
               	</thead>
				 	{loop="$fsc->factura->get_lineas()"}
 					<tr id="linea_{$counter}">
                        <td>
                           <input type="hidden" name="idlinea_" value="{$counter}"/>
                           <input type="hidden" name="referencia_{$counter}" value="{$value->referencia}"/>
                           <div class="form-control" >                
                              <a target="_blank" href="{$value->articulo_url()}">{$value->referencia}</a>
                           </div>
                        </td>
 						<td><textarea style="width:320px; font-size:12px" class="form-control" name="desc_{$counter}" id="desc_{$counter}" rows="1" onclick="this.select()">{$value->descripcion}</textarea></td>
						
					 	<td class="text-right">
							 <select name="subcuenta_{$counter}" id="subcuenta_{$counter}" class="form-control text-right" style='width:200px; font-size:12px'>
							 <option value='{$value->codsubcuenta}/{$value->subcuentadesc}%{$value->idsubcuenta}' selected="selected" >{$value->subcuentadesc}</option>
							 {loop="$fsc->list_subcuen"}
							 <option value='{$value->codcuenta}/{$value->descripcion}%{$value->idsubcuenta}' >{$value->descripcion}</option>
							 {/loop}
								</select>
						</td>
					  	<td>
                           <input type="number" step="any" id="cantidad_{$counter}" class="form-control text-right" name="cantidad_{$counter}" value="{$value->cantidad}" onchange="recalcular()" onkeyup="recalcular()" autocomplete="off" value="1"/>
                        </td>
                        <td>
                           <button class="btn btn-sm btn-danger" type="button" onclick="$('#linea_{$counter}').remove();recalcular();">
                              <span class="glyphicon glyphicon-trash"></span>
                           </button>
                        </td>
					  	<td>
                           <input type="text" class="form-control text-right" id="pvp_{$counter}" name="pvp_{$counter}" value="{$value->pvpunitario}"
                                  onkeyup="recalcular()" onclick="this.select()" autocomplete="off"/>
                        </td>
			          	<td>
                           <input type="text" id="dto_{$counter}" name="dto_{$counter}" value="{$value->dtopor}" class="form-control text-right"
                                  onkeyup="recalcular()" onclick="this.select()" autocomplete="off"/>
                        </td>	
						<td>
                           <input type="text" class="form-control text-right" id="neto_{$counter}" name="neto_{$counter}"
                                 readonly="true" style="font-weight: bold; background-color:#FFFFFF"   onchange="ajustar_neto()" onclick="this.select()" value="{$fsc->factura->neto}" autocomplete="off"/>
                        </td>	 
					 	<input type="hidden" name="iva_{$counter}" id="iva_{$counter}" value="0"  />                                               
                           <input type="hidden" id="recargo_{$counter}" name="recargo_{$counter}" value="{$value->recargo}" />
                       
                           <input type="hidden" id="irpf_{$counter}" name="irpf_{$counter}" value="{$value->irpf}"  />
                       
					 	<td>
                           <input type="text" class="form-control text-right" id="total_{$counter}" name="total_{$counter}"
                                 readonly="true" style="font-weight: bold; background-color:#FFFFFF"   onchange="ajustar_total()" onclick="this.select()" value="{$value->pvptotal}" autocomplete="off"/>
                  		</td>               
                  	</tr>
                  	{/loop}				  
				   	<tbody id="lineas_albaran"></tbody>
				   	<tr class="bg-info">
				       	<td><input id="i_new_line" class="form-control" type="text" placeholder="Buscar para añadir..." autocomplete="off"/></td>
                      	<td>
                           <a href="#" class="btn btn-sm btn-default" title="Añadir sin buscar" onclick="return add_linea_libre()">
                              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                           </a>
                        </td>
						<td></td>
                        <td colspan="4" class="text-right">Totales:</td>
                       	<td><div id="aneto" class="form-control text-right" style="font-weight: bold;">{$fsc->show_numero(0)}</div></td>                     
                        <td>
                           <input type="text" name="atotal" id="atotal" class="form-control text-right"  readonly="true" style="font-weight: bold; background-color:#FFFFFF" 
                                  value="0" onchange="recalcular()" autocomplete="off"/>
                        </td>
                     </tr>
               </table>
					<div class="container-fluid">
					  <div class="row">
						 <div class="col-lg-12 col-md-12 col-sm-12">
							<div class="form-group">
							   Observaciones:
							   <textarea class="form-control" name="observaciones" rows="3">{$fsc->factura->observaciones}</textarea>
							</div>
						 </div>
					  </div>
				   </div>
            </div>
         </div>
		 
		 
		              
		 
		 
		 
		 
         <div role="tabpanel" class="tab-pane" id="lineas_iva">
            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th class="text-left">Impuesto</th>
                        <th class="text-right">Neto</th>
                        <th class="text-right">{#FS_IVA#}</th>
                        <th class="text-right">Total {#FS_IVA#}</th>
                        <th class="text-right">RE</th>
                        <th class="text-right">Total RE</th>
                        <th class="text-right">Total</th>
                     </tr>
                  </thead>
                  {loop="$fsc->factura->get_lineas_iva()"}
                  <tr>
                     <td>{$value->codimpuesto}</td>
                     <td class="text-right">{$fsc->show_precio($value->neto, $fsc->factura->coddivisa)}</td>
                     <td class="text-right">{$fsc->show_numero($value->iva, 2)} %</td>
                     <td class="text-right">{$fsc->show_precio($value->totaliva, $fsc->factura->coddivisa)}</td>
                     <td class="text-right">{$fsc->show_numero($value->recargo, 2)} %</td>
                     <td class="text-right">{$fsc->show_precio($value->totalrecargo, $fsc->factura->coddivisa)}</td>
                     <td class="text-right">{$fsc->show_precio($value->totallinea, $fsc->factura->coddivisa)}</td>
                  </tr>
                  {/loop}
               </table>
            </div>
         </div>
		 
		 
		 
     	{loop="$fsc->extensions"}
       	{if="$value->type=='tab'"}
     	<div role="tabpanel" class="tab-pane" id="ext_{$value->name}">
              <iframe src="index.php?page={$value->from}{$value->params}&id={$fsc->factura->idfactura}" width="100%" height="600" frameborder="0"></iframe>
      	</div>
       	{/if}
    	{/loop}
 
   

     
     	<div role="tabpanel" class="tab-pane" id="opciones">
        	<div class="container-fluid" style="margin-top: 10px;">
           		<div class="row">
               		<div class="col-sm-2">
                     	<div class="form-group">
							<a href="{$fsc->serie->url()}">Serie</a>:
							<select class="form-control" name="codserie" id="codserie" onchange="usar_serie();recalcular();">
							{loop="$fsc->serie->all()"}
							   {if="$value->codserie==$fsc->factura->codserie"}
							   <option value="{$value->codserie}" selected="selected">{$value->descripcion}</option>
							   {else}
							   <option value="{$value->codserie}">{$value->descripcion}</option>
							   {/if}
							{/loop}
							</select>
                     	</div>
                  	</div>
        			<div class="col-sm-3">
               			<div class="form-group">
							<a href="{$fsc->forma_pago->url()}">Forma de pago</a>:
							<select name="forma_pago" class="form-control">
							  {loop="$fsc->forma_pago->all()"}
							  <option value="{$value->codpago}"{if="$fsc->factura->codpago==$value->codpago"} selected="selected"{/if}>{$value->descripcion}</option>
							  {/loop}
						   </select>						
              			</div>
          			</div>
             		<div class="col-sm-2">
                		<div class="form-group">
							<a href="{$fsc->divisa->url()}">Divisa</a>:
							<select name="coddivisa" class="form-control">
							{loop="$fsc->divisa->all()"}
							   {if="$value->coddivisa==$fsc->factura->coddivisa"}
							   <option value="{$value->coddivisa}" selected="selected">{$value->descripcion}</option>
							   {else}
							   <option value="{$value->coddivisa}">{$value->descripcion}</option>
							   {/if}
							{/loop}
							</select>
                		</div>
              		</div>
              		<div class="col-sm-3">
              			<div class="form-group">
                        Tasa de conversión a €
                        <input type="text" name="tasaconv" class="form-control" value="{$fsc->factura->tasaconv}" placeholder="{$fsc->factura->tasaconv}" autocomplete="off"/>
               			</div>
					</div>
				</div>
			</div>
		</div>
   
</div>
</div>    
   
   
   
</form>

<div class="modal fade" id="modal_eliminar">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title">¿Realmente desea eliminar esta factura?</h3>
         </div>
         {if="$fsc->factura->idasiento"}
         <div class="modal-body">
            Hay asociado un asiento contable que será eliminado junto con la factura.
         </div>
         {/if}
         <div class="modal-footer">
            <a class="btn btn-sm btn-danger" href="{$fsc->ppage->url()}&delete={$fsc->factura->idfactura}">
               <span class="glyphicon glyphicon-trash"></span> &nbsp; Eliminar
            </a>
         </div>
      </div>
   </div>
</div>

<div class="modal fade" id="modal_anular">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title">¿Realmente desea anular esta factura?</h3>
         </div>
         <div class="modal-footer">
            <a class="btn btn-sm btn-danger" href="{$fsc->url()}&gen_devolucion=TRUE&petid={$fsc->random_string()}&id={$fsc->factura->idfactura}">
               <span class="glyphicon glyphicon-remove-circle"></span> &nbsp; Anular factura
            </a>
         </div>
      </div>
   </div>
</div>

<div class="modal fade" id="modal_imprimir">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Imprimir factura</h4>
         </div>
         <div class="modal-body">
            {loop="$fsc->extensions"}
               {if="$value->type=='pdf'"}
               <a href="index.php?page={$value->from}{$value->params}&id={$fsc->factura->idfactura}" target="_blank" class="btn btn-block btn-default">
                  <span class="glyphicon glyphicon-print"></span> &nbsp; {$value->text}
               </a>
               {/if}
            {/loop}
         </div>
      </div>
   </div>
</div>
{else}
<div class="thumbnail">
   <img src="view/img/fuuu_face.png" alt="fuuuuu"/>
</div>
{/if}


<div class="modal" id="modal_articulos">
   <div class="modal-dialog" style="width: 99%; max-width: 1000px;">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Buscar artículos</h4>
         </div>
         <div class="modal-body">
            <form id="f_buscar_articulos" name="f_buscar_articulos" action="{$fsc->url()}" method="post" class="form">
               <input type="hidden" name="codproveedor" value="{$fsc->proveedor->codproveedor}"/>
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="input-group">
                           <input class="form-control" type="text" name="query" autocomplete="off"/>
                           <span class="input-group-btn">
                              <button class="btn btn-primary" type="submit">
                                 <span class="glyphicon glyphicon-search"></span>
                              </button>
                           </span>
                        </div>
                     </div>
                     <div class="col-sm-4">
                        <select class="form-control" name="codfamilia" onchange="buscar_articulos()">
                           <option value="">Cualquier familia</option>
                           <option value="">------</option>
                           {loop="$fsc->familia->all()"}
                           <option value="{$value->codfamilia}">{$value->nivel}{$value->descripcion}</option>
                           {/loop}
                        </select>
                     </div>
                     <div class="col-sm-4">
                        <select class="form-control" name="codfabricante" onchange="buscar_articulos()">
                           <option value="">Cualquier fabricante</option>
                           <option value="">------</option>
                           {loop="$fsc->fabricante->all()"}
                           <option value="{$value->codfabricante}">{$value->nombre}</option>
                           {/loop}
                        </select>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-2">
                        <div class="checkbox-inline">
                           <label>
                              <input type="checkbox" name="con_stock" value="TRUE" onchange="buscar_articulos()"/>
                              sólo con stock
                           </label>
                        </div>
                     </div>
                     <div class="col-sm-3">
                        <div class="checkbox-inline">
                           <label>
                              <input type="checkbox" name="solo_proveedor" value="TRUE" onchange="buscar_articulos()"/>
                              sólo de este proveedor
                           </label>
                        </div>
                     </div>
                  </div>
               </div>
            </form>
         </div>
         <ul class="nav nav-tabs" id="nav_articulos" style="display: none;">
            <li id="li_mis_articulos">
               <a href="#" id="b_mis_articulos">Mi catálogo</a>
            </li>

         </ul>
         <div id="search_results"></div>
         <div id="kiwimaru_results"></div>
         <div id="nuevo_articulo" class="modal-body" style="display: none;">
            <form name="f_nuevo_articulo" action="{$fsc->url()}" method="post" class="form">
               <input type="hidden" name="codproveedor" value="{$fsc->proveedor_s->codproveedor}"/>
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-sm-3">
                        <div class="form-group">
                           Referencia:
                           <input class="form-control" type="text" name="referencia" maxlength="18" autocomplete="off"/>
                        </div>
                     </div>
                     <div class="col-sm-3">
                        <div class="form-group">
                           Ref. Proveedor:
                           <input class="form-control" type="text" name="refproveedor" maxlength="25" autocomplete="off"/>
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <div class="form-group">
                           Descripción:
                           <textarea name="descripcion" rows="1" class="form-control"></textarea>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="form-group">
                           <a href="{$fsc->familia->url()}">Familia</a>:
                           <select name="codfamilia" class="form-control">
                              <option value="">Ninguna</option>
                              <option value="">-------</option>
                              {loop="$fsc->familia->all()"}
                              <option value="{$value->codfamilia}">{$value->nivel}{$value->descripcion}</option>
                              {/loop}
                           </select>
                        </div>
                     </div>
                     <div class="col-sm-4">
                        <div class="form-group">
                           <a href="{$fsc->fabricante->url()}">Fabricante</a>:
                           <select name="codfabricante" class="form-control">
                              <option value="">Ninguno</option>
                              <option value="">-------</option>
                              {loop="$fsc->fabricante->all()"}
                              <option value="{$value->codfabricante}">{$value->nombre}</option>
                              {/loop}
                           </select>
                        </div>
                     </div>
                     <div class="col-sm-4">
                        <div class="form-group">
                           <a href="{$fsc->impuesto->url()}">{#FS_IVA#}</a>:
                           <select name="codimpuesto" class="form-control">
                              {loop="$fsc->impuesto->all()"}
                              <option value="{$value->codimpuesto}"{if="$value->is_default()"} selected="selected"{/if}>{$value->descripcion}</option>
                              {/loop}
                           </select>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="form-group">
                           Precio compra:
                           <input type="text" name="coste" value="0" class="form-control" autocomplete="off"/>
                        </div>
                     </div>
                     <div class="col-sm-4">
                        <div class="form-group">
                           Precio venta:
                           <input type="text" name="pvp" value="0" class="form-control" autocomplete="off"/>
                           <div class="checkbox-inline">
                              <label>
                                 <input type="checkbox" name="publico" value="TRUE"/> Público
                              </label>

                           </div>
                        </div>
                     </div>
                     <div class="col-sm-4 text-right">
                        <br/>
                        <button class="btn btn-sm btn-primary" type="submit" onclick="new_articulo();return false;">
                           <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar y seleccionar
                        </button>
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>




{include="footer"}