{include="header"}

<script type="text/javascript" src="{$fsc->get_js_location('provincias.js')}"></script>
<script type="text/javascript">
   $(document).ready(function() {
      document.f_custom_search.query.focus();
      if(window.location.hash.substring(1) == 'nuevo')
      {
         $("#modal_nuevo_proveedor").modal('show');
         document.f_nuevo_proveedor.nombre.focus();
      }
      $("#b_nuevo_proveedor").click(function(event) {
         event.preventDefault();
         $("#modal_nuevo_proveedor").modal('show');
         document.f_nuevo_proveedor.nombre.focus();
      });
   });
</script>

<div class="container-fluid">
   <div class="row">
      <div class="col-sm-7 col-xs-6">
         <div class="btn-group hidden-xs">
            <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
               <span class="glyphicon glyphicon-refresh"></span>
            </a>
            {if="$fsc->page->is_default()"}
            <a class="btn btn-sm btn-default active" href="{$fsc->url()}&amp;default_page=FALSE" title="desmarcar como página de inicio">
               <span class="glyphicon glyphicon-home"></span>
            </a>
            {else}
            <a class="btn btn-sm btn-default" href="{$fsc->url()}&amp;default_page=TRUE" title="marcar como página de inicio">
               <span class="glyphicon glyphicon-home"></span>
            </a>
            {/if}
         </div>
         <div class="btn-group">
            <a href="#" id="b_nuevo_proveedor" class="btn btn-sm btn-success">
               <span class="glyphicon glyphicon-plus"></span>
               <span class="hidden-xs">&nbsp; Nuevo</span>
            </a>
            {loop="$fsc->extensions"}
               {if="$value->type=='button'"}
               <a href="index.php?page={$value->from}{$value->params}" class="btn btn-sm btn-default">{$value->text}</a>
               {/if}
            {/loop}
         </div>
      </div>
      <div class="col-sm-5 col-xs-6 text-right">
         <h2 style="margin-top: 0px;">
            <i class="fa fa-users" aria-hidden="true"></i> Proveedores
            <span class="hidden-xs hidden-sm">/ Acreedores</span>
         </h2>
      </div>
   </div>
</div>

<div id="tab_proveedores" role="tabpanel">
   <ul class="nav nav-tabs">
      <li role="presentation" class="active">
         <a href="{$fsc->url()}">
            <span class="glyphicon glyphicon-search"></span>
            <span class="hidden-xs">&nbsp; Resultados</span>
            <span class="badge">{$fsc->num_resultados}</span>
         </a>
      </li>
      {loop="$fsc->extensions"}
         {if="$value->type=='tab'"}
         <li role="presentation">
            <a href="#ext_{$value->name}" aria-controls="ext_{$value->name}" role="tab" data-toggle="tab">{$value->text}</a>
         </li>
         {/if}
      {/loop}
   </ul>
   <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
         <form name="f_custom_search" action="{$fsc->url()}" method="post" class="form">
            <div class="container-fluid" style="margin-top: 15px; margin-bottom: 10px;">
               <div class="row">
                  <div class="col-sm-2">
                     <div class="input-group">
                        <input class="form-control" type="text" name="query" value="{$fsc->query}" autocomplete="off" placeholder="Buscar">
                        <span class="input-group-btn hidden-sm">
                           <button class="btn btn-primary" type="submit">
                              <span class="glyphicon glyphicon-search"></span>
                           </button>
                        </span>
                     </div>
                  </div>
                  <div class="col-sm-2">
                     <select name="tipo" class="form-control" onchange="this.form.submit()">
                        <option value="">Todos</option>
                        <option value="">------</option>
                        <option value="acreedores"{if="$fsc->tipo=='acreedores'"} selected=""{/if}>Acreedores</option>
                        <option value="noacreedores"{if="$fsc->tipo=='noacreedores'"} selected=""{/if}>No acreedores</option>
                     </select>
                  </div>
                  <div class="col-sm-6"></div>
                  <div class="col-sm-2">
                     <div class="input-group">
                        <div class="input-group-addon">
                           <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                        </div>
                        <select name="orden" class="form-control" onchange="this.form.submit()">
                           <option value="nombre ASC">Orden: nombre</option>
                           <option value="nombre DESC"{if="$fsc->orden=='nombre DESC'"} selected=""{/if}>Orden: nombre descendente</option>
                           <option value="cifnif ASC"{if="$fsc->orden=='cifnif ASC'"} selected=""{/if}>Orden: {#FS_CIFNIF#}</option>
                           <option value="cifnif DESC"{if="$fsc->orden=='cifnif DESC'"} selected=""{/if}>Orden: {#FS_CIFNIF#} descendente</option>
                        </select>
                     </div>
                  </div>
               </div>
            </div>
         </form>
         <div class="table-responsive">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th class="text-left">Código + Nombre</th>
                     <th class="text-left">{#FS_CIFNIF#}</th>
                     <th class="text-left">email</th>
                     <th class="text-left">Teléfono</th>
                     <th class="text-left">Observaciones</th>
                  </tr>
               </thead>
               {loop="$fsc->resultados"}
               <tr class="clickableRow" href="{$value->url()}">
                  <td>
                     <a href="{$value->url()}">{$value->codproveedor}</a> {$value->nombre}
                     {if="$value->nombre!=$value->razonsocial"}
                     <span class="label label-default">{$value->razonsocial}</span>
                     {/if}
                     {if="$value->acreedor"}
                     &nbsp; <span class="glyphicon glyphicon-briefcase" title="Es un acreedor"></span>
                     {/if}
                  </td>
                  <td>{$value->cifnif}</td>
                  <td>{$value->email}</td>
                  <td>
                     {if="$value->telefono1"}{$value->telefono1}{elseif="$value->telefono2"}{$value->telefono2}{/if}
                  </td>
                  <td>{$value->observaciones_resume()}</td>
               </tr>
               {else}
               <tr class="warning">
                  <td colspan="5">
                     Ningún proveedor encontrado. Pulsa el botón <b>Nuevo</b> para crear uno.
                  </td>
               </tr>
               {/loop}
            </table>
         </div>
         <div class="container-fluid">
            <div class="row">
               <div class="col-sm-12 text-center">
                  <ul class="pagination">
                     {loop="$fsc->paginas()"}
                     <li{if="$value['actual']"} class="active"{/if}>
                        <a href="{$value['url']}">{$value['num']}</a>
                     </li>
                     {/loop}
                  </ul>
               </div>
            </div>
         </div>
      </div>
      {loop="$fsc->extensions"}
         {if="$value->type=='tab'"}
         <div role="tabpanel" class="tab-pane" id="ext_{$value->name}">
            <iframe src="index.php?page={$value->from}{$value->params}" width="100%" height="2000" frameborder="0"></iframe>
         </div>
         {/if}
      {/loop}
   </div>
</div>

<form class="form-horizontal" role="form" name="f_nuevo_proveedor" action="{$fsc->url()}" method="post">
   <div class="modal" id="modal_nuevo_proveedor">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Nuevo proveedor / acreedor</h4>
               <p class="help-block">
                  Los acreedores son todos aquellos proveedores a los que no les compramos mercancias.
                  Por ejemplo: proveedor de internet, teléfono, bancos...
               </p>
            </div>
            <div class="modal-body">
               <div class="form-group">
                  <div class="col-sm-12">
                     <input type="text" name="nombre" placeholder="Nombre" class="form-control" autocomplete="off" required=""/>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-4">
                     <select name="tipoidfiscal" class="form-control">
                        {$tiposid=fs_tipos_id_fiscal()}
                        {loop="$tiposid"}
                        <option value="{$value}">{$value}</option>
                        {/loop}
                     </select>
                  </div>
                  <div class="col-sm-8">
                     <input type="text" name="cifnif" class="form-control" autocomplete="off"/>
                     <label class="checkbox-inline">
                        <input type="checkbox" name="personafisica" value="TRUE"/> persona física (no empresa)
                     </label>
                     <label class="checkbox-inline">
                        <input type="checkbox" name="acreedor" value="TRUE"/> acreedor
                     </label>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label">
                     <a href="{$fsc->pais->url()}">País</a>
                  </label>
                  <div class="col-sm-10">
                     <select name="pais" class="form-control">
                        {loop="$fsc->pais->all()"}
                        <option value="{$value->codpais}"{if="$value->is_default()"} selected=""{/if}>{$value->nombre}</option>
                        {/loop}
                     </select>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label text-capitalize">{#FS_PROVINCIA#}</label>
                  <div class="col-sm-10">
                     <input type="text" name="provincia" id="ac_provincia" class="form-control" autocomplete="off"/>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Ciudad</label>
                  <div class="col-sm-10">
                     <input type="text" name="ciudad" class="form-control"/>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Cód. Postal</label>
                  <div class="col-sm-10">
                     <input type="text" name="codpostal" class="form-control"/>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Dirección</label>
                  <div class="col-sm-10">
                     <input type="text" name="direccion" class="form-control" autocomplete="off"/>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label text-capitalize">{#FS_APARTADO#}</label>
                  <div class="col-sm-10">
                     <input type="text" name="apartado" class="form-control"/>
                  </div>
               </div>
            </div>
            <div class="modal-footer">
               <button class="btn btn-sm btn-primary" type="submit">
                   <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Guardar
                </button>
            </div>
         </div>
      </div>
   </div>
</form>

{include="footer"}