{include="header"}

<script type="text/javascript">
   $(document).ready(function() {
      document.f_custom_search.query.focus();
      $("#b_nueva_cuenta").click(function(event) {
         event.preventDefault();
         $("#modal_nueva_cuenta").modal('show');
      });
      $("#b_show_cuentas").click(function() {
         $("#li_subcuentas").removeClass('active');
         $("#resultados_subcuentas").hide();
         $("#li_cuentas").addClass('active');
         $("#resultados_cuentas").show();
      });
      $("#b_show_subcuentas").click(function() {
         $("#li_cuentas").removeClass('active');
         $("#resultados_cuentas").hide();
         $("#li_subcuentas").addClass('active');
         $("#resultados_subcuentas").show();
      });
      {if="$fsc->resultados"}
      $("#resultados_subcuentas").hide();
      {else}
      $("#resultados_cuentas").hide();
      {/if}
   });
</script>

<div class="container-fluid" style="margin-top: 10px;">
   <div class="row">
      <div class="col-sm-5">
         <div class="btn-group hidden-xs">
            <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
               <span class="glyphicon glyphicon-refresh"></span>
            </a>
            {if="$fsc->page->is_default()"}
            <a class="btn btn-sm btn-default active" href="{$fsc->url()}&amp;default_page=FALSE" title="desmarcar como página de inicio">
               <span class="glyphicon glyphicon-home"></span>
            </a>
            {else}
            <a class="btn btn-sm btn-default" href="{$fsc->url()}&amp;default_page=TRUE" title="marcar como página de inicio">
               <span class="glyphicon glyphicon-home"></span>
            </a>
            {/if}
         </div>
         
         <div class="btn-group">
            <a id="b_nueva_cuenta" class="btn btn-sm btn-success" href="#">
               <span class="glyphicon glyphicon-plus"></span> &nbsp; Nueva
            </a>
            {loop="$fsc->extensions"}
               {if="$value->type=='button'"}
               <a href="index.php?page={$value->from}{$value->params}" class="btn btn-sm btn-default">{$value->text}</a>
               {/if}
            {/loop}
         </div>
      </div>
      <div class="col-sm-5 text-right">
         <h2 style="margin-top: 0px;">Cuentas</h2>
      </div>
      <div class="col-sm-2">
         <form name="f_custom_search" action="{$fsc->url()}" method="post" class="form">
            <div class="input-group">
               <input class="form-control" type="text" name="query" value="{$fsc->query}" autocomplete="off" placeholder="Buscar">
               <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">
                     <span class="glyphicon glyphicon-search"></span>
                  </button>
               </span>
            </div>
         </form>
      </div>
   </div>
</div>

{if="$fsc->query==''"}
<div class="container-fluid" style="margin-bottom: 10px;">
   <div class="row">
      <div class="col-sm-10">
         <a class="btn btn-sm btn-default" href="index.php?page=contabilidad_epigrafes">
            <span class="glyphicon glyphicon-chevron-left"></span> &nbsp; Grupos y epígrafes
         </a>
         <a class="btn btn-sm btn-default" href="index.php?page=cuentas_especiales">
            <span class="glyphicon glyphicon-cog"></span> &nbsp; Cuentas especiales
         </a>
      </div>
      <div class="col-sm-2 text-right">
         <form name="f_filtro_cuentas" action="{$fsc->url()}" method="post" class="form">
            <select name="ejercicio" class="form-control" onchange="document.f_filtro_cuentas.submit()">
            {loop="$fsc->ejercicio->all()"}
               {if="$value->is_default()"}
               <option value="{$value->codejercicio}" selected="">{$value->nombre} ({$value->codejercicio})</option>
               {else}
               <option value="{$value->codejercicio}">{$value->nombre} ({$value->codejercicio})</option>
               {/if}
            {/loop}
            </select>
         </form>
      </div>
   </div>
</div>

<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            <th class="text-left">Ejercicio</th>
            <th class="text-left">Código + Descripción</th>
            <th class="text-right">Cuenta Especial</th>
         </tr>
      </thead>
      {loop="$fsc->resultados"}
      <tr class="clickableRow" href="{$value->url()}">
         <td>{$value->codejercicio}</td>
         <td><a href="{$value->url()}">{$value->codcuenta}</a> {$value->descripcion}</td>
         <td class="text-right">{$value->idcuentaesp}</td>
      </tr>
      {else}
      <tr class="warning"><td colspan="3">Sin resultados.</td></tr>
      {/loop}
   </table>
</div>

<ul class="pager">
   {if="$fsc->anterior_url()!=''"}
   <li class="previous">
      <a href="{$fsc->anterior_url()}">
         <span class="glyphicon glyphicon-chevron-left"></span> &nbsp; Anterior
      </a>
   </li>
   {/if}
   
   {if="$fsc->siguiente_url()!=''"}
   <li class="next">
      <a href="{$fsc->siguiente_url()}">
         Siguiente &nbsp; <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
   </li>
   {/if}
</ul>
{else}
<ul class="nav nav-tabs">
  <li{if="$fsc->resultados"} class="active"{/if} id="li_cuentas">
     <a id="b_show_cuentas" href="#">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> &nbsp; Cuentas
     </a>
  </li>
  <li{if="!$fsc->resultados"} class="active"{/if} id="li_subcuentas">
     <a id="b_show_subcuentas" href="#">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> &nbsp; Subcuentas
     </a>
  </li>
</ul>

<div id="resultados_cuentas">
   <div class="table-responsive">
      <table class="table table-hover">
         <thead>
            <tr>
               <th class="text-left">Ejercicio</th>
               <th class="text-left">Código + Descripción</th>
               <th class="text-right">Cuenta Especial</th>
            </tr>
         </thead>
         {loop="$fsc->resultados"}
         <tr class="clickableRow" href="{$value->url()}">
            <td>{$value->codejercicio}</td>
            <td><a href="{$value->url()}">{$value->codcuenta}</a> {$value->descripcion}</td>
            <td class="text-right">{$value->idcuentaesp}</td>
         </tr>
         {else}
         <tr class="warning">
            <td colspan="3">Sin resultados.</td>
         </tr>
         {/loop}
      </table>
   </div>
   <ul class="pager">
      {if="$fsc->anterior_url()!=''"}
      <li class="previous">
         <a href="{$fsc->anterior_url()}">
            <span class="glyphicon glyphicon-chevron-left"></span> &nbsp; Anterior
         </a>
      </li>
      {/if}
      
      {if="$fsc->siguiente_url()!=''"}
      <li class="next">
         <a href="{$fsc->siguiente_url()}">
            Siguiente &nbsp; <span class="glyphicon glyphicon-chevron-right"></span>
         </a>
      </li>
      {/if}
   </ul>
</div>

<div id="resultados_subcuentas">
   <table class="table table-hover">
      <thead>
         <tr>
            <th class="text-left">Ejercicio</th>
            <th class="text-left">Código + Descripción</th>
            <th class="text-right">Debe</th>
            <th class="text-right">Haber</th>
            <th class="text-right">Saldo</th>
         </tr>
      </thead>
      {loop="$fsc->resultados2"}
      <tr class="clickableRow" href="{$value->url()}">
         <td>{$value->codejercicio}</td>
         <td><a href="{$value->url()}">{$value->codsubcuenta}</a> {$value->descripcion}</td>
         <td class="text-right">{$fsc->show_precio($value->debe, $value->coddivisa)}</td>
         <td class="text-right">{$fsc->show_precio($value->haber, $value->coddivisa)}</td>
         <td class="text-right">{$fsc->show_precio($value->saldo, $value->coddivisa)}</td>
      </tr>
      {else}
      <tr class="warning">
         <td colspan="5">Sin resultados.</td>
      </tr>
      {/loop}
   </table>
</div>
{/if}

<div class="modal fade" id="modal_nueva_cuenta">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Nueva Cuenta</h4>
         </div>
         <div class="media-body">
            <p style="padding: 10px;">
               Las cuentas contables pertenecen a un epígrafe, que pertenece a su vez a un grupo.
               Para crear una nueva cuenta tienes que ir a grupos y navegar hasta el epígrafe
               donde quieras crearla.
            </p>
         </div>
         <div class="modal-footer">
            <a class="btn btn-sm btn-primary" href="index.php?page=contabilidad_epigrafes">Grupos y epigrafe</a>
         </div>
      </div>
   </div>
</div>

{include="footer"}