{include="header"}

{if="$fsc->subcuenta"}
<script type="text/javascript">
   function fs_marcar_todo()
   {
      $('#f_subcuenta input:checkbox').prop('checked', true);
   }
   function fs_marcar_nada()
   {
      $('#f_subcuenta input:checkbox').prop('checked', false);
   }
   function guardar_subcuenta()
   {
      $("#divisa").prop('disabled', false);
      document.f_subcuenta.submit();
   }
   $(document).ready(function() {
      $("#b_eliminar").click(function(event) {
         event.preventDefault();
         if( confirm("¿Realmente desea eliminar esta subcuenta?") )
         {
            window.location.href = '{$fsc->ppage->url()}&deletes={$fsc->subcuenta->idsubcuenta}';
         }
      });
   });
</script>

<form name="f_subcuenta" id="f_subcuenta" class="form" action="{$fsc->url()}&offset={$fsc->offset}" method="post">
   <input type="hidden" name="puntear" value="TRUE"/>
   <div class="container-fluid" style="margin-top: 10px; margin-bottom: 10px;">
      <div class="row">
         <div class="col-xs-7">
            <div class="btn-group">
               <a href="{$fsc->ppage->url()}" class="btn btn-sm btn-default">
                  <span class="glyphicon glyphicon-arrow-left"></span>
                  <span class="hidden-xs">&nbsp; {$fsc->ppage->title}</span>
               </a>
               <a href="{$fsc->url()}" class="btn btn-sm btn-default hidden-xs" title="Recargar la página">
                  <span class="glyphicon glyphicon-refresh"></span>
               </a>
            </div>
            <div class="btn-group">
               <a href="#" class="btn btn-sm btn-default" data-toggle="modal" data-target="#modal_librom">
                  <span class="glyphicon glyphicon-book"></span>
                  <span class="hidden-xs">&nbsp; Libro mayor</span>
               </a>
               {loop="$fsc->extensions"}
                  {if="$value->type=='button'"}
                  <a href="index.php?page={$value->from}{$value->params}" class="btn btn-sm btn-default">{$value->text}</a>
                  {/if}
               {/loop}
            </div>
         </div>
         <div class="col-xs-5 text-right">
            <div class="btn-group">
               {if="$fsc->allow_delete"}
               <a href="#" id="b_eliminar" class="btn btn-sm btn-danger">
                  <span class="glyphicon glyphicon-trash"></span>
                  <span class="hidden-sm hidden-xs">&nbsp; Eliminar</span>
               </a>
               {/if}
               <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;guardar_subcuenta();">
                  <span class="glyphicon glyphicon-floppy-disk"></span>
                  <span class="hidden-xs">&nbsp; Guardar</span>
               </button>
            </div>
         </div>
      </div>
   </div>
   
   <div class="table-responsive">
      <table class="table table-hover">
         <thead>
            <tr>
               <th class="text-left">Subcuenta</th>
               <th class="text-left">Descripción</th>
               <th>Ejercicio</th>
               <th>Divisa</th>
               <th class="text-right">Debe</th>
               <th class="text-right">Haber</th>
               <th class="text-right">Saldo</th>
            </tr>
         </thead>
         <tr>
            <td>
               <div class="form-control">{$fsc->subcuenta->codsubcuenta}</div>
            </td>
            <td>
               <input class="form-control" type="text" name="descripcion" value="{$fsc->subcuenta->descripcion}" autocomplete="off"/>
            </td>
            <td>
               <div class="form-control">
                  <a href="{$fsc->ejercicio->url()}">{$fsc->ejercicio->nombre} ({$fsc->ejercicio->codejercicio})</a>
               </div>
            </td>
            <td>
               <select name="coddivisa" id="divisa" class="form-control" disabled="">
               {loop="$fsc->divisa->all()"}
                  {if="$fsc->subcuenta->coddivisa==$value->coddivisa"}
                  <option value="{$value->coddivisa}" selected="">{$value->descripcion}</option>
                  {else}
                  <option value="{$value->coddivisa}">{$value->descripcion}</option>
                  {/if}
               {/loop}
               </select>
            </td>
            <td>
               <input type="text" name="debe" value="{$fsc->show_precio($fsc->subcuenta->debe, $fsc->subcuenta->coddivisa)}" class="form-control text-right" disabled=""/>
            </td>
            <td>
               <input type="text" name="haber" value="{$fsc->show_precio($fsc->subcuenta->haber, $fsc->subcuenta->coddivisa)}" class="form-control text-right" disabled=""/>
            </td>
            <td>
               <input type="text" name="saldo" value="{$fsc->show_precio($fsc->subcuenta->saldo, $fsc->subcuenta->coddivisa)}" class="form-control text-right" disabled=""/>
            </td>
         </tr>
      </table>
   </div>
   
   <div class="container-fluid" style="margin-bottom: 10px;">
      <div class="row">
         <div class="col-xs-3">
            <div class="btn-group">
               <button class="btn btn-sm btn-default" type="button" onclick="fs_marcar_todo()">
                  <span class="glyphicon glyphicon-check"></span>
               </button>
               <button class="btn btn-sm btn-default" type="button" onclick="fs_marcar_nada()">
                  <span class="glyphicon glyphicon-unchecked"></span>
               </button>
            </div>
         </div>
         <div class="col-xs-9 text-right">
            <div class="btn-group">
            {loop="$fsc->paginas()"}
               <a class="btn btn-sm btn-default{if="$value.actual"} active{/if}" href="{$value.url}">{$value.num}</a>
            {/loop}
            </div>
         </div>
      </div>
   </div>
   
   <div class="table-responsive">
      <table class="table table-hover">
         <thead>
            <tr>
               <th class="text-center" title="puntear">P</th>
               <th class="text-left">Asiento</th>
               <th>Fecha</th>
               <th class="text-left">Concepto</th>
               <th class="text-right">Debe</th>
               <th class="text-right">Haber</th>
               <th class="text-right">Saldo</th>
               <th class="text-right">{#FS_IVA#}</th>
               <th class="text-right">Base imp.</th>
               <th class="text-center">Contrapartida</th>
               <th class="text-right">{#FS_CIFNIF#}</th>
            </tr>
         </thead>
         {$total=-1+count($fsc->resultados)}
         {loop="$fsc->resultados"}
         <tr>
            <td class="text-center">
               <input type="checkbox" name="punteada[]" value="{$value->idpartida}"{if="$value->punteada"} checked="checked"{/if}/>
            </td>
            <td><a href="{$value->url()}">{$value->numero}</a></td>
            <td>{$value->fecha}</td>
            <td><a href="{$value->url()}">{$value->concepto}</a></td>
            <td class="text-right">{$fsc->show_precio($value->debe, $fsc->subcuenta->coddivisa)}</td>
            <td class="text-right">{$fsc->show_precio($value->haber, $fsc->subcuenta->coddivisa)}</td>
            <td class='text-right{if="$value->saldo<0"} danger{/if}'>{$fsc->show_precio($value->saldo, $fsc->subcuenta->coddivisa)}</td>
            <td class="text-right">
               {if="$value->iva!=0"}{$value->iva} %{else}-{/if}
            </td>
            <td class="text-right">
               {if="$value->baseimponible!=0"}{$fsc->show_precio($value->baseimponible, $fsc->subcuenta->coddivisa)}{else}-{/if}
            </td>
            <td class="text-center">
               {if="$value->codcontrapartida"}
               <a href="{$value->contrapartida_url()}">{$value->codcontrapartida}</a>
               {else}
               -
               {/if}
            </td>
            <td class="text-right">
               {if="$value->cifnif"}{$value->cifnif}{else}-{/if}
            </td>
         </tr>
         {if="$counter==$total"}
         <tr>
            <td colspan="4" class="text-right"><b>Sumas</b>:</td>
            <td class="text-right"><b>{$fsc->show_precio($value->sum_debe, $fsc->subcuenta->coddivisa)}</b></td>
            <td class="text-right"><b>{$fsc->show_precio($value->sum_haber, $fsc->subcuenta->coddivisa)}</b></td>
            <td colspan="5"></td>
         </tr>
         {/if}
         {/loop}
         <tr>
            <td colspan="11" class="text-center">
               <a class="btn btn-sm btn-block btn-success" href="index.php?page=contabilidad_nuevo_asiento">Nuevo Asiento...</a>
            </td>
         </tr>
      </table>
   </div>
   
   {if="$total>10"}
   <div class="container-fluid">
      <div class="row">
         <div class="col-xs-10">
            <div class="btn-group">
            {loop="$fsc->paginas()"}
               <a class="btn btn-sm btn-default{if="$value['actual']"} active{/if}" href="{$value['url']}">{$value['num']}</a>
            {/loop}
            </div>
         </div>
         <div class="col-xs-2 text-right">
            <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
               <span class="glyphicon glyphicon-floppy-disk"></span>
               <span class="hidden-xs">&nbsp; Guardar</span>
            </button>
         </div>
      </div>
   </div>
   {/if}
</form>

<div class="modal fade" id="modal_librom" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Libro mayor</h4>
         </div>
         <div class="modal-body">
            <p class='help-block'>
               Puedes descargar el libro mayor de esta subcuenta en formato PDF
               pulsando el botón. Pero si lo que buscas es filtrar por fecha
               o incluso sacar el libro mayor de varias subcuentas a la vez,
               entonces debes ir a <b>Informes &gt; Contabilidad</b>.
            </p>
         </div>
         <div class="modal-footer">
            {if="$fsc->pdf_libromayor"}
            <a href="{$fsc->pdf_libromayor}" target="_blank" class="btn btn-sm btn-default">
               <span class="glyphicon glyphicon-book"></span> &nbsp; Libro mayor
            </a>
            {else}
            <a href="{$fsc->url()}&genlm=TRUE" target="_blank" class="btn btn-sm btn-default">
               <span class="glyphicon glyphicon-book"></span> &nbsp; Libro mayor
            </a>
            {/if}
         </div>
      </div>
   </div>
</div>
{else}
<div class="thumbnail">
   <img src="{#FS_PATH#}view/img/fuuu_face.png" alt="fuuuuu"/>
</div>
{/if}

{include="footer"}