{include="header"}

<script type="text/javascript">
   function eliminar_fp(cod)
   {
      if( confirm("¿Realmente desea eliminar la forma de pago "+cod+"?") )
      {
         window.location.href = '{$fsc->url()}&delete='+cod;
      }
   }
</script>

<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h1>
               Formas de pago
               <a class="btn btn-xs btn-default" href="{$fsc->url()}" title="Recargar la página">
                  <span class="glyphicon glyphicon-refresh"></span>
               </a>
               <span class="btn-group">
               {loop="$fsc->extensions"}
                  {if="$value->type=='button'"}
                  <a href="index.php?page={$value->from}{$value->params}" class="btn btn-xs btn-default">{$value->text}</a>
                  {/if}
               {/loop}
               </span>
            </h1>
            <p class="help-block">
               {if="$fsc->button_plazos"}
                  Usa el botón &nbsp;
                  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> &nbsp;
                  para definir los plazos de pago de cada forma de pago.
               {else}
                  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> &nbsp;
                  Puedes configurar plazos de pago con el
                  <a href="https://www.facturascripts.com/store/producto/plugin-facturacion_premium/" target="_blank">plugin tesorería</a>,
                  que se vende junto con facturación premium.
               {/if}
            </p>
         </div>
      </div>
   </div>
</div>

<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            <th width="150" class="text-left">Código</th>
            <th class="text-left">Descripción</th>
            <th class="text-left">Generar facturas</th>
            <th class="text-left">Vencimiento</th>
            <th class="text-left">
               <a href="index.php?page=admin_empresa#cuentasb" title="Editar las cuentas bancarias de la empresa">
                  Cuenta bancaria &nbsp;<span class="glyphicon glyphicon-share"></span>
               </a>
            </th>
            <th class="text-center">Domiciliado</th>
            <th class="text-right" width="120">Acciones</th>
         </tr>
      </thead>
      {loop="$fsc->forma_pago->all()"}
      <form action="{$fsc->url()}" method="post" class="form" role="form">
         <tr{if="$value->genrecibos=='Pagados'"} class="success"{/if}>
            <td>
               <input type="hidden" name="codpago" value="{$value->codpago}"/>
               <div class="form-control">{$value->codpago}</div>
            </td>
            <td><input class="form-control" type="text" name="descripcion" value="{$value->descripcion}" autocomplete="off"/></td>
            <td>
               <select name="genrecibos" class="form-control">
                  <option value="Emitidos"{if="$value->genrecibos=='Emitidos'"} selected=""{/if}>Sin pagar</option>
                  <option value="Pagados"{if="$value->genrecibos=='Pagados'"} selected=""{/if}>Pagadas</option>
               </select>
            </td>
            <td>
               {if="$fsc->button_plazos"}
                  <input type="hidden" name="vencimiento" value="{$value->vencimiento}"/>
                  {if="$value->genrecibos=='Emitidos'"}
                  <a href="index.php?page={$fsc->button_plazos}&cod={$value->codpago}" class="btn btn-sm btn-block btn-default">
                     <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp; Plazos de pago
                  </a>
                  {/if}
               {else}
                  <select name="vencimiento" class="form-control">
                  {loop="$fsc->vencimientos()"}
                     {if="$value1->vencimiento==$key2"}
                     <option value="{$key2}" selected="">{$value2}</option>
                     {else}
                     <option value="{$key2}">{$value2}</option>
                     {/if}
                  {/loop}
                  </select>
               {/if}
            </td>
            <td>
               <select name="codcuenta" class="form-control">
                  <option value="">Ninguna</option>
                  <option value="">------</option>
                  {loop="$fsc->cuentas_banco"}
                     {if="$value1->codcuenta==$value->codcuenta"}
                     <option value="{$value->codcuenta}" selected="">{$value->descripcion}</option>
                     {else}
                     <option value="{$value->codcuenta}">{$value->descripcion}</option>
                     {/if}
                  {/loop}
               </select>
            </td>
            <td class="text-center">
               <div class="checkbox">
                  <label title="¿Domiciliado?">
                     <input type="checkbox" name="domiciliado" value="TRUE"{if="$value->domiciliado"} checked="checked"{/if}/>
                  </label>
               </div>
            </td>
            <td class="text-right">
               <div class="btn-group">
                  {if="$fsc->allow_delete"}
                     {if="$value->codpago==$fsc->empresa->codpago"}
                     <a href="#" class="btn btn-sm btn-warning" title="Bloqueado" onclick="alert('No puedes eliminar la forma de pago predeterminada.')">
                        <span class="glyphicon glyphicon-lock"></span>
                     </a>
                     {else}
                     <a href="#" class="btn btn-sm btn-danger" onclick="eliminar_fp('{$value->codpago}')" title="Eliminar">
                        <span class="glyphicon glyphicon-trash"></span>
                     </a>
                     {/if}
                  {/if}
                  <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();" title="Guardar">
                     <span class="glyphicon glyphicon-floppy-disk"></span>
                  </button>
               </div>
            </td>
         </tr>
      </form>
      {/loop}
      <form action="{$fsc->url()}" method="post" class="form" role="form">
         <tr class="info">
            <td>
               <input class="form-control" type="text" name="codpago" maxlength="10" autocomplete="off" placeholder="Nuevo código"/>
            </td>
            <td>
               <input class="form-control" type="text" name="descripcion" autocomplete="off" placeholder="Nueva forma de pago..."/>
            </td>
            <td>
               <select name="genrecibos" class="form-control">
                  <option value="Emitidos">Sin pagar</option>
                  <option value="Pagados">Pagadas</option>
               </select>
            </td>
            <td class="text-center">
               {if="$fsc->button_plazos"}
               <input type="hidden" name="vencimiento" value="+1day"/>
               {else}
               <select name="vencimiento" class="form-control">
                  {loop="$fsc->vencimientos()"}
                  <option value="{$key}">{$value}</option>
                  {/loop}
               </select>
               {/if}
            </td>
            <td>
               <select name="codcuenta" class="form-control">
                  <option value="">Ninguna</option>
                  <option value="">------</option>
                  {loop="$fsc->cuentas_banco"}
                  <option value="{$value->codcuenta}">{$value->descripcion}</option>
                  {/loop}
               </select>
            </td>
            <td class="text-center">
               <div class="checkbox">
                  <label title="¿Domiciliado?">
                     <input type="checkbox" name="domiciliado" value="TRUE"/>
                  </label>
               </div>
            </td>
            <td class="text-right">
               <div class="btn-group">
                  <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();" title="Nueva">
                     <span class="glyphicon glyphicon-plus-sign"></span>
                     <span class="hidden-sm">&nbsp; Nueva</span>
                  </button>
               </div>
            </td>
         </tr>
      </form>
   </table>
</div>

<div class="container-fluid">
   <div class="row">
      <div class="col-sm-6">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title">¿Quieres enlazar una forma de pago con una cuenta bancaria?</h3>
            </div>
            <div class="panel-body">
               <ul>
                  <li>
                     Selecciona
                     <a href="index.php?page=admin_empresa#cuentasb" title="Editar las cuentas bancarias de la empresa">tu cuenta bancaria</a>.
                  </li>
                  <li>
                     Si quieres que los asientos de las facturas con esa forma de pago se asignen a una subcuenta,
                     <a href="index.php?page=admin_empresa#cuentasb">edita esa cuenta bancaria</a>
                     y vinculala con una subcuenta.
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="col-sm-6">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title">¿Quieres enlazar con una cuenta bancaria del cliente?</h3>
            </div>
            <div class="panel-body">
               <ul>
                  <li>
                     Selecciona
                     <a href="index.php?page=admin_empresa#cuentasb" title="Editar las cuentas bancarias de la empresa">tu cuenta bancaria</a>.
                  </li>
                  <li>Marca la opción <b>domiciliado</b>.</li>
                  <li>Añade la cuenta bancaria del cliente en la ficha de ese cliente.</li>
                  <li>
                     <i>
                        Además, con el
                        <a href="https://www.facturascripts.com/store/producto/plugin-facturacion_premium/" target="_blank">plugin tesorería</a>
                        puedes generar una remesa bancaria.
                     </i>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>

{include="footer"}