{include="header"}

<script type="text/javascript">
   $(document).ready(function() {
      document.f_custom_search.query.focus();
   });
</script>

<div class="container-fluid">
   <div class="row">
      <div class="col-xs-6">
         <div class="btn-group hidden-xs">
            <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
               <span class="glyphicon glyphicon-refresh"></span>
            </a>
            {if="$fsc->page->is_default()"}
            <a class="btn btn-sm btn-default active" href="{$fsc->url()}&amp;default_page=FALSE" title="desmarcar como página de inicio">
               <span class="glyphicon glyphicon-home"></span>
            </a>
            {else}
            <a class="btn btn-sm btn-default" href="{$fsc->url()}&amp;default_page=TRUE" title="marcar como página de inicio">
               <span class="glyphicon glyphicon-home"></span>
            </a>
            {/if}
         </div>
         <div class="btn-group">
            <a class="btn btn-sm btn-success" href="index.php?page=contabilidad_nuevo_asiento">
               <span class="glyphicon glyphicon-plus"></span>
               <span class="hidden-xs">&nbsp; Nuevo</span>
            </a>
            <a class="btn btn-sm btn-default" href="{$fsc->url()}&renumerar=TRUE">
               <span class="glyphicon glyphicon-sort-by-attributes"></span>
               <span class="hidden-xs">&nbsp; Renumerar</span>
            </a>
            {loop="$fsc->extensions"}
               {if="$value->type=='button'"}
               <a href="index.php?page={$value->from}{$value->params}" class="btn btn-sm btn-default">{$value->text}</a>
               {/if}
            {/loop}
         </div>
      </div>
      <div class="col-xs-6 text-right">
         <h2 style="margin-top: 0px;">Asientos</h2>
      </div>
   </div>
</div>

<ul class="nav nav-tabs" role="tablist">
   <li{if="$fsc->mostrar=='todo'"} class="active"{/if}>
      <a href="{$fsc->url()}&mostrar=todo">
         <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
         &nbsp; Resultados <span class="badge">{$fsc->num_resultados}</span>
      </a>
   </li>
   <li{if="$fsc->mostrar=='descuadrados'"} class="active"{/if}>
      <a href="{$fsc->url()}&mostrar=descuadrados">
         <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
         <span class="hidden-xs">&nbsp; Descuadrados</span>
      </a>
   </li>
</ul>

{if="$fsc->mostrar=='todo'"}
<br/>
<form name="f_custom_search" action="{$fsc->url()}" method="post" class="form">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-2">
            <div class="input-group">
               <input class="form-control" type="text" name="query" value="{$fsc->query}" autocomplete="off" placeholder="Buscar">
               <span class="input-group-btn">
                  <button class="btn btn-primary hidden-sm" type="submit">
                     <span class="glyphicon glyphicon-search"></span>
                  </button>
               </span>
            </div>
         </div>
         <div class="col-sm-2">
            <div class="form-group">
               <input type="text" name="desde" value="{$fsc->desde}" class="form-control datepicker" placeholder="Desde" autocomplete="off" onchange="this.form.submit()"/>
            </div>
         </div>
         <div class="col-sm-2">
            <div class="form-group">
               <input type="text" name="hasta" value="{$fsc->hasta}" class="form-control datepicker" placeholder="Hasta" autocomplete="off" onchange="this.form.submit()"/>
            </div>
         </div>
         <div class="col-sm-4"></div>
         <div class="col-sm-2">
            <div class="input-group">
               <div class="input-group-addon">
                  <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
               </div>
               <select name="orden" class="form-control" onchange="this.form.submit()">
                  <option value="fecha DESC, numero DESC">Orden: fecha descendente</option>
                  <option value="fecha ASC, numero ASC"{if="$fsc->orden=='fecha ASC, numero ASC'"} selected=""{/if}>Orden: fecha</option>
                  <option value="importe ASC"{if="$fsc->orden=='importe ASC'"} selected=""{/if}>Orden: importe</option>
                  <option value="importe DESC"{if="$fsc->orden=='importe DESC'"} selected=""{/if}>Orden: importe descendente</option>
               </select>
            </div>
         </div>
      </div>
   </div>
</form>
{/if}

<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            <th></th>
            <th class="text-left">Ejercicio + Número</th>
            <th class="text-left">Concepto</th>
            <th class="text-right">Importe</th>
            <th class="text-right">Fecha</th>
         </tr>
      </thead>
      {loop="$fsc->resultados"}
      <tr class="clickableRow{if="$value->importe<=0"} danger{elseif="$value->editable"} warning{/if}" href="{$value->url()}">
         <td class="text-center">
            {if="$value->editable"}
            <span class="glyphicon glyphicon-pencil" title="editable"></span>
            {/if}
            {if="$value->tipodocumento"}
            <span class="glyphicon glyphicon-paperclip" title="{$value->tipodocumento} {$value->documento}"></span>
            {/if}
         </td>
         <td>{$value->codejercicio} <a href="{$value->url()}">{$value->numero}</a></td>
         <td>{$value->concepto}</td>
         <td class="text-right">{$fsc->show_precio($value->importe)}</td>
         <td class="text-right">{$value->fecha}</td>
      </tr>
      {else}
      <tr class="warning">
         <td></td>
         <td colspan="5">
            Ningún asiento encontrado.
            {if="!isset($_GET['descuadrados'])"} Pulsa <b>Nuevo</b> para crear uno.{/if}
         </td>
      </tr>
      {/loop}
   </table>
</div>

<div class="text-center">
   <ul class="pagination">
      {loop="$fsc->paginas()"}
      <li{if="$value['actual']"} class="active"{/if}>
         <a href="{$value['url']}">{$value['num']}</a>
      </li>
      {/loop}
   </ul>
</div>

{include="footer"}