{include="header"}

<div class="container-fluid">
   <div class="row" style="margin-bottom: 10px;">
      <div class="col-sm-12">
         {if="$fsc->check_for_updates()"}
         <div class="alert alert-info">
            <a href="updater.php" class="btn btn-sm btn-primary">
               <span class="glyphicon glyphicon-upload"></span>&nbsp; Actualizar
            </a>
            &nbsp; Hay actualizaciones disponibles. Las actualizaciones añaden nuevas
            características y solucionan errores.
         </div>
         {else}
         <div class="btn-group hidden-xs">
            <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
               <span class="glyphicon glyphicon-refresh"></span>
            </a>
            {if="$fsc->page->is_default()"}
            <a class="btn btn-sm btn-default active" href="{$fsc->url()}&amp;default_page=FALSE" title="desmarcar como página de inicio">
               <span class="glyphicon glyphicon-home"></span>
            </a>
            {else}
            <a class="btn btn-sm btn-default" href="{$fsc->url()}&amp;default_page=TRUE" title="marcar como página de inicio">
               <span class="glyphicon glyphicon-home"></span>
            </a>
            {/if}
         </div>
         <div class="btn-group">
            {loop="$fsc->extensions"}
               {if="$value->type=='button'"}
               <a href="index.php?page={$value->from}{$value->params}" class="btn btn-sm btn-default">{$value->text}</a>
               {/if}
            {/loop}
         </div>
         {/if}
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
               <a href="#mes" aria-controls="mes" role="tab" data-toggle="tab">
                  <span class="glyphicon glyphicon-calendar"></span> Este mes
               </a>
            </li>
            <li role="presentation">
               <a href="#trimestre" aria-controls="trimestre" role="tab" data-toggle="tab">
                  <span class="glyphicon glyphicon-calendar"></span> Trimestre
               </a>
            </li>
            <li role="presentation">
               <a href="#anyo" aria-controls="anyo" role="tab" data-toggle="tab">
                  <span class="glyphicon glyphicon-calendar"></span> Año
               </a>
            </li>
            <li role="presentation">
               <a href="#dashconfig" aria-controls="dashconfig" role="tab" data-toggle="tab">
                  <span class="glyphicon glyphicon-wrench"></span>
               </a>
            </li>
         </ul>
      </div>
   </div>
   <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="mes">
         <div class="row">
            <div class="col-sm-12">
               <br/>
               <p class="help-block">
                  Del <b>{$fsc->mes['desde']}</b> al <b>{$fsc->mes['hasta']}</b>.
                  {if="$fsc->anterior=='periodo'"}
                     Comparado con el mes anterior <b>hasta el mismo día</b>.
                  {else}
                     Comparado con el mismo mes del <b>año anterior hasta el mismo día</b>.
                  {/if}
               </p>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-3">
               <a href="index.php?page=informe_facturas" class="btn btn-lg btn-block btn-danger">
                  {if="$fsc->neto=='TRUE'"}
                     Compras: {$fsc->show_precio($fsc->mes['compras_neto'])}
                  {else}
                     Compras: {$fsc->show_precio($fsc->mes['compras'])}
                  {/if}
                  <br/>
                  {if="$fsc->mes['compras_mejora']>0"}
                     +{$fsc->show_numero($fsc->mes['compras_mejora'])} %
                  {elseif="$fsc->mes['compras_mejora']<0"}
                     {$fsc->show_numero($fsc->mes['compras_mejora'])} %
                  {else}
                     =
                  {/if}
               </a>
               <p class='help-block'>
                  {if="$fsc->neto=='TRUE'"}
                     <b>{$fsc->show_precio($fsc->mes['compras_anterior_neto'])}</b>
                  {else}
                     <b>{$fsc->show_precio($fsc->mes['compras_anterior'])}</b>
                  {/if}
                  {if="$fsc->anterior=='periodo'"}
                     el mes anterior hasta este mismo día.
                  {else}
                     el mismo mes del año anterior hasta este mismo día.
                  {/if}
               </p>
               <ul>
                  <li>
                     <b>{$fsc->show_precio($fsc->mes['compras_albaranes_pte'])}</b> en {#FS_ALBARANES#} pendientes.
                  </li>
                  <li>
                     <b>{$fsc->show_precio($fsc->mes['compras_pedidos_pte'])}</b> en {#FS_PEDIDOS#} pendientes.
                  </li>
               </ul>
            </div>
            <div class="col-sm-3">
               <a href="index.php?page=informe_facturas" class="btn btn-lg btn-block btn-success">
                  {if="$fsc->neto=='TRUE'"}
                     Ventas: {$fsc->show_precio($fsc->mes['ventas_neto'])}
                  {else}
                     Ventas: {$fsc->show_precio($fsc->mes['ventas'])}
                  {/if}
                  <br/>
                  {if="$fsc->mes['ventas_mejora']>0"}
                     +{$fsc->show_numero($fsc->mes['ventas_mejora'])} %
                  {elseif="$fsc->mes['ventas_mejora']<0"}
                     {$fsc->show_numero($fsc->mes['ventas_mejora'])} %
                  {else}
                     =
                  {/if}
               </a>
               <p class='help-block'>
                  {if="$fsc->neto=='TRUE'"}
                     <b>{$fsc->show_precio($fsc->mes['ventas_anterior_neto'])}</b>
                  {else}
                     <b>{$fsc->show_precio($fsc->mes['ventas_anterior'])}</b>
                  {/if}
                  {if="$fsc->anterior=='periodo'"}
                     el mes anterior hasta este mismo día.
                  {else}
                     el mismo mes del año anterior hasta este mismo día.
                  {/if}
               </p>
               <ul>
                  <li>
                     <b>{$fsc->show_precio($fsc->mes['ventas_albaranes_pte'])}</b> en {#FS_ALBARANES#} pendientes.
                  </li>
                  <li>
                     <b>{$fsc->show_precio($fsc->mes['ventas_pedidos_pte'])}</b> en {#FS_PEDIDOS#} pendientes.
                  </li>
               </ul>
            </div>
            <div class="col-sm-3">
               <a href="index.php?page=informe_facturas" class="btn btn-lg btn-block btn-warning">
                  Impuestos: {$fsc->show_precio($fsc->mes['impuestos'])}
                  <br/>
                  {if="$fsc->mes['impuestos_mejora']>0"}
                     +{$fsc->show_numero($fsc->mes['impuestos_mejora'])} %
                  {elseif="$fsc->mes['impuestos_mejora']<0"}
                     {$fsc->show_numero($fsc->mes['impuestos_mejora'])} %
                  {else}
                     =
                  {/if}
               </a>
               <p class="help-block">
                  <b>{$fsc->show_precio($fsc->mes['impuestos_anterior'])}</b>
                  {if="$fsc->anterior=='periodo'"}
                     el mes anterior hasta este mismo día.
                  {else}
                     el mismo mes del año anterior hasta este mismo día.
                  {/if}
               </p>
               {if="$fsc->empresa->codpais='ESP'"}
               <p class="help-block">
                  <a href="index.php?page=contabilidad_nuevo_asiento#asistente">Cuota de autónomo</a>,
                  <a href="index.php?page=contabilidad_nuevo_asiento#asistente">modelo 130</a>,
                  <a href="#" data-toggle="modal" data-target="#modal_303">modelos 303 y 390</a>,
                  <a href="#" data-toggle="modal" data-target="#modal_347">modelo 347</a>.
               </p>
               {/if}
            </div>
            <div class="col-sm-3">
               <a href="index.php?page=informe_facturas" class="btn btn-lg btn-block btn-info">
                  Beneficio: {$fsc->show_precio($fsc->mes['beneficios'])}
                  <br/>
                  {if="$fsc->mes['beneficios_mejora']>0"}
                     +{$fsc->show_numero($fsc->mes['beneficios_mejora'])} %
                  {elseif="$fsc->mes['beneficios_mejora']<0"}
                     {$fsc->show_numero($fsc->mes['beneficios_mejora'])} %
                  {else}
                     =
                  {/if}
               </a>
               <p class="help-block">
                  <b>{$fsc->show_precio($fsc->mes['beneficios_anterior'])}</b>
                  {if="$fsc->anterior=='periodo'"}
                     el mes anterior hasta este mismo día.
                  {else}
                     el mismo mes del año anterior hasta este mismo día.
                  {/if}
               </p>
               <ul>
                  <li>
                     <b>{$fsc->show_precio($fsc->mes['compras_sinpagar'])}</b> en facturas de compra sin pagar.
                  </li>
                  <li>
                     <b>{$fsc->show_precio($fsc->mes['ventas_sinpagar'])}</b> en facturas de venta vencidas y sin pagar.
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="trimestre">
         <div class="row">
            <div class="col-sm-12">
               <br/>
               <p class="help-block">
                  Del <b>{$fsc->trimestre['desde']}</b> al <b>{$fsc->trimestre['hasta']}</b>.
                  {if="$fsc->anterior=='periodo'"}
                     Comparado con el <b>trimestre anterior completo</b>.
                  {else}
                     Comparado con el mismo trimestre del <b>año anterior completo</b>.
                  {/if}
               </p>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-3">
               <a href="index.php?page=informe_facturas" class="btn btn-lg btn-block btn-danger">
                  {if="$fsc->neto=='TRUE'"}
                     Compras: {$fsc->show_precio($fsc->trimestre['compras_neto'])}
                  {else}
                     Compras: {$fsc->show_precio($fsc->trimestre['compras'])}
                  {/if}
                  <br/>
                  {if="$fsc->trimestre['compras_mejora']>0"}
                     +{$fsc->show_numero($fsc->trimestre['compras_mejora'])} %
                  {elseif="$fsc->trimestre['compras_mejora']<0"}
                     {$fsc->show_numero($fsc->trimestre['compras_mejora'])} %
                  {else}
                     =
                  {/if}
               </a>
               <p class="help-block">
                  {if="$fsc->neto=='TRUE'"}
                     <b>{$fsc->show_precio($fsc->trimestre['compras_anterior_neto'])}</b> el trimestre anterior.
                  {else}
                     <b>{$fsc->show_precio($fsc->trimestre['compras_anterior'])}</b> el trimestre anterior.
                  {/if}
               </p>
            </div>
            <div class="col-sm-3">
               <a href="index.php?page=informe_facturas" class="btn btn-lg btn-block btn-success">
                  {if="$fsc->neto=='TRUE'"}
                     Ventas: {$fsc->show_precio($fsc->trimestre['ventas_neto'])}
                  {else}
                     Ventas: {$fsc->show_precio($fsc->trimestre['ventas'])}
                  {/if}
                  <br/>
                  {if="$fsc->trimestre['ventas_mejora']>0"}
                     +{$fsc->show_numero($fsc->trimestre['ventas_mejora'])} %
                  {elseif="$fsc->trimestre['ventas_mejora']<0"}
                     {$fsc->show_numero($fsc->trimestre['ventas_mejora'])} %
                  {else}
                     =
                  {/if}
               </a>
               <p class="help-block">
                  {if="$fsc->neto=='TRUE'"}
                     <b>{$fsc->show_precio($fsc->trimestre['ventas_anterior_neto'])}</b> el trimestre anterior.
                  {else}
                     <b>{$fsc->show_precio($fsc->trimestre['ventas_anterior'])}</b> el trimestre anterior.
                  {/if}
               </p>
            </div>
            <div class="col-sm-3">
               <a href="index.php?page=informe_facturas" class="btn btn-lg btn-block btn-warning">
                  Impuestos: {$fsc->show_precio($fsc->trimestre['impuestos'])}
                  <br/>
                  {if="$fsc->trimestre['impuestos_mejora']>0"}
                     +{$fsc->show_numero($fsc->trimestre['impuestos_mejora'])} %
                  {elseif="$fsc->trimestre['impuestos_mejora']<0"}
                     {$fsc->show_numero($fsc->trimestre['impuestos_mejora'])} %
                  {else}
                     =
                  {/if}
               </a>
               <p class="help-block">
                  <b>{$fsc->show_precio($fsc->trimestre['impuestos_anterior'])}</b> el trimestre anterior.
               </p>
            </div>
            <div class="col-sm-3">
               <a href="index.php?page=informe_facturas" class="btn btn-lg btn-block btn-info">
                  Beneficio: {$fsc->show_precio($fsc->trimestre['beneficios'])}
                  <br/>
                  {if="$fsc->trimestre['beneficios_mejora']>0"}
                     +{$fsc->show_numero($fsc->trimestre['beneficios_mejora'])} %
                  {elseif="$fsc->trimestre['beneficios_mejora']<0"}
                     {$fsc->show_numero($fsc->trimestre['beneficios_mejora'])} %
                  {else}
                     =
                  {/if}
               </a>
               <p class="help-block">
                  <b>{$fsc->show_precio($fsc->trimestre['beneficios_anterior'])}</b> el trimestre anterior.
               </p>
            </div>
         </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="anyo">
         <div class="row">
            <div class="col-sm-12">
               <br/>
               <p class="help-block">
                  Comparado con el año anterior hasta el mismo día.
               </p>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-3">
               <a href="index.php?page=informe_facturas" class="btn btn-lg btn-block btn-danger">
                  {if="$fsc->neto=='TRUE'"}
                     Compras: {$fsc->show_precio($fsc->anyo['compras_neto'])}
                  {else}
                     Compras: {$fsc->show_precio($fsc->anyo['compras'])}
                  {/if}
                  <br/>
                  {if="$fsc->anyo['compras_mejora']>0"}
                     +{$fsc->show_numero($fsc->anyo['compras_mejora'])} %
                  {elseif="$fsc->anyo['compras_mejora']<0"}
                     {$fsc->show_numero($fsc->anyo['compras_mejora'])} %
                  {else}
                     =
                  {/if}
               </a>
               <p class="help-block">
                  {if="$fsc->neto=='TRUE'"}
                     <b>{$fsc->show_precio($fsc->anyo['compras_anterior_neto'])}</b> el año anterior hasta este mismo día.
                  {else}
                     <b>{$fsc->show_precio($fsc->anyo['compras_anterior'])}</b> el año anterior hasta este mismo día.
                  {/if}
               </p>
            </div>
            <div class="col-sm-3">
               <a href="index.php?page=informe_facturas" class="btn btn-lg btn-block btn-success">
                  {if="$fsc->neto=='TRUE'"}
                     Ventas: {$fsc->show_precio($fsc->anyo['ventas_neto'])}
                  {else}
                     Ventas: {$fsc->show_precio($fsc->anyo['ventas'])}
                  {/if}
                  <br/>
                  {if="$fsc->anyo['ventas_mejora']>0"}
                     +{$fsc->show_numero($fsc->anyo['ventas_mejora'])} %
                  {elseif="$fsc->anyo['ventas_mejora']<0"}
                     {$fsc->show_numero($fsc->anyo['ventas_mejora'])} %
                  {else}
                     =
                  {/if}
               </a>
               <p class="help-block">
                  {if="$fsc->neto=='TRUE'"}
                     <b>{$fsc->show_precio($fsc->anyo['ventas_anterior_neto'])}</b> el año anterior hasta este mismo día.
                  {else}
                     <b>{$fsc->show_precio($fsc->anyo['ventas_anterior'])}</b> el año anterior hasta este mismo día.
                  {/if}
               </p>
            </div>
            <div class="col-sm-3">
               <a href="index.php?page=informe_facturas" class="btn btn-lg btn-block btn-warning">
                  Impuestos: {$fsc->show_precio($fsc->anyo['impuestos'])}
                  <br/>
                  {if="$fsc->anyo['impuestos_mejora']>0"}
                     +{$fsc->show_numero($fsc->anyo['impuestos_mejora'])} %
                  {elseif="$fsc->anyo['impuestos_mejora']<0"}
                     {$fsc->show_numero($fsc->anyo['impuestos_mejora'])} %
                  {else}
                     =
                  {/if}
               </a>
               <p class="help-block">
                  <b>{$fsc->show_precio($fsc->anyo['impuestos_anterior'])}</b> el año anterior hasta este mismo día.
               </p>
            </div>
            <div class="col-sm-3">
               <a href="index.php?page=informe_facturas" class="btn btn-lg btn-block btn-info">
                  Beneficio: {$fsc->show_precio($fsc->anyo['beneficios'])}
                  <br/>
                  {if="$fsc->anyo['beneficios_mejora']>0"}
                     +{$fsc->show_numero($fsc->anyo['beneficios_mejora'])} %
                  {elseif="$fsc->anyo['beneficios_mejora']<0"}
                     {$fsc->show_numero($fsc->anyo['beneficios_mejora'])} %
                  {else}
                     =
                  {/if}
               </a>
               <p class="help-block">
                  <b>{$fsc->show_precio($fsc->anyo['beneficios_anterior'])}</b> el año anterior hasta este mismo día.
               </p>
            </div>
         </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="dashconfig">
         <form action="{$fsc->url()}" method="post" class="form">
            <div class="row">
               <div class="col-sm-12">
                  <br/>
                  <p class="help-block">
                     Desde aquí puedes modificar la <b>configuración</b> del dashboard.
                  </p>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-5">
                  <div class="form-group">
                     <div class="radio">
                        <label>
                           {if="$fsc->anterior=='periodo'"}
                           <input type="radio" name="anterior" value="periodo" checked=""/>
                           {else}
                           <input type="radio" name="anterior" value="periodo"/>
                           {/if}
                           Comprarar con el <b>periodo anterior</b> (comprar este mes con el anterior).
                        </label>
                     </div>
                     <div class="radio">
                        <label>
                           {if="$fsc->anterior=='año'"}
                           <input type="radio" name="anterior" value="año" checked=""/>
                           {else}
                           <input type="radio" name="anterior" value="año"/>
                           {/if}
                           Comparar con el periodo del <b>año anterior</b> (comparar este mes con el
                           mismo mes del año anterior).
                        </label>
                     </div>
                  </div>
               </div>
               <div class="col-sm-5">
                  <div class="form-group">
                     <div class="radio">
                        <label>
                           {if="$fsc->neto=='FALSE'"}
                           <input type="radio" name="neto" value="FALSE" checked=""/>
                           {else}
                           <input type="radio" name="neto" value="FALSE"/>
                           {/if}
                           Mostrar valores <b>brutos</b> en compras y ventas.
                        </label>
                     </div>
                     <div class="radio">
                        <label>
                           {if="$fsc->neto=='TRUE'"}
                           <input type="radio" name="neto" value="TRUE" checked=""/>
                           {else}
                           <input type="radio" name="neto" value="TRUE"/>
                           {/if}
                           Mostrar valores <b>netos</b> en compras y ventas.
                        </label>
                     </div>
                  </div>
               </div>
               <div class="col-sm-2 text-right">
                  <button type="submit" class="btn btn-sm btn-primary">
                     <span class="glyphicon glyphicon-floppy-disk"></span>
                     <span class="hidden-xs">&nbsp; Guardar</span>
                  </button>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <br/><br/>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>

<ul class="nav nav-tabs" role="tablist">
   <li role="presentation" class="active">
      <a href="#comunidad" aria-controls="comunidad" role="tab" data-toggle="tab">
         <i class="fa fa-users"></i> Comunidad FS
      </a>
   </li>
   {loop="$fsc->extensions"}
      {if="$value->type=='tab'"}
      <li role="presentation">
         <a href="#ext_{$value->name}" aria-controls="ext_{$value->name}" role="tab" data-toggle="tab">{$value->text}</a>
      </li>
      {/if}
   {/loop}
</ul>
<div class="tab-content">
   <div role="tabpanel" class="tab-pane active" id="comunidad">
      <br/>
      <div class="container-fluid">
         <div class="row">
            <div class="col-sm-9">
               <div class="table-responsive">
                  <table class="table table-hover">
                     <thead>
                        <tr>
                           <th class="text-left">Novedades</th>
                        </tr>
                     </thead>
                     {loop="$fsc->noticias"}
                     <tr class="info clickableRow" href="{$value->url}" target="_blank">
                        <td>
                           <p><i class="fa fa-user"></i> {$value->autor}</p>
                           <p>
                              {$value->texto}<br/>
                              <small>{$value->fecha}</small>
                           </p>
                        </td>
                     </tr>
                     {else}
                     <tr class="warning">
                        <td>Sin resultados.</td>
                     </tr>
                     {/loop}
                  </table>
               </div>
            </div>
            <div class="col-sm-3">
               <form action="https://www.facturascripts.com/comm3/index.php?page=community_search" method="post" target="_blank" class="form">
                  <div class="form-group">
                     ¿Tienes dudas?
                     <div class="input-group">
                        <input type="text" name="query" placeholder="Buscar en facturascripts.com" class="form-control" autocomplete="off"/>
                        <span class="input-group-btn">
                           <button type="submit" class="btn btn-primary">
                              <span class="glyphicon glyphicon-search"></span>
                           </button>
                        </span>
                     </div>
                  </div>
               </form>
               {if="!$fsc->empresa->can_send_mail()"}
               <a href="index.php?page=admin_empresa#email" class="btn btn-block btn-warning">
                  <i class="fa fa-envelope fa-3x" aria-hidden="true"></i>
                  <br/>Configurar email
               </a>
               <p class="help-block">
                  ¿Quieres enviar emails desde FacturaScripts?
                  Puedes usar tu cuenta de <b>gmail</b>, <b>hotmail</b> o tu dominio personalizado
                  para enviar documentos cómodamente desde FacturaScripts.
               </p>
               <br/>
               {/if}
               <a href="https://www.facturascripts.com/ideas#mejoras" target="_blank" class="btn btn-block btn-default">
                  <i class="fa fa-trophy fa-3x" aria-hidden="true"></i>
                  <br/>Mejoras
               </a>
               <p class="help-block">
                  Tenemos una serie de mejoras en el horno que te pueden interesar,
                  pero necesitan financiación ¿Te apuntas? Sólo necesitas <b>5 €</b>.
               </p>
               <br/>
               <a href="index.php?page=admin_home#descargas" class="btn btn-block btn-default">
                  <i class="fa fa-puzzle-piece fa-3x" aria-hidden="true"></i>
                  <br/>Plugins
               </a>
               <p class="help-block">
                  ¿Te falta algo? Revisa la lista de plugins disponibles en la sección
                  descargas del panel de control. Hay de todo, y con un desarrollo constante ;-)
               </p>
            </div>
         </div>
      </div>
   </div>
   {loop="$fsc->extensions"}
      {if="$value->type=='tab'"}
      <div role="tabpanel" class="tab-pane" id="ext_{$value->name}">
         <iframe src="index.php?page={$value->from}{$value->params}" width="100%" height="2000" frameborder="0"></iframe>
      </div>
      {/if}
   {/loop}
</div>

<div class="modal fade" id="modal_303" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Modelos 303 y 390</h4>
         </div>
         <div class="modal-body">
            Los modelos 303 y 390 para la hacienda española los tienes disponibles en el
            <b>plugin modelos_303_390</b>.
         </div>
         {if="in_array('modelos_303_390', $GLOBALS['plugins'])"}
         <div class="panel-footer">
            <a href="index.php?page=contabilidad_regusiva" class="btn btn-sm btn-default">
               <span class="glyphicon glyphicon-book"></span>&nbsp; Modelo 303
            </a>
            <a href="index.php?page=modelo_390" class="btn btn-sm btn-default">
               <span class="glyphicon glyphicon-book"></span>&nbsp; Modelo 390
            </a>
         </div>
         {/if}
      </div>
   </div>
</div>

<div class="modal fade" id="modal_347" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Modelos 303 y 390</h4>
         </div>
         <div class="modal-body">
            El modelo 347 para la hacienda española lo tienes disponible en el
            <b>plugin modelo_347</b>.
         </div>
         {if="in_array('modelo_347', $GLOBALS['plugins'])"}
         <div class="panel-footer">
            <a href="index.php?page=informe_347" class="btn btn-sm btn-default">
               <span class="glyphicon glyphicon-book"></span>&nbsp; Modelo 347
            </a>
         </div>
         {/if}
      </div>
   </div>
</div>

{include="footer"}