{include="header"}

{if="$fsc->balance"}
<script type="text/javascript">
   $(document).ready(function() {
      $("#b_eliminar_balance").click(function(event) {
         event.preventDefault();
         if( confirm("¿Estas seguro de que deseas eliminar este balance?") )
         {
            window.location.href = '{$fsc->url()}&delete={function="urlencode($fsc->balance->codbalance)"}';
         }
      });
   });
</script>

<div class="container-fluid">
   <form action="{$fsc->balance->url()}" method="post" class="form">
      <div class="row">
         <div class="col-sm-6">
            <div class="btn-group">
               <a href="{$fsc->url()}" class="btn btn-sm btn-default">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <span class="hidden-xs">&nbsp;Todos</span>
               </a>
               <a class="btn btn-sm btn-default" href="{$fsc->balance->url()}" title="Recargar la página">
                  <span class="glyphicon glyphicon-refresh"></span>
               </a>
            </div>
         </div>
         <div class="col-sm-6 text-right">
            <div class="btn-group">
               {if="$fsc->allow_delete"}
               <a id="b_eliminar_balance" class="btn btn-sm btn-danger" href="#">
                  <span class="glyphicon glyphicon-trash"></span>
                  <span class="hidden-sm hidden-xs">&nbsp;Eliminar</span>
               </a>
               {/if}
               <button class="btn btn-sm btn-primary" type="button" onclick="this.disabled=true;this.form.submit();">
                  <span class="glyphicon glyphicon-floppy-disk"></span>
                  <span class="hidden-xs">&nbsp;Guardar</span>
               </button>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <div class="page-header">
               <h1>
                  <span class="glyphicon glyphicon-wrench"></span>
                  Balance {$fsc->balance->codbalance}
               </h1>
               <p class="help-block">
                  {if="$fsc->balance->naturaleza=='A'"}
                  <span class="label label-success">Activo</span>
                  {elseif="$fsc->balance->naturaleza=='P'"}
                  <span class="label label-info">Pasivo</span>
                  {elseif="$fsc->balance->naturaleza=='PG'"}
                  <span class="label label-warning">Pérdidas y ganancias</span>
                  {else}
                  <span class="label label-default">{$fsc->balance->naturaleza}</span>
                  {/if} &nbsp;
                  {$fsc->balance->descripcion1}
               </p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-3">
            <div class="form-group">
               Naturaleza:
               <select name="naturaleza" class="form-control">
                  {loop="$fsc->all_naturalezas()"}
                     {if="$key==$fsc->balance->naturaleza"}
                     <option value="{$key}" selected="">{$value}</option>
                     {else}
                     <option value="{$key}">{$value}</option>
                     {/if}
                  {/loop}
               </select>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="form-group">
               Descripción:
               <input type="text" name="descripcion" value="{$fsc->balance->descripcion1}" class="form-control" autocomplete="off"/>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="form-group">
               Descripción 2:
               <input type="text" name="descripcion2" value="{$fsc->balance->descripcion2}" class="form-control" autocomplete="off"/>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="form-group">
               Descripción 3:
               <input type="text" name="descripcion3" value="{$fsc->balance->descripcion3}" class="form-control" autocomplete="off"/>
            </div>
         </div>
      </div>
   </form>
   <form action="{$fsc->balance->url()}" method="post" class="form">
      <div class="row">
         <div class="col-sm-6">
            <div class="panel panel-default">
               <div class="panel-heading">
                  <h3 class="panel-title">Cuentas en balance</h3>
               </div>
               <div class="table-responsive">
                  <table class="table table-hover">
                     <thead>
                        <tr>
                           <th>Cuenta</th>
                           <th></th>
                        </tr>
                     </thead>
                     {loop="$fsc->cuentas"}
                     <tr>
                        <td>{$value->codcuenta}</td>
                        <td class="text-right">
                           {if="$fsc->allow_delete"}
                           <a href="{$fsc->balance->url()}&rm_cuenta={$value->id}" title="Eliminar">
                              <span class="glyphicon glyphicon-trash"></span>
                           </a>
                           {/if}
                        </td>
                     </tr>
                     {/loop}
                     <tr class="info">
                        <td>
                           <input type="text" name="nueva_cuenta" class="form-control" placeholder="cuenta" autocomplete="off"/>
                        </td>
                        <td class="text-right">
                           <button type="submit" class="btn btn-sm btn-primary">
                              <span class="glyphicon glyphicon-plus-sign"></span>
                              <span class="hidden-xs">&nbsp; Nueva</span>
                           </button>
                        </td>
                     </tr>
                  </table>
               </div>
            </div>
         </div>
         <div class="col-sm-6">
            <div class="panel panel-default">
               <div class="panel-heading">
                  <h3 class="panel-title">Cuentas en balance abreviado</h3>
               </div>
               <div class="table-responsive">
                  <table class="table table-hover">
                     <thead>
                        <tr>
                           <th>Cuenta</th>
                           <th></th>
                        </tr>
                     </thead>
                     {loop="$fsc->cuentas_a"}
                     <tr>
                        <td>{$value->codcuenta}</td>
                        <td class="text-right">
                           {if="$fsc->allow_delete"}
                           <a href="{$fsc->balance->url()}&rm_cuenta_a={$value->id}" title="Eliminar">
                              <span class="glyphicon glyphicon-trash"></span>
                           </a>
                           {/if}
                        </td>
                     </tr>
                     {/loop}
                     <tr class="info">
                        <td>
                           <input type="text" name="nueva_cuenta_a" class="form-control" placeholder="cuenta" autocomplete="off"/>
                        </td>
                        <td class="text-right">
                           <button type="submit" class="btn btn-sm btn-primary">
                              <span class="glyphicon glyphicon-plus-sign"></span>
                              <span class="hidden-xs">&nbsp; Nueva</span>
                           </button>
                        </td>
                     </tr>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </form>
</div>
{else}
<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h1>
               <span class="glyphicon glyphicon-wrench"></span> Balances contables
               <a class="btn btn-xs btn-default" href="{$fsc->url()}" title="Recargar la página">
                  <span class="glyphicon glyphicon-refresh"></span>
               </a>
               <a href="#" class="btn btn-xs btn-success" data-toggle="modal" data-target="#modal_nuevo_balance">
                  <span class="glyphicon glyphicon-plus"></span> Nuevo
               </a>
               <span class="btn-group">
                  {loop="$fsc->extensions"}
                     {if="$value->type=='button'"}
                     <a href="index.php?page={$value->from}{$value->params}" class="btn btn-xs btn-default">{$value->text}</a>
                     {/if}
                  {/loop}
               </span>
            </h1>
            <p class="help-block">
               Estos son los códigos de balance que definen cómo FacturaScripts genera
               los informes contables. Puedes hacer clic en cada uno de ellos para añadir
               o quitar cuentas.
            </p>
            <a href="#naturaleza_A" class="label label-success">A = Activo</a>
            <a href="#naturaleza_P" class="label label-info">P = Pasivo</a>
            <a href="#naturaleza_PG" class="label label-warning">PG = Pérdidas y ganancias</a>
            <a href="#naturaleza_IG" class="label label-default">IG = Ingresos y gastos</a>
         </div>
         <div class="table-responsive">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th>Código</th>
                     <th>Naturaleza</th>
                     <th>Descripción</th>
                     <th>Descripción 2</th>
                     <th>Descripción 3</th>
                  </tr>
               </thead>
               <!--{$naturaleza=''}-->
               {loop="$fsc->all_balances()"}
               <tr class="clickableRow" href="{$value->url()}">
                  <td>
                     {if="$value->naturaleza!=$naturaleza"}
                     <a name="naturaleza_{$value->naturaleza}"></a>
                     <!--{$naturaleza=$value->naturaleza}-->
                     {/if}
                     <a href="{$value->url()}">{$value->codbalance}</a>
                  </td>
                  <td{if="$value->naturaleza=='A'"} class="success"{elseif="$value->naturaleza=='P'"} class="info"{elseif="$value->naturaleza=='PG'"} class="warning"{/if}>
                     {$value->naturaleza}
                  </td>
                  <td>{$value->descripcion1}</td>
                  <td>{$value->descripcion2}</td>
                  <td>{$value->descripcion3}</td>
               </tr>
               {else}
               <tr class="warning">
                  <td colspan="5">
                     Sin resultados. ¿Has importado el plan contable?
                  </td>
               </tr>
               {/loop}
            </table>
         </div>
      </div>
   </div>
</div>

<form action="{$fsc->url()}" method="post" class="form">
   <div class="modal fade" id="modal_nuevo_balance">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Nuevo balance contable</h4>
            </div>
            <div class="modal-body">
               <div class="form-group">
                  Código:
                  <input type="text" name="ncodbalance" class="form-control" maxlength="15" required="" autocomplete="off" autofocus=""/>
               </div>
               <div class="form-group">
                  Naturaleza:
                  <select name="naturaleza" class="form-control">
                     {loop="$fsc->all_naturalezas()"}
                        <option value="{$key}">{$value}</option>
                     {/loop}
                  </select>
               </div>
               <div class="form-group">
                  Descripción:
                  <input type="text" name="descripcion" class="form-control" required="" autocomplete="off"/>
               </div>
            </div>
            <div class="modal-footer">
               <button type="submit" class="btn btn-sm btn-primary">
                  <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Guardar
               </button>
            </div>
         </div>
      </div>
   </div>
</form>
{/if}

{include="footer"}