{include="header"}

<script type="text/javascript">
   function clean_cliente()
   {
      document.listado_general.codcliente.value = '';
      document.listado_general.submit();
   }
   function clean_proveedor()
   {
      document.listado_general.codproveedor.value = '';
      document.listado_general.submit();
   }
   /**
    * Redimensiona un iframe
    */
   function resizeIframe(obj) {
      obj.style.height = (obj.contentWindow.document.body.scrollHeight + 100) + 'px';
   }
   /**
    *  Workarround para Firefox (siempre dice que el height es 0)
    */
   function resize(frame) {
      var b = frame.contentWindow.document.body || frame.contentDocument.body,
              cHeight = $(b).height();

      if (frame.oHeight !== cHeight) {
         $(frame).height(0);
         frame.style.height = 0;

         $(frame).height(cHeight + 100);
         frame.style.height = (cHeight + 100) + "px";

         frame.oHeight = cHeight;
      }

      // Call again to check whether the content height has changed.
      setTimeout(function () {
         resize(frame);
      }, 250);
   }
   $(document).ready(function() {
      /**
       * El resize para Firefox lo llamamos cuando se ha cargado la página completamente
       */
      window.onload = function () {
         var frame,
                 frames = document.getElementsByTagName('iframe'),
                 i = frames.length - 1;

         while (i >= 0) {
            frame = frames[i];
            frame.onload = resize(frame);

            i -= 1;
         }
      };

      $("#ac_cliente").autocomplete({
         serviceUrl: '{$fsc->url()}',
         paramName: 'buscar_cliente',
         onSelect: function (suggestion) {
            if(suggestion)
            {
               if(document.listado_general.codcliente.value != suggestion.data && suggestion.data != '')
               {
                  document.listado_general.codcliente.value = suggestion.data;
                  document.listado_general.submit();
               }
            }
         }
      });
      $("#ac_proveedor").autocomplete({
         serviceUrl: '{$fsc->url()}',
         paramName: 'buscar_proveedor',
         onSelect: function (suggestion) {
            if(suggestion)
            {
               if(document.listado_general.codproveedor.value != suggestion.data && suggestion.data != '')
               {
                  document.listado_general.codproveedor.value = suggestion.data;
                  document.listado_general.submit();
               }
            }
         }
      });
   });
</script>

<div class="container-fluid">
   <form name="listado_general" action="{$fsc->url()}" method="post" class="form">
      {if="$fsc->cliente"}
      <input type="hidden" name="codcliente" value="{$fsc->cliente->codcliente}"/>
      {else}
      <input type="hidden" name="codcliente"/>
      {/if}
      {if="$fsc->proveedor"}
      <input type="hidden" name="codproveedor" value="{$fsc->proveedor->codproveedor}"/>
      {else}
      <input type="hidden" name="codproveedor"/>
      {/if}
      <div class="row">
         <div class="col-sm-12">
            <div class="page-header">
               <h1>
                  <i class="fa fa-area-chart" aria-hidden="true"></i> Informe de {#FS_FACTURAS#}
                  <span class="btn-group">
                     <a class="btn btn-xs btn-default" href="{$fsc->url()}" title="Recargar la página">
                        <span class="glyphicon glyphicon-refresh"></span>
                     </a>
                  </span>
                  <span class="btn-group">
                     {loop="$fsc->extensions"}
                     {if condition="$value->type=='button'"}
                     <a href="index.php?page={$value->from}{$value->params}" class="btn btn-xs btn-default">{$value->text}</a>
                     {elseif="$value->type=='modal'"}
                     <a href="#" class="btn btn-xs btn-default" onclick="fs_modal('{$txt}', '{$url}')">{$value->text}</a>
                     {/if}
                     {/loop}
                  </span>
               </h1>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-2">
            <div class="form-group">
               Desde:
               <input class="form-control datepicker" type="text" name="desde" value="{$fsc->desde}" autocomplete="off" onchange="this.form.submit()"/>
            </div>
         </div>
         <div class="col-sm-2">
            <div class="form-group">
               Hasta:
               <input class="form-control datepicker" type="text" name="hasta" value="{$fsc->hasta}" autocomplete="off" onchange="this.form.submit()"/>
            </div>
         </div>
         <div class="col-sm-2">
            <div class="form-group">
               <a href="{$fsc->agente->url()}">Empleado</a>:
               <select name="codagente" class="form-control" onchange="this.form.submit()">
                  <option value="">Todos</option>
                  <option value="">------</option>
                  {loop="$fsc->agente->all()"}
                     {if="$fsc->codagente==$value->codagente"}
                     <option value="{$value->codagente}" selected="">{$value->get_fullname()}</option>
                     {else}
                     <option value="{$value->codagente}">{$value->get_fullname()}</option>
                     {/if}
                  {/loop}
               </select>
            </div>
         </div>
         <div class="col-sm-2">
            <div class="form-group">
               <a href="{$fsc->serie->url()}" class="text-capitalize">{#FS_SERIE#}</a>:
               <select class="form-control" name="codserie" onchange="this.form.submit()">
                  <option value="">Todas</option>
                  <option value="">-----</option>
                  {loop="$fsc->serie->all()"}
                     {if="$fsc->codserie==$value->codserie"}
                     <option value="{$value->codserie}" selected="">{$value->descripcion}</option>
                     {else}
                     <option value="{$value->codserie}">{$value->descripcion}</option>
                     {/if}
                  {/loop}
               </select>
            </div>
         </div>
         <div class="col-sm-2">
            <div class="form-group">
               <a href="{$fsc->divisa->url()}">Divisa</a>:
               <select name="coddivisa" class="form-control" onchange="this.form.submit()">
                  {loop="$fsc->divisa->all()"}
                     {if="$fsc->coddivisa==$value->coddivisa"}
                     <option value="{$value->coddivisa}" selected="">{$value->descripcion}</option>
                     {else}
                     <option value="{$value->coddivisa}">{$value->descripcion}</option>
                     {/if}
                     {/loop}
               </select>
            </div>
         </div>
         <div class="col-sm-2">
            <div class="form-group">
               <a href="{$fsc->forma_pago->url()}">Forma de pago</a>:
               <select name="codpago" class="form-control" onchange="this.form.submit()">
                  <option value="">Todas</option>
                  <option value="">------</option>
                  {loop="$fsc->forma_pago->all()"}
                     {if="$fsc->codpago==$value->codpago"}
                     <option value="{$value->codpago}" selected="">{$value->descripcion}</option>
                     {else}
                     <option value="{$value->codpago}">{$value->descripcion}</option>
                     {/if}
                  {/loop}
               </select>
            </div>
         </div>
      </div>
      <div class="row">
         {if="$fsc->multi_almacen"}
         <div class="col-sm-2">
            <div class="form-group">
               <a href="{$fsc->almacen->url()}">Almacén</a>:
               <select name="codalmacen" class="form-control" onchange="this.form.submit()">
                  <option value="">Todos</option>
                  <option value="">------</option>
                  {loop="$fsc->almacen->all()"}
                     {if="$fsc->codalmacen==$value->codalmacen"}
                     <option value="{$value->codalmacen}" selected="">{$value->nombre}</option>
                     {else}
                     <option value="{$value->codalmacen}">{$value->nombre}</option>
                     {/if}
                  {/loop}
               </select>
            </div>
         </div>
         {else}
         <input type="hidden" name="codalmacen" value=""/>
         {/if}
         <div class="col-sm-2">
            <div class="form-group">
               Estado:
               <select class="form-control" name="estado" onchange="this.form.submit()">
                  <option value="">Todos</option>
                  <option value="pagada"{if="$fsc->estado=='pagada'"} selected=""{/if}>Pagada</option>
                  <option value="sinpagar"{if="$fsc->estado=='sinpagar'"} selected=""{/if}>Sin pagar</option>
               </select>
            </div>
         </div>
         <div class="col-sm-3">
            Proveedor:
            <div class="input-group">
               {if="$fsc->proveedor"}
               <input class="form-control" type="text" name="ac_proveedor" value="{$fsc->proveedor->nombre}" id="ac_proveedor" placeholder="Cualquier Proveedor" autocomplete="off"/>
               {else}
               <input class="form-control" type="text" name="ac_proveedor" id="ac_proveedor" placeholder="Cualquier proveedor" autocomplete="off"/>
               {/if}
               <span class="input-group-btn">
                  <button class="btn btn-default" type="button" onclick="clean_proveedor()">
                     <span class="glyphicon glyphicon-remove"></span>
                  </button>
               </span>
            </div>
         </div>
         <div class="col-sm-3">
            Cliente:
            <div class="input-group">
               {if="$fsc->cliente"}
               <input class="form-control" type="text" name="ac_cliente" value="{$fsc->cliente->nombre}" id="ac_cliente" placeholder="Cualquier cliente" autocomplete="off"/>
               {else}
               <input class="form-control" type="text" name="ac_cliente" id="ac_cliente" placeholder="Cualquier cliente" autocomplete="off"/>
               {/if}
               <span class="input-group-btn">
                  <button class="btn btn-default" type="button" onclick="clean_cliente()">
                     <span class="glyphicon glyphicon-remove"></span>
                  </button>
               </span>
            </div>
         </div>
         {if="!$fsc->multi_almacen"}
         <div class="col-sm-2"></div>
         {/if}
         <div class="col-sm-2">
            <div class="form-group">
               Descargar:
               <div class="input-group">
                  <span class="input-group-addon">
                     <span class="glyphicon glyphicon-download-alt"></span>
                  </span>
                  <select class="form-control" name="generar" onchange="this.form.submit()">
                     <option value="">-----</option>
                     <option value="pdf_cli">PDF &gt; Clientes</option>
                     <option value="xls_cli">XLS &gt; Clientes</option>
                     <option value="csv_cli">CSV &gt; Clientes</option>
                     <option value="pdf_prov">PDF &gt; Proveedores</option>
                     <option value="xls_prov">XLS &gt; Proveedores</option>
                     <option value="csv_prov">CSV &gt; Proveedores</option>  
                  </select>
               </div>
            </div>
         </div>
      </div>
   </form>
   <div class="row">
      <div class="col-sm-12">
         <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
               <a href="#mensual" aria-controls="mensual" role="tab" data-toggle="tab">Mensual</a>
            </li>
            <li role="presentation">
               <a href="#desgloses" aria-controls="desgloses" role="tab" data-toggle="tab">Desgloses</a>
            </li>
            <li role="presentation">
               <a href="#empleados" aria-controls="empleados" role="tab" data-toggle="tab">Empleados</a>
            </li>
            <li role="presentation">
               <a href="#mas_inf" aria-controls="mas_inf" role="tab" data-toggle="tab">Más...</a>
            </li>
            {loop="$fsc->extensions"}
            {if condition="$value->type=='tab'"}
            <li role="presentation">
               <a href="#ext_{$value->name}" aria-controls="ext_{$value->name}" role="tab" data-toggle="tab">{$value->text}</a>
            </li>
            {/if}
            {/loop}
         </ul>
         <br/>
      </div>
   </div>
   <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="mensual">
         <div class="row">
            <div class="col-sm-12">
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <h3 class="panel-title"><span class="text-capitalize">{#FS_FACTURAS#}</span> últimos 30 días</h3>
                  </div>
                  <div class="panel-body">
                     <canvas id="chart_facturas_mes_actual" style="height: 350px;"></canvas>
                     <p class="help-block">Se muestran valores <b>netos</b>, es decir, sin impuestos. Se aplican los mismos filtros, excepto el de fecha.</p>
                  </div>
               </div>
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <h3 class="panel-title"><span class="text-capitalize">{#FS_FACTURAS#}</span> por mes</h3>
                  </div>
                  <div class="panel-body">
                     <canvas id="chart_facturas_mes" style="height: 350px;"></canvas>
                     <p class="help-block">Se muestran valores <b>netos</b>, es decir, sin impuestos.</p>
                  </div>
               </div>
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <h3 class="panel-title"><span class="text-capitalize">{#FS_FACTURAS#}</span> por año</h3>
                  </div>
                  <div class="panel-body">
                     <canvas id="chart_facturas_anyo" style="height: 350px;"></canvas>
                     <p class="help-block">Se muestran valores <b>netos</b>, es decir, sin impuestos.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="desgloses">
         <div class="row">
            <div class="col-sm-6">
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <h3 class="panel-title">
                        <span class="text-capitalize">{#FS_FACTURAS#}</span> de compras por estado
                     </h3>
                  </div>
                  <div class="panel-body">
                     <canvas id="chart_compras_estados"></canvas>
                  </div>
                  <div class="table-responsive">
                     <table class="table table-hover">
                        <thead>
                           <tr>
                              <th>Campo</th>
                              <th class="text-right">Total</th>
                           </tr>
                        </thead>
                        {loop="$fsc->stats_estados()"}
                        <tr>
                           <td>{$value['txt']}</td>
                           <td class="text-right">{$fsc->show_precio($value['total'])}</td>
                        </tr>
                        {else}
                        <tr class="warning">
                           <td colspan="2">Sin resultados.</td>
                        </tr>
                        {/loop}
                     </table>
                  </div>
               </div>
            </div>
            <div class="col-sm-6">
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <h3 class="panel-title">
                        <span class="text-capitalize">{#FS_FACTURAS#}</span> de ventas por estado
                     </h3>
                  </div>
                  <div class="panel-body">
                     <canvas id="chart_ventas_estados"></canvas>
                  </div>
                  <div class="table-responsive">
                     <table class="table table-hover">
                        <thead>
                           <tr>
                              <th>Campo</th>
                              <th class="text-right">Total</th>
                           </tr>
                        </thead>
                        {loop="$fsc->stats_estados('facturascli')"}
                        <tr>
                           <td>{$value['txt']}</td>
                           <td class="text-right">{$fsc->show_precio($value['total'])}</td>
                        </tr>
                        {else}
                        <tr class="warning">
                           <td colspan="2">Sin resultados.</td>
                        </tr>
                        {/loop}
                     </table>
                  </div>
               </div>
            </div>
         </div>
         {if="$fsc->multi_almacen"}
         <div class="row">
            <div class="col-sm-6">
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <h3 class="panel-title">
                        <span class="text-capitalize">{#FS_FACTURAS#}</span> de compras por almacén
                     </h3>
                  </div>
                  <div class="panel-body">
                     <canvas id="chart_compras_almacenes"></canvas>
                  </div>
                  <div class="table-responsive">
                     <table class="table table-hover">
                        <thead>
                           <tr>
                              <th>Campo</th>
                              <th class="text-right">Total</th>
                           </tr>
                        </thead>
                        {loop="$fsc->stats_almacenes()"}
                        <tr>
                           <td>{$value['txt']}</td>
                           <td class="text-right">{$fsc->show_precio($value['total'])}</td>
                        </tr>
                        {else}
                        <tr class="warning">
                           <td colspan="2">Sin resultados.</td>
                        </tr>
                        {/loop}
                     </table>
                  </div>
               </div>
            </div>
            <div class="col-sm-6">
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <h3 class="panel-title">
                        <span class="text-capitalize">{#FS_FACTURAS#}</span> de ventas por almacén
                     </h3>
                  </div>
                  <div class="panel-body">
                     <canvas id="chart_ventas_almacenes"></canvas>
                  </div>
                  <div class="table-responsive">
                     <table class="table table-hover">
                        <thead>
                           <tr>
                              <th>Campo</th>
                              <th class="text-right">Total</th>
                           </tr>
                        </thead>
                        {loop="$fsc->stats_almacenes('facturascli')"}
                        <tr>
                           <td>{$value['txt']}</td>
                           <td class="text-right">{$fsc->show_precio($value['total'])}</td>
                        </tr>
                        {else}
                        <tr class="warning">
                           <td colspan="2">Sin resultados.</td>
                        </tr>
                        {/loop}
                     </table>
                  </div>
               </div>
            </div>
         </div>
         {/if}
         <div class="row">
            <div class="col-sm-6">
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <h3 class="panel-title">
                        <span class="text-capitalize">{#FS_FACTURAS#}</span> de compras por {#FS_SERIE#}
                     </h3>
                  </div>
                  <div class="panel-body">
                     <canvas id="chart_compras_series"></canvas>
                  </div>
                  <div class="table-responsive">
                     <table class="table table-hover">
                        <thead>
                           <tr>
                              <th>Campo</th>
                              <th class="text-right">Total</th>
                           </tr>
                        </thead>
                        {loop="$fsc->stats_series()"}
                        <tr>
                           <td>{$value['txt']}</td>
                           <td class="text-right">{$fsc->show_precio($value['total'])}</td>
                        </tr>
                        {else}
                        <tr class="warning">
                           <td colspan="2">Sin resultados.</td>
                        </tr>
                        {/loop}
                     </table>
                  </div>
               </div>
            </div>
            <div class="col-sm-6">
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <h3 class="panel-title">
                        <span class="text-capitalize">{#FS_FACTURAS#}</span> de ventas por {#FS_SERIE#}
                     </h3>
                  </div>
                  <div class="panel-body">
                     <canvas id="chart_ventas_series"></canvas>
                  </div>
                  <div class="table-responsive">
                     <table class="table table-hover">
                        <thead>
                           <tr>
                              <th>Campo</th>
                              <th class="text-right">Total</th>
                           </tr>
                        </thead>
                        {loop="$fsc->stats_series('facturascli')"}
                        <tr>
                           <td>{$value['txt']}</td>
                           <td class="text-right">{$fsc->show_precio($value['total'])}</td>
                        </tr>
                        {else}
                        <tr class="warning">
                           <td colspan="2">Sin resultados.</td>
                        </tr>
                        {/loop}
                     </table>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <h3 class="panel-title">
                        <span class="text-capitalize">{#FS_FACTURAS#}</span> de compras por formas de pago
                     </h3>
                  </div>
                  <div class="panel-body">
                     <canvas id="chart_compras_formas_pago"></canvas>
                  </div>
                  <div class="table-responsive">
                     <table class="table table-hover">
                        <thead>
                           <tr>
                              <th>Campo</th>
                              <th class="text-right">Total</th>
                           </tr>
                        </thead>
                        {loop="$fsc->stats_formas_pago()"}
                        <tr>
                           <td>{$value['txt']}</td>
                           <td class="text-right">{$fsc->show_precio($value['total'])}</td>
                        </tr>
                        {else}
                        <tr class="warning">
                           <td colspan="2">Sin resultados.</td>
                        </tr>
                        {/loop}
                     </table>
                  </div>
               </div>
            </div>
            <div class="col-sm-6">
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <h3 class="panel-title">
                        <span class="text-capitalize">{#FS_FACTURAS#}</span> de ventas por formas de pago
                     </h3>
                  </div>
                  <div class="panel-body">
                     <canvas id="chart_ventas_formas_pago"></canvas>
                  </div>
                  <div class="table-responsive">
                     <table class="table table-hover">
                        <thead>
                           <tr>
                              <th>Campo</th>
                              <th class="text-right">Total</th>
                           </tr>
                        </thead>
                        {loop="$fsc->stats_formas_pago('facturascli')"}
                        <tr>
                           <td>{$value['txt']}</td>
                           <td class="text-right">{$fsc->show_precio($value['total'])}</td>
                        </tr>
                        {else}
                        <tr class="warning">
                           <td colspan="2">Sin resultados.</td>
                        </tr>
                        {/loop}
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="empleados">
         <div class="row">
            <div class="col-sm-6">
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <h3 class="panel-title">
                        <span class="text-capitalize">{#FS_FACTURAS#}</span> de compras por Empleado
                     </h3>
                  </div>
                  <div class="panel-body">
                     <canvas id="chart_compras_agentes"></canvas>
                  </div>
                  <div class="table-responsive">
                     <table class="table table-hover">
                        <thead>
                           <tr>
                              <th>Campo</th>
                              <th class="text-right">Total</th>
                           </tr>
                        </thead>
                        {loop="$fsc->stats_agentes()"}
                        <tr>
                           {if="$value['txt']=='Ninguno'"}
                              <td class="warning">Ninguno</td>
                              <td class="warning text-right">{$fsc->show_precio($value['total'])}</td>
                           {else}
                              <td>{$value['txt']}</td>
                              <td class="text-right">{$fsc->show_precio($value['total'])}</td>
                           {/if}
                        </tr>
                        {else}
                        <tr class="warning">
                           <td colspan="2">Sin resultados.</td>
                        </tr>
                        {/loop}
                     </table>
                  </div>
               </div>
            </div>
            <div class="col-sm-6">
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <h3 class="panel-title">
                        <span class="text-capitalize">{#FS_FACTURAS#}</span> de ventas por Empleado
                     </h3>
                  </div>
                  <div class="panel-body">
                     <canvas id="chart_ventas_agentes"></canvas>
                  </div>
                  <div class="table-responsive">
                     <table class="table table-hover">
                        <thead>
                           <tr>
                              <th>Campo</th>
                              <th class="text-right">Total</th>
                           </tr>
                        </thead>
                        {loop="$fsc->stats_agentes('facturascli')"}
                        <tr>
                           {if="$value['txt']=='Ninguno'"}
                              <td class="warning">Ninguno</td>
                              <td class="warning text-right">{$fsc->show_precio($value['total'])}</td>
                           {else}
                              <td>{$value['txt']}</td>
                              <td class="text-right">{$fsc->show_precio($value['total'])}</td>
                           {/if}
                        </tr>
                        {else}
                        <tr class="warning">
                           <td colspan="2">Sin resultados.</td>
                        </tr>
                        {/loop}
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="mas_inf">
         <div class="row">
            <div class="col-sm-4">
               <form name="informe_proveedor" action="{$fsc->url()}" method="post" target="_blank" class="form">
                  <input type="hidden" name="generar" value="informe_compras"/>
                  <input type="hidden" name="desde" value="{$fsc->desde}"/>
                  <input type="hidden" name="hasta" value="{$fsc->hasta}"/>
                  <input type="hidden" name="codalmacen" value="{$fsc->codalmacen}"/>
                  <input type="hidden" name="codserie" value="{$fsc->codserie}"/>
                  <input type="hidden" name="codagente" value="{$fsc->codagente}"/>
                  {if="$fsc->cliente"}
                  <input type="hidden" name="codcliente" value="{$fsc->cliente->codcliente}"/>
                  {else}
                  <input type="hidden" name="codcliente"/>
                  {/if}
                  <div class="panel panel-default">
                     <div class="panel-heading">
                        <h3 class="panel-title">
                           <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
                           &nbsp; Informe de compras
                        </h3>
                     </div>
                     <div class="panel-body">
                        <p class="help-block">
                           Obtén un informe de compras desglosado por proveedor, año y mes.
                        </p>
                        <div class="radio">
                           <label>
                              <input type="radio" name="unidades" value="FALSE" checked=""/>
                              Importes
                           </label>
                        </div>
                        <div class="radio">
                           <label>
                              <input type="radio" name="unidades" value="TRUE"/>
                              Unidades
                           </label>
                        </div>
                        <div class="form-group">
                           Mínimo:
                           <input type="text" name="minimo" class="form-control" autocomplete="off" placeholder="importe o unidades (opcional)"/>
                        </div>
                     </div>
                     <div class="panel-footer">
                        <button class="btn btn-sm btn-primary" type="submit">
                           <span class="glyphicon glyphicon-eye-open"></span>&nbsp; Mostrar
                        </button>
                     </div>
                  </div>
               </form>
            </div>
            <div class="col-sm-4">
               <form name="informe_facturas" action="{$fsc->url()}" method="post" target="_blank" class="form">
                  <input type="hidden" name="generar" value="informe_ventas"/>
                  <input type="hidden" name="desde" value="{$fsc->desde}"/>
                  <input type="hidden" name="hasta" value="{$fsc->hasta}"/>
                  <input type="hidden" name="codalmacen" value="{$fsc->codalmacen}"/>
                  <input type="hidden" name="codserie" value="{$fsc->codserie}"/>
                  <input type="hidden" name="codagente" value="{$fsc->codagente}"/>
                  {if="$fsc->proveedor"}
                  <input type="hidden" name="codproveedor" value="{$fsc->proveedor->codproveedor}"/>
                  {else}
                  <input type="hidden" name="codproveedor"/>
                  {/if}
                  <div class="panel panel-default">
                     <div class="panel-heading">
                        <h3 class="panel-title">
                           <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
                           &nbsp; Informe de ventas
                        </h3>
                     </div>
                     <div class="panel-body">
                        <p class="help-block">
                           Obtén un informe de ventas desglosado por cliente, año y mes.
                        </p>
                        <div class="form-group">
                           <a href="{$fsc->pais->url()}">Pais</a>:
                           <select class="form-control" name="codpais">
                              <option value="">Todos</option>
                              <option value="">-----</option>
                              {loop="$fsc->pais->all()"}
                              <option value="{$value->codpais}">{$value->nombre}</option>
                              {/loop}
                           </select>
                        </div>
                        <div class="form-group">
                           <span class="text-capitalize">{#FS_PROVINCIA#}:</span>
                           <select name="provincia" class="form-control">
                              <option value="">Todas</option>
                              <option value="">------</option>
                              {loop="$fsc->provincias()"}
                              <option value="{$key}">{$value}</option>
                              {/loop}
                           </select>
                        </div>
                        <div class="radio">
                           <label>
                              <input type="radio" name="unidades" value="FALSE" checked=""/>
                              Importes
                           </label>
                        </div>
                        <div class="radio">
                           <label>
                              <input type="radio" name="unidades" value="TRUE"/>
                              Unidades
                           </label>
                        </div>
                        <div class="form-group">
                           Importe mínimo:
                           <input type="text" name="minimo" class="form-control" autocomplete="off" placeholder="opcional"/>
                        </div>
                     </div>
                     <div class="panel-footer">
                        <button class="btn btn-sm btn-primary" type="submit">
                           <span class="glyphicon glyphicon-eye-open"></span>&nbsp; Mostrar
                        </button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
      {loop="$fsc->extensions"}
      {if condition="$value->type=='tab'"}
      <div role="tabpanel" class="tab-pane" id="ext_{$value->name}">
         <iframe src="index.php?page={$value->from}{$value->params}" width="100%" scrolling="no" frameborder="0" onload="resizeIframe(this);" allowfullscreen ></iframe>
      </div>
      {/if}
      {/loop}
   </div>
</div>

<script src="{#FS_PATH#}view/js/chart.bundle.min.js"></script>
<script type="text/javascript">
   $(document).ready(function () {
      
      /// definimos unos colores para usar
      var default_colors = [
         "rgba(255, 99, 132,0.8)","rgba(54, 162, 235,0.8)",'#3366CC','#DC3912','#FF9900',
         '#109618','#990099','#3B3EAC','#0099C6','#DD4477','#66AA00','#B82E2E','#316395',
         '#994499','#22AA99','#AAAA11','#6633CC','#E67300','#8B0707','#329262','#5574A6',
         '#3B3EAC'
      ];
      
      /// cargamos los datos de las facturas del mes actual
      var facturas_mes_actual_labels = [];
      var facturas_mes_actual_data = [
         [],[]
      ];
      
      {loop="$fsc->stats_last_30_days()"}
      facturas_mes_actual_labels.push("{$value['day']}");
      facturas_mes_actual_data[0].push("{$value['total_pro']}");
      facturas_mes_actual_data[1].push("{$value['total_cli']}");
      {/loop}
      
      /// esto es un apaño para evitar los problemas de charts.js con tabs en bootstrap
      var ctx1 = document.getElementById('chart_facturas_mes_actual').getContext('2d');
      ctx1.canvas.height = 150;
      
      var chart1 = new Chart(ctx1, {
            type: 'bar',
            data: {
               labels: facturas_mes_actual_labels,
               datasets: [
                  {
                     label: 'compras',
                     backgroundColor: "rgba(255, 99, 132,0.8)",
                     data: facturas_mes_actual_data[0]
                  },
                  {
                     label: 'ventas',
                     backgroundColor: "rgba(54, 162, 235,0.8)",
                     data: facturas_mes_actual_data[1]
                  }
               ]
            }
         }
      );
      
      /// cargamos los datos de las facturas por mes
      var facturas_mes_labels = [];
      var facturas_mes_data = [
         [],[]
      ];
      {loop="$fsc->stats_months()"}
      facturas_mes_labels.push("{$value['month']}");
      facturas_mes_data[0].push("{$value['total_pro']}");
      facturas_mes_data[1].push("{$value['total_cli']}");
      {/loop}
      
      /// esto es un apaño para evitar los problemas de charts.js con tabs en bootstrap
      var ctx2 = document.getElementById('chart_facturas_mes').getContext('2d');
      ctx2.canvas.height = 150;
      
      var chart2 = new Chart(ctx2, {
            type: 'line',
            data: {
               labels: facturas_mes_labels,
               datasets: [
                  {
                     label: 'compras',
                     backgroundColor: "rgba(255, 99, 132,0.8)",
                     data: facturas_mes_data[0]
                  },
                  {
                     label: 'ventas',
                     backgroundColor: "rgba(54, 162, 235,0.8)",
                     data: facturas_mes_data[1]
                  }
               ]
            }
         }
      );
      
      /// cargamos los datos de los pedios por mes
      var facturas_anyo_labels = [];
      var facturas_anyo_data = [
         [],[]
      ];
      {loop="$fsc->stats_years()"}
      facturas_anyo_labels.push("{$value['year']}");
      facturas_anyo_data[0].push("{$value['total_pro']}");
      facturas_anyo_data[1].push("{$value['total_cli']}");
      {/loop}
      
      /// esto es un apaño para evitar los problemas de charts.js con tabs en bootstrap
      var ctx3 = document.getElementById('chart_facturas_anyo').getContext('2d');
      ctx3.canvas.height = 150;
      
      var chart3 = new Chart(ctx3, {
            type: 'line',
            data: {
               labels: facturas_anyo_labels,
               datasets: [
                  {
                     label: 'compras',
                     backgroundColor: "rgba(255, 99, 132,0.8)",
                     data: facturas_anyo_data[0]
                  },
                  {
                     label: 'ventas',
                     backgroundColor: "rgba(54, 162, 235,0.8)",
                     data: facturas_anyo_data[1]
                  }
               ]
            }
         }
      );
      
      /// cargamos el queso del desglose por serie de las compras
      <!--{$data=$fsc->stats_series()}-->
      {$fsc->generar_chart_pie_js($data, 'chart_compras_series')}
      
      /// cargamos el queso del desglose por serie de las ventas
      <!--{$data=$fsc->stats_series('facturascli')}-->
      {$fsc->generar_chart_pie_js($data, 'chart_ventas_series')}
      
      {if="$fsc->multi_almacen"}
      /// cargamos el queso del desglose por almacén de las compras
      <!--{$data=$fsc->stats_almacenes()}-->
      {$fsc->generar_chart_pie_js($data, 'chart_compras_almacenes')}
      
      /// cargamos el queso del desglose por almacén de las ventas
      <!--{$data=$fsc->stats_almacenes('facturascli')}-->
      {$fsc->generar_chart_pie_js($data, 'chart_ventas_almacenes')}
      {/if}
      
      /// cargamos el queso del desglose por forma de pago de las compras
      <!--{$data=$fsc->stats_formas_pago()}-->
      {$fsc->generar_chart_pie_js($data, 'chart_compras_formas_pago')}
      
      /// cargamos el queso del desglose por forma de pago de las ventas
      <!--{$data=$fsc->stats_formas_pago('facturascli')}-->
      {$fsc->generar_chart_pie_js($data, 'chart_ventas_formas_pago')}
      
      /// cargamos el queso del desglose por estado de las compras
      <!--{$data=$fsc->stats_estados()}-->
      {$fsc->generar_chart_pie_js($data, 'chart_compras_estados')}
      
      /// cargamos el queso del desglose por estado de las ventas
      <!--{$data=$fsc->stats_estados('facturascli')}-->
      {$fsc->generar_chart_pie_js($data, 'chart_ventas_estados')}
      
      /// cargamos el queso del desglose por empleado de las compras
      <!--{$data=$fsc->stats_agentes()}-->
      {$fsc->generar_chart_pie_js($data, 'chart_compras_agentes')}
      
      /// cargamos el queso del desglose por empleado de las ventas
      <!--{$data=$fsc->stats_agentes('facturascli')}-->
      {$fsc->generar_chart_pie_js($data, 'chart_ventas_agentes')}
   });
</script>

{include="footer"}