{include="header"}

<div class="container">
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h1>
               <span class="glyphicon glyphicon-book"></span>
               &nbsp; Informes contables
               <a class="btn btn-xs btn-default" href="{$fsc->url()}" title="Recargar la página">
                  <span class="glyphicon glyphicon-refresh"></span>
               </a>
            </h1>
            <p class="help-block">
               Estos son los informes contables básicos para España. Algunos se generan
               en tiempo real, pero los que están tachados se generan vía cron.
            </p>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <div class="panel-group" id="accordion">
         {loop="$fsc->ejercicio->all()"}
            <div class="panel panel-default">
               <div class="panel-heading">
                  <h3 class="panel-title">
                     <a data-toggle="collapse" data-parent="#accordion" href="#collapse_{$counter}">
                        Ejercicio {$value->nombre}
                        {if="$value->abierto()"}
                        &nbsp; <span class="label label-default">Abierto</span>
                        {else}
                        &nbsp; <span class="label label-success">Cerrado</span>
                        {/if}
                     </a>
                  </h3>
               </div>
               <div id='collapse_{$counter}' class='panel-collapse collapse{if="$counter==0"} in{/if}'>
                  <div class="panel-body">
                     <div class="container-fluid">
                        <div class="row">
                           <div class="col-sm-3">
                              {if="$fsc->existe_libro_diario($value->codejercicio)"}
                              <a href="tmp/{#FS_TMP_NAME#}libro_diario/{$value->codejercicio}.pdf" target="_blank">
                                 <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Libro diario
                              </a>
                              {else}
                              <a href="#"><s>Libro diario</s></a>
                              {/if}
                           </div>
                           <div class="col-sm-3">
                              <a href="{$fsc->url()}&diario={$value->codejercicio}" target="_blank">
                                 <span class="glyphicon glyphicon-file" aria-hidden="true"></span> Libro diario (CSV)
                              </a>
                           </div>
                           <div class="col-sm-3">
                              {if="$fsc->existe_libro_inventarios($value->codejercicio)"}
                              <a href="tmp/{#FS_TMP_NAME#}inventarios_balances/{$value->codejercicio}.pdf" target="_blank">
                                 <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Libro de inventarios y balances
                              </a>
                              {else}
                              <a href="#"><s>Libro de inventarios y balances</s></a>
                              {/if}
                           </div>
                           <div class="col-sm-3">
                              <a href="{$fsc->url()}&balance=pyg&eje={$value->codejercicio}" target="_blank">
                                 <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Balance de pérdidas y ganancias
                              </a>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-sm-12">
                              <h3>Balance de sumas y saldos:</h3>
                           </div>
                        </div>
                        <div class="row">
                           <form action="{$fsc->url()}" method="post" target="_blank" class="form">
                              <input type="hidden" name="codejercicio" value="{$value->codejercicio}"/>
                              <input type="hidden" name="informe" value="sumasysaldos"/>
                              <div class="col-sm-2">
                                 <div class="form-group">
                                    Desde:
                                    <input type="text" name="desde" value="{$value->fechainicio}" class="form-control datepicker" autocomplete="off"/>
                                 </div>
                              </div>
                              <div class="col-sm-2">
                                 <div class="form-group">
                                    Hasta:
                                    <input type="text" name="hasta" value="{$value->fechafin}" class="form-control datepicker" autocomplete="off"/>
                                 </div>
                              </div>
                              <div class="col-sm-2">
                                 <div class="form-group">
                                    Tipo:
                                    <select name="tipo" class="form-control">
                                       <option value="3">3 dígitos</option>
                                       <option value="normal">Normal</option>
                                    </select>
                                 </div>
                              </div>
                              <div class="col-sm-2">
                                 <br/>
                                 <button type="submit" class="btn btn-sm btn-primary">
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> &nbsp; Mostrar
                                 </button>
                              </div>
                           </form>
                        </div>
                        <div class="row">
                           <div class="col-sm-12">
                              <h3>Balance de situación:</h3>
                              <p class="help-block">
                                 Puedes filtrar por fecha o bien visualizar el
                                 <a href="{$fsc->url()}&balance=sit&eje={$value->codejercicio}" target="_blank">balance completo</a>
                                 comparado con el año anterior.
                              </p>
                           </div>
                        </div>
                        <div class="row">
                           <form action="{$fsc->url()}" method="post" target="_blank" class="form">
                              <input type="hidden" name="codejercicio" value="{$value->codejercicio}"/>
                              <input type="hidden" name="informe" value="situacion"/>
                              <div class="col-sm-2">
                                 <div class="form-group">
                                    Desde:
                                    <input type="text" name="desde" value="{$value->fechainicio}" class="form-control datepicker" autocomplete="off"/>
                                 </div>
                              </div>
                              <div class="col-sm-2">
                                 <div class="form-group">
                                    Hasta:
                                    <input type="text" name="hasta" value="{$value->fechafin}" class="form-control datepicker" autocomplete="off"/>
                                 </div>
                              </div>
                              <div class="col-sm-2">
                                 <br/>
                                 <button type="submit" class="btn btn-sm btn-primary">
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> &nbsp; Mostrar
                                 </button>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         {/loop}
         </div>
      </div>
   </div>
</div>

{include="footer"}