{include="header"}

<div class="container-fluid" style="margin-top: 10px;">
   <div class="row">
      <div class="col-sm-6 col-xs-6">
         <div class="btn-group hidden-xs">
            <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
               <span class="glyphicon glyphicon-refresh"></span>
            </a>
            {if="$fsc->page->is_default()"}
            <a class="btn btn-sm btn-default active" href="{$fsc->url()}&amp;default_page=FALSE" title="desmarcar como página de inicio">
               <span class="glyphicon glyphicon-home"></span>
            </a>
            {else}
            <a class="btn btn-sm btn-default" href="{$fsc->url()}&amp;default_page=TRUE" title="marcar como página de inicio">
               <span class="glyphicon glyphicon-home"></span>
            </a>
            {/if}
         </div>
         <div class="btn-group">
            {loop="$fsc->extensions"}
               {if="$value->type=='button'"}
               <a href="index.php?page={$value->from}{$value->params}" class="btn btn-sm btn-default">{$value->text}</a>
               {/if}
            {/loop}
         </div>
      </div>
      <div class="col-sm-6 col-xs-6 text-right">
         <h2 style="margin-top: 0px;">Informes contables</h2>
      </div>
   </div>
</div>

<div class="panel-group" id="accordion" style="margin: 5px;">
   {loop="$fsc->ejercicio->all()"}
   <div class="panel panel-default">
      <div class="panel-heading">
         <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse_{$counter}">Ejercicio {$value->nombre}</a>
         </h3>
      </div>
      <div id="collapse_{$counter}" class="panel-collapse collapse{if="$counter==0"} in{/if}">
         <div class="panel-body">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-sm-3">
                     {if="$fsc->existe_libro_diario($value->codejercicio)"}
                     <a href="tmp/{#FS_TMP_NAME#}libro_diario/{$value->codejercicio}.pdf" target="_blank">
                        <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Libro diario
                     </a>
                     {else}
                     <a href="#"><s>Libro diario</s></a>
                     {/if}
                     <br/>
                     <a href="{$fsc->url()}&diario={$value->codejercicio}" target="_blank">
                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span> Libro diario (CSV)
                     </a>
                  </div>
                  <div class="col-sm-3">
                     {if="$fsc->existe_libro_inventarios($value->codejercicio)"}
                     <a href="tmp/{#FS_TMP_NAME#}inventarios_balances/{$value->codejercicio}.pdf" target="_blank">
                        <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Libro de inventarios y balances
                     </a>
                     {else}
                     <a href="#"><s>Libro de inventarios y balances</s></a>
                     {/if}
                  </div>
                  <div class="col-sm-3">
                     <a href="{$fsc->url()}&balance=pyg&eje={$value->codejercicio}" target="_blank">
                        <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Balance de pérdidas y ganancias
                     </a>
                  </div>
                  <div class="col-sm-3">
                     <a href="{$fsc->url()}&balance=sit&eje={$value->codejercicio}" target="_blank">
                        <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Balance de situación
                     </a>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-12">
                     <h3>Balance de sumas y saldos:</h3>
                  </div>
               </div>
               <div class="row">
                  <form action="{$fsc->url()}" method="post" target="_blank" class="form">
                     <input type="hidden" name="codejercicio" value="{$value->codejercicio}"/>
                     <div class="col-sm-2">
                        <div class="form-group">
                           Desde:
                           <input type="text" name="desde" value="{$value->fechainicio}" class="form-control datepicker" autocomplete="off"/>
                        </div>
                     </div>
                     <div class="col-sm-2">
                        <div class="form-group">
                           Hasta:
                           <input type="text" name="hasta" value="{$value->fechafin}" class="form-control datepicker" autocomplete="off"/>
                        </div>
                     </div>
                     <div class="col-sm-2">
                        <div class="form-group">
                           Tipo:
                           <select name="tipo" class="form-control">
                              <option value="3">3 dígitos</option>
                              <option value="normal">Normal</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-sm-2">
                        <br/>
                        <button type="submit" class="btn btn-sm btn-primary">
                           <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> &nbsp; Mostrar
                        </button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
   {/loop}
</div>

{include="footer"}