{include="header"}

<div class="container">
  <div class="row">
    <h1>Lista de Recibos en la Caja {$fsc->getCaja()->id}</h1>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="text-left">Código</th>
          <th class="text-left">Cliente</th>
          <th class="text-left">Forma de Pago</th>
          <th class="text-right">Total</th>
          <th class="text-right">Fecha</th>
          <th class="text-right">Vencimiento</th>
        </tr>
      </thead>
      <tbody>
      {loop="$fsc->getRecibos()"}
        <tr href="{$value->url()}">
          <td><a href="{$value->url()}">{$value->codigo}</a></td>
          <td>
            {$value->nombrecliente}
          </td>
          <td>{$value->getFormaPago()}</td>
          <td class="text-right">{$fsc->show_precio($value->importe, $value->coddivisa)}</td>
          <td class="text-right">
            {if="$value->fecha==$fsc->today()"}<b>{$value->fecha}</b>{else}{$value->fecha}{/if}
          </td>
          <td class="text-right">{$value->fechav}</td>
        </tr>
        {else}
        <tr class="bg-warning">
          <td></td>
          <td></td>
          <td colspan="6">Ningun recibo encontrado.</td>
        </tr>
      {/loop}
      </tbody>
    </table>
  </div>
  <hr />
  <div class="row">
    {loop="$fsc->getFormaPago()->all()"}
    <p>Total {$value->descripcion}: {$fsc->getTotal($value)}</p>
    {/loop}
  </div>
</div>

  {include="footer"}