{include="header"}

<script type="text/javascript">
   function delete_caja(id)
   {
      if( confirm("¿Realmente desea eliminar la caja "+id+"?") )
         window.location.href = '{$fsc->url()}&delete='+id;
   }
</script>

<div class="container-fluid" style="margin-top: 10px;">
   <div class="row">
      <div class="col-sm-6">
         <div class="btn-group hidden-xs">
            <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
               <span class="glyphicon glyphicon-refresh"></span>
            </a>
            {if="$fsc->page->is_default()"}
            <a class="btn btn-sm btn-default active" href="{$fsc->url()}&amp;default_page=FALSE" title="Desmarcar como página de inicio">
               <span class="glyphicon glyphicon-home"></span>
            </a>
            {else}
            <a class="btn btn-sm btn-default" href="{$fsc->url()}&amp;default_page=TRUE" title="Marcar como página de inicio">
               <span class="glyphicon glyphicon-home"></span>
            </a>
            {/if}
         </div>
         
         <div class="btn-group">
            {if="$fsc->show_cerrar"}
            <a class="btn btn-sm btn-danger" href="{$fsc->url()}&cerrar=TRUE" title="Cerrar caja">
               <span class="glyphicon glyphicon-lock"></span> &nbsp; Cerrar caja
            </a>
            {/if}
            {loop="$fsc->extensions"}
               {if="$value->type=='button'"}
               <a href="index.php?page={$value->from}" class="btn btn-sm btn-default">{$value->text}</a>
               {/if}
            {/loop}
         </div>
      </div>
      <div class="col-sm-6 text-right">
         <h2 style="margin-top: 0px;">Caja</h2>
      </div>
   </div>
</div>

<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            <th class="text-left">ID</th>
            <th class="text-left">Caja</th>
            <th class="text-left">Empleado</th>
            <th class="text-center">Fecha inicial</th>
            <th class="text-right">Dinero inicial</th>
            <th class="text-center">Fecha fin</th>
            <th class="text-right">Diferencia</th>
            <th class="text-right">Tickets</th>
            <th class="text-right">Acciones</th>
         </tr>
      </thead>
      {loop="$fsc->resultados"}
      <tr>
         <td>{$value->id}</td>
         <td>{$value->fs_id}</td>
         <td>
            {if="$value->agente"}
            <a href="{$value->agente->url()}">{$value->agente->get_fullname()}</a>
            {else}
            -
            {/if}
         </td>
         <td class="text-center">{$value->fecha_inicial}</td>
         <td class="text-right">{$fsc->show_precio($value->dinero_inicial)}</td>
         <td class="text-center">{$value->show_fecha_fin()}</td>
         <td class="text-right">{$fsc->show_precio($value->diferencia())}</td>
         <td class="text-right">{$value->tickets}</td>
         <td class="text-right">
            {if="$fsc->allow_delete"}
            <a href="#" class="btn btn-xs btn-danger" title="Eliminar" onclick="delete_caja('{$value->id}')">
               <span class="glyphicon glyphicon-trash"></span>
            </a>
            {/if}
         </td>
      </tr>
      {else}
      <tr class="bg-warning">
         <td colspan="9">Sin resultados.</td>
      </tr>
      {/loop}
   </table>
</div>

<ul class="pager">
   {if="$fsc->anterior_url()!=''"}
   <li class="previous">
      <a href="{$fsc->anterior_url()}">
         <span class="glyphicon glyphicon-chevron-left"></span> &nbsp; Anteriores
      </a>
   </li>
   {/if}
   
   {if="$fsc->siguiente_url()!=''"}
   <li class="next">
      <a href="{$fsc->siguiente_url()}">
         Siguientes &nbsp; <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
   </li>
   {/if}
</ul>

{include="footer"}