{include="header"}
<!--Bootstrap table-->
<link rel="stylesheet" href="plugins/facturacion_base/view/js/bootstrap-table.css" />
<script type="text/javascript" src="plugins/facturacion_base/view/js/bootstrap-table.js"></script>
<script type="text/javascript" src="plugins/facturacion_base/view/js/bootstrap-table-filter-control.js"></script>


<div class="container">
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h1>
               Trazabilidad
               <a class="btn btn-xs btn-default" href="{$fsc->url()}" title="Recargar la página">
                  <span class="glyphicon glyphicon-refresh"></span>
               </a>
               <div class="btn-group">
                  {loop="$fsc->extensions"}
                  {if="$value->type=='button'"}
                  <a href="index.php?page={$value->from}{$value->params}" class="btn btn-xs btn-default">{$value->text}</a>
                  {/if}
                  {/loop}
               </div>
            </h1>
         </div>
         <div class="table table-responsive">
             <table id="trazabilidad" data-toggle="table" data-filter-control="true">
               <thead>
                  <tr>
                     <th data-field="numserie" data-filter-control="input" data-sortable="true" class="text-left" width="80">Número de serie</th>
                     <th data-field="referencia" data-filter-control="input" data-sortable="true" width="80">Referencia</th>
                     <th data-field="albcompra" data-filter-control="input" data-sortable="true" >Albarán de compra</th>
                     <th data-field="faccompra" data-filter-control="input" data-sortable="true" >Factura de compra</th>
                     <th data-field="albventa" data-filter-control="input" data-sortable="true" >Albarán de venta</th>
                     <th data-field="facventa" data-filter-control="input" data-sortable="true" >Factura de venta</th>
                     <th data-field="vendido" data-filter-control="select" data-sortable="true" class="text-center">Vendido</th>
                     <th></th>
                  </tr>
               </thead>
               {loop="$fsc->resultados"}
               <tr class="{if="$value->vendido == 't'"}warning{else}success{/if}">
                  <td>{$value->numserie}</td>
                  <td>{$value->referencia}</td>
                  <td>{$fsc->get_albaran_compra($value->idlalbcompra)}</td>
                  <td>{$fsc->get_factura_compra($value->idlfaccompra)}</td>
                  <td>{$fsc->get_albaran_venta($value->idlalbventa)}</td>
                  <td>{$fsc->get_factura_venta($value->idlfacventa)}</td>
                  <td>
                     {if="$value->vendido == 't'"}
                     Si
                     {else}
                     No
                     {/if}
                  </td>
                  <td>
                     <button class="btn btn-sm btn-danger" type="button">
                        <span class="glyphicon glyphicon-trash"></span>
                     </button>
                  </td>
               </tr>
               {/loop}
             </table>
         </div>
      </div>
   </div>
</div>

{include="footer"}