{include="header"}

{if="$fsc->grupo"}
<div class="container-fluid" style="margin-top: 10px;">
   <div class="row">
      <div class="col-xs-6">
         <a class="btn btn-sm btn-default" href="{$fsc->grupo->url()}" title="Recargar la página">
            <span class="glyphicon glyphicon-refresh"></span>
         </a>
         <a class="btn btn-sm btn-default" href="index.php?page=ventas_clientes#grupos">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="hidden-xs">&nbsp; Grupos</span>
         </a>
         <div class="btn-group">
            {if="$fsc->tarifa"}
            <a class="btn btn-sm btn-default" href="{$fsc->tarifa->url()}">
               <span class="glyphicon glyphicon-usd"></span>
               <span class="hidden-xs">&nbsp; Tarifa</span>
            </a>
            {/if}
            {loop="$fsc->extensions"}
               {if="$value->type=='button'"}
               <a href="index.php?page={$value->from}{$value->params}" class="btn btn-sm btn-default">{$value->text}</a>
               {/if}
            {/loop}
         </div>
      </div>
      <div class="col-xs-6 text-right">
         <h2 style="margin-top: 0px;">Grupo {$fsc->grupo->nombre}</h2>
      </div>
   </div>
</div>

<ul class="nav nav-tabs">
   <li role="presentation"{if="$fsc->mostrar=='clientes'"} class="active"{/if}>
      <a href="{$fsc->grupo->url()}">
         <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
         <span class="hidden-xs">&nbsp; Clientes</span>
      </a>
   </li>
   <li role="presentation"{if="$fsc->mostrar=='facturas'"} class="active"{/if}>
      <a href="{$fsc->grupo->url()}&mostrar=facturas">
         <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
         <span class="hidden-xs">&nbsp; Facturas</span>
      </a>
   </li>
</ul>

{if="$fsc->mostrar=='clientes'"}
<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            <th class="text-left">Código + Nombre</th>
            <th class="text-left">{#FS_CIFNIF#}</th>
            <th class="text-left">email</th>
            <th class="text-left">Teléfono</th>
            <th class="text-left">Observaciones</th>
         </tr>
      </thead>
      {loop="$fsc->resultados"}
      <tr class='clickableRow{if="$value->debaja"} danger{elseif="$value->fechaalta==$fsc->today()"} success{/if}' href='{$value->url()}'>
         <td>
            <a href="{$value->url()}">{$value->codcliente}</a> {$value->nombre}
            {if="$value->debaja"}
            &nbsp; <span class="label label-danger" title="cliente dado de baja">Baja</span>
            {elseif="$value->fechaalta==$fsc->today()"}
            &nbsp; <span class="label label-success" title="Nuevo cliente">Nuevo</span>
            {/if}
         </td>
         <td>{$value->cifnif}</td>
         <td>{$value->email}</td>
         <td>{$value->telefono1}</td>
         <td>{$value->observaciones_resume()}</td>
      </tr>
      {else}
      <tr class="warning">
         <td colspan="5">Ningún cliente encontrado. Pulse el botón <b>Nuevo</b> para crear uno.</td>
      </tr>
      {/loop}
   </table>
</div>
{elseif="$fsc->mostrar=='facturas'"}
<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            <th></th>
            <th></th>
            <th class="text-left">Código + {#FS_NUMERO2#}</th>
            <th class="text-left">Cliente</th>
            <th class="text-left">Observaciones</th>
            <th class="text-right">Total</th>
            <th class="text-right">Fecha</th>
            <th class="text-right visible-lg">Hora</th>
         </tr>
      </thead>
      {loop="$fsc->resultados"}
      <tr class="clickableRow{if="$value->vencida()"} danger{elseif="$value->pagada"} success{elseif="$value->total<=0"} warning{/if}" href="{$value->url()}">
         <td class="text-center">
            {if="$value->pagada"}
            <span class="glyphicon glyphicon-ok" title="La {#FS_FACTURA#} está pagada"></span>
            {/if}
         </td>
         <td class="text-center">
            {if="$value->idasiento"}
            <span class="glyphicon glyphicon-paperclip" title="La {#FS_FACTURA#} tiene vinculado un asiento contable"></span>
            {/if}
         </td>
         <td>
            <a href="{$value->url()}">{$value->codigo}</a> {$value->numero2}
            {if="$value->idfacturarect"}
            <span class="label label-danger" title="{#FS_FACTURA_RECTIFICATIVA#} de {$value->codigorect}">
               <span class="glyphicon glyphicon-flag"></span>
            </span>
            {/if}
         </td>
         <td>{$value->nombrecliente}</td>
         <td>{$value->observaciones_resume()}</td>
         <td class="text-right">{$fsc->show_precio($value->total, $value->coddivisa)}</td>
         <td class="text-right">{$value->fecha}</td>
         <td class="text-right visible-lg">{$value->hora}</td>
      </tr>
      {else}
      <tr class="warning">
         <td></td>
         <td></td>
         <td colspan="6">Ninguna factura encontrada. Pulsa <b>Nueva</b> para crear una.</td>
      </tr>
      {/loop}
   </table>
</div>
{/if}

<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12 text-center">
         <ul class="pagination">
            {loop="$fsc->paginas()"}
            <li{if="$value['actual']"} class="active"{/if}>
               <a href="{$value['url']}">{$value['num']}</a>
            </li>
            {/loop}
         </ul>
      </div>
   </div>
</div>
{else}
<div class="thumbnail">
   <img src="view/img/fuuu_face.png" alt="fuuuuu"/>
</div>
{/if}

{include="footer"}