<div role="tabpanel" class="tab-pane" id="atributos">
   <br/>
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-9">
            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th>Referencia</th>
                        <th>Cod. Barras</th>
                        <th>Combinación</th>
                        <th width="130" class="text-right">Impacto precio</th>
                        <th width="100" class="text-right">Stock</th>
                        <th width="120"></th>
                     </tr>
                  </thead>
                  {loop="$fsc->combinaciones()"}
                  <form action="{$fsc->url()}#atributos" method="post" class="form">
                     <input type="hidden" name="editar_combi" value="{$value->codigo}"/>
                     <tr>
                        <td>
                           <input type="text" name="refcombinacion" value="{$value->refcombinacion}" class="form-control" maxlength="18" placeholder="(opcional)" autocomplete="off"/>
                        </td>
                        <td>
                           <input type="text" name="codbarras" value="{$value->codbarras}" class="form-control" maxlength="18" placeholder="(opcional)" autocomplete="off"/>
                        </td>
                        <td><div class="form-control">{$value->txt}</div></td>
                        <td>
                           <div class="input-group">
                              <input type="number" step="any" name="impactoprecio" value="{$value->impactoprecio}" class="form-control text-right" autocomplete="off" required=""/>
                              <span class="input-group-addon">{$fsc->simbolo_divisa()}</span>
                           </div>
                        </td>
                        <td>
                           <input type="text" name="stockcombinacion" value="{$value->stockfis}" class="form-control text-right" autocomplete="off"/>
                        </td>
                        <td class="text-right">
                           <div class="btn-group">
                              {if="$fsc->allow_delete"}
                              <a href="#" class="btn btn-sm btn-danger" onclick="delete_combinacion('{$value->codigo}')">
                                 <span class="glyphicon glyphicon-trash"></span>
                              </a>
                              {/if}
                              <button class="btn btn-sm btn-primary" type="submit" title="Guardar">
                                 <span class="glyphicon glyphicon-floppy-disk"></span>
                              </button>
                           </div>
                        </td>
                     </tr>
                  </form>
                  {else}
                  <tr class="warning">
                     <td colspan="6">Sin resultados.</td>
                  </tr>
                  {/loop}
               </table>
            </div>
         </div>
         <div class="col-sm-3">
            <form action="{$fsc->url()}#atributos" method="post" class="form">
               <input type="hidden" name="nueva_combi" value="TRUE"/>
               <div class="panel panel-info">
                  <div class="panel-heading">
                     <h3 class="panel-title">Nueva combinación</h3>
                  </div>
                  <div class="panel-body">
                     {loop="$fsc->atributos()"}
                     <div class="form-group">
                        <a href="{$value->url()}">{$value->nombre}</a>
                        <select name="idvalor_{$counter}" class="form-control">
                           <option value="">Ninguno</option>
                           <option value="">------</option>
                           {loop="$value->valores()"}
                           <option value="{$value2->id}">{$value2->valor}</option>
                           {/loop}
                        </select>
                     </div>
                     {/loop}
                     <div class="form-group">
                        Referencia:
                        <input type="text" class="form-control" name="refcombinacion" maxlength="18" placeholder="(opcional)" autocomplete="off"/>
                     </div>
                     <div class="form-group">
                        <div class="input-group">
                           <span class="input-group-addon">
                              <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>
                           </span>
                           <input type="text" class="form-control" name="codbarras" maxlength="18" placeholder="cod. barras (opcional)" autocomplete="off"/>
                        </div>
                     </div>
                     <div class="form-group">
                        Impacto en el precio:
                        <div class="input-group">
                           <span class="input-group-addon">{$fsc->simbolo_divisa()}</span>
                           <input type="number" step="any" class="form-control" name="impactoprecio" value="0" autocomplete="off" required=""/>
                        </div>
                        <p class="help-block">
                           Se le sumará al precio del artículo. Si quieres que reste pon un menos delante del número.
                        </p>
                     </div>
                  </div>
                  <div class="panel-footer">
                     <button class="btn btn-sm btn-primary" type="submit">
                        <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Guardar
                     </button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>