{include="header"}

{if="$fsc->grupo"}
<script type="text/javascript">
   function eliminar_grupo(cod)
   {
      bootbox.confirm({
         message: '¿Realmente desea eliminar este grupo?',
         title: '<b>Atención</b>',
         callback: function(result) {
            if (result) {
               window.location.href = 'index.php?page=ventas_clientes&delete_grupo={function="urlencode($fsc->grupo->codgrupo)"}#grupos';
            }
         }
      });
   }
   $(document).ready(function() {
      /**
       * Con esta opcion marcamos y desmarcamos el grupo de clientes que se visualizan actualmente
       */
      $('#marcartodo').click(function() {
         var checked = $(this).prop('checked');
         $('#agregar_clientes').find('input:checkbox').prop('checked', checked);
      });
   });
</script>

<div class="container-fluid">
   <form action="{$fsc->url()}" method="post" class="form">
      <div class="row">
         <div class="col-xs-6">
            <div class="btn-group">
               <a class="btn btn-sm btn-default" href="index.php?page=ventas_clientes#grupos">
                  <span class="glyphicon glyphicon-arrow-left"></span>
                  <span class="hidden-xs">&nbsp;Todos</span>
               </a>
               <a class="btn btn-sm btn-default" href="{$fsc->grupo->url()}" title="Recargar la página">
                  <span class="glyphicon glyphicon-refresh"></span>
               </a>
            </div>
            <div class="btn-group">
            {loop="$fsc->extensions"}
               {if="$value->type=='button'"}
               <a href="index.php?page={$value->from}{$value->params}" class="btn btn-sm btn-default">{$value->text}</a>
               {/if}
            {/loop}
            </div>
         </div>
         <div class="col-xs-6 text-right">
            <div class="btn-group">
               {if="$fsc->allow_delete"}
               <a href="#" class="btn btn-sm btn-danger" onclick="eliminar_grupo()">
                  <span class="glyphicon glyphicon-trash"></span>
                  <span class="hidden-xs">&nbsp;Eliminar</span>
               </a>
               {/if}
               <button type="submit" class="btn btn-sm btn-primary">
                  <span class="glyphicon glyphicon-floppy-disk"></span>
                  <span class="hidden-xs">&nbsp;Guardar</span>
               </button>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <div class="page-header">
               <h1>
                  <span class="glyphicon glyphicon-folder-open"></span>&nbsp;
                  Grupo <small>{$fsc->grupo->codgrupo}</small>
               </h1>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-8">
            <div class="form-group">
               <input type="text" name="nombre" value="{$fsc->grupo->nombre}" class="form-control" autocomplete="off"/>
            </div>
         </div>
         <div class="col-sm-4">
            <div class="form-group">
               <select name="codtarifa" class="form-control">
                  <option value="---">Ninguna tarifa</option>
                  <option value="---">---</option>
                  {loop="$fsc->tarifa->all()"}
                     {if="$value->codtarifa==$fsc->grupo->codtarifa"}
                     <option value="{$value->codtarifa}" selected="">{$value->nombre}</option>
                     {else}
                     <option value="{$value->codtarifa}">{$value->nombre}</option>
                     {/if}
                  {/loop}
               </select>
            </div>
         </div>
      </div>
   </form>
</div>

<br/>

<ul class="nav nav-tabs">
   <li role="presentation"{if="$fsc->mostrar=='clientes'"} class="active"{/if}>
      <a href="{$fsc->grupo->url()}">
         <span class="fa fa-users" aria-hidden="true"></span>
         <span class="hidden-xs">&nbsp;Clientes</span>
         <span class="badge">{$fsc->total_clientes}</span>
      </a>
   </li>
   <li role="presentation" {if="$fsc->mostrar=='agregar_clientes'"} class="active"{/if}">
      <a href="{$fsc->grupo->url()}&mostrar=agregar_clientes">
         <span class="fa fa-user-plus" aria-hidden="true"></span>
         <span class="hidden-xs">&nbsp;Añadir Clientes</span>
      </a>
   </li>
</ul>

{if="$fsc->mostrar=='clientes'"}
<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            <th></th>
            <th class="text-left">Código + Nombre</th>
            <th class="text-left">{#FS_CIFNIF#}</th>
            <th class="text-left">email</th>
            <th class="text-left">Teléfono</th>
            <th class="text-left">Observaciones</th>
         </tr>
      </thead>
      {loop="$fsc->clientes"}
      <tr class='clickableRow{if="$value->debaja"} danger{elseif="$value->fechaalta==$fsc->today()"} success{/if}' href='{$value->url()}'>
         <td class="text-center danger" title="quitar cliente {$value->codcliente} del grupo">
            {if="$fsc->allow_delete"}
            <a href="{$fsc->url()}&quitar={$value->codcliente}" class="cancel_clickable">
               <span class="glyphicon glyphicon-trash"></span>
            </a>
            {/if}
         </td>
         <td>
            <a href="{$value->url()}">{$value->codcliente}</a> {$value->nombre}
            {if="$value->debaja"}
            &nbsp; <span class="label label-danger" title="cliente dado de baja">Baja</span>
            {elseif="$value->fechaalta==$fsc->today()"}
            &nbsp; <span class="label label-success" title="Nuevo cliente">Nuevo</span>
            {/if}
         </td>
         <td>{$value->cifnif}</td>
         <td>{$value->email}</td>
         <td>{$value->telefono1}</td>
         <td>{$value->observaciones_resume()}</td>
      </tr>
      {else}
      <tr class="warning">
         <td colspan="6">Ningún cliente encontrado. Pulse el botón <b>Nuevo</b> para crear uno.</td>
      </tr>
      {/loop}
   </table>
</div>
{elseif="$fsc->mostrar=='agregar_clientes'"}
<div class="container-fluid" style="margin-top: 15px; margin-bottom: 15px;">
   <form class='form' role='form' method='post' action='{$fsc->url()}&mostrar=agregar_clientes'>
      <div class="row">
         <div class="col-sm-2">
            <div class="input-group">
               <input class="form-control" type="text" name="query" value="{$fsc->query}" autocomplete="off" placeholder="Buscar">
               <span class="input-group-btn hidden-sm">
                  <button class="btn btn-primary" type="submit">
                     <span class="glyphicon glyphicon-search"></span>
                  </button>
               </span>
            </div>
         </div>
         <div class="col-sm-2">
            <div class="input-group">
               <input class="form-control" type="text" name="direccion" value="{$fsc->direccion}" autocomplete="off" placeholder="Dirección">
               <span class="input-group-btn hidden-sm">
                  <button class="btn btn-default" type="submit">
                     <span class="glyphicon glyphicon-search"></span>
                  </button>
               </span>
            </div>
         </div>
         <div class="col-sm-2">
            <select name="codpais" class="form-control" onchange="this.form.submit()">
               <option value="">Cualquier pais</option>
               <option value="">------</option>
               {loop="$fsc->pais->all()"}
                  {if="$value->codpais==$fsc->codpais"}
                  <option value="{$value->codpais}" selected="">{$value->nombre}</option>
                  {else}
                  <option value="{$value->codpais}">{$value->nombre}</option>
                  {/if}
               {/loop}
            </select>
         </div>
         <div class="col-sm-2">
            <select name="provincia" class="form-control" onchange="this.form.submit()">
               <option value="">Cualquier provincia</option>
               <option value="">------</option>
               {loop="$fsc->provincias()"}
                  {if="$key===$fsc->provincia"}
                  <option value="{$key}" selected="">{$value}</option>
                  {else}
                  <option value="{$key}">{$value}</option>
                  {/if}
               {/loop}
            </select>
         </div>
         <div class="col-sm-2">
            <select name="ciudad" class="form-control" onchange="this.form.submit()">
               <option value="">Cualquier ciudad</option>
               <option value="">------</option>
               {loop="$fsc->ciudades()"}
                  {if="$key===$fsc->ciudad"}
                  <option value="{$key}" selected="">{$value}</option>
                  {else}
                  <option value="{$key}">{$value}</option>
                  {/if}
               {/loop}
            </select>
         </div>
         <div class="col-sm-2">
            <div class="input-group">
               <div class="input-group-addon">
                  <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
               </div>
               <select name="orden" class="form-control" onchange="this.form.submit()">
                  {loop="$fsc->orden()"}
                     {if="$fsc->orden==$key"}
                     <option value="{$key}" selected="">{$value}</option>
                     {else}
                     <option value="{$key}">{$value}</option>
                     {/if}
                  {/loop}
               </select>
            </div>
         </div>
      </div>
   </form>
</div>
<form class='form' role='form' method='post' action='{$fsc->url()}&mostrar=agregar_clientes'>
   <div class="container-fluid" style="margin-bottom: 10px;">
      <div class="row">
         <div class="col-sm-12">
            <button type="submit" class="btn btn-xs btn-success">
               <span class="glyphicon glyphicon-plus"></span> Añadir clientes seleccionados
            </button>
         </div>
      </div>
   </div>
   <div class="table-responsive">
      <table class="table table-hover">
         <thead>
            <tr>
               <th class="text-center">
                  <input id="marcartodo" type="checkbox" name="check">
               </th>
               <th class="text-left">Código + Nombre</th>
               <th class="text-left">{#FS_CIFNIF#}</th>
               <th class="text-left">email</th>
               <th class="text-left">Teléfono</th>
               <th class="text-left">Observaciones</th>
            </tr>
         </thead>
         <tbody id="agregar_clientes">
            {loop="$fsc->resultados"}
            <tr class='{if="$value->debaja"}danger{elseif="$value->fechaalta==$fsc->today()"}success{/if}'>
               <td class="text-center">
                  {if="$value->codgrupo==$fsc->grupo->codgrupo"}
                  <span class="glyphicon glyphicon-check" title="ya pertenece al grupo"></span>
                  {else}
                  <input type="checkbox" name="anyadir[]" value="{$value->codcliente}">
                  {/if}
               </td>
               <td>
                  <a href="{$value->url()}">{$value->codcliente}</a> {$value->nombre}
                  {if="$value->debaja"}
                  &nbsp; <span class="label label-danger" title="cliente dado de baja">Baja</span>
                  {elseif="$value->fechaalta==$fsc->today()"}
                  &nbsp; <span class="label label-success" title="Nuevo cliente">Nuevo</span>
                  {/if}
               </td>
               <td>{$value->cifnif}</td>
               <td>{$value->email}</td>
               <td>{$value->telefono1}</td>
               <td>{$value->observaciones_resume()}</td>
            </tr>
            {else}
            <tr class="warning">
               <td colspan="7">Ningún cliente encontrado. Utilice la barra de busqueda superior para encontrar uno.</td>
            </tr>
            {/loop}
         </tbody>
      </table>
   </div>
</form>
{/if}

{else}
<div class="thumbnail">
   <img src="{#FS_PATH#}view/img/fuuu_face.png" alt="fuuuuu"/>
</div>
{/if}

{include="footer"}