{include="header"}

{if="$fsc->albaran"}
<script type="text/javascript" src="{$fsc->get_js_location('ac_email_cliente.js')}"></script>
<script type="text/javascript" src="{$fsc->get_js_location('provincias.js')}"></script>
<script type="text/javascript" src="{$fsc->get_js_location('nueva_venta.js')}"></script>
<!--{$lineas=$fsc->albaran->get_lineas()}-->
{if="$fsc->albaran->ptefactura"}
<script type="text/javascript">
   numlineas = {function="count($lineas)"};
   fs_nf0 = {#FS_NF0#};
   fs_nf0_art = {#FS_NF0_ART#};
   all_impuestos = {function="json_encode($fsc->impuesto->all())"};
   default_impuesto = '{$fsc->default_items->codimpuesto()}';
   all_series = {function="json_encode($fsc->serie->all())"};
   cliente = {function="json_encode($fsc->cliente_s)"};
   nueva_venta_url = '{$fsc->nuevo_albaran_url}';
   
   {if="$fsc->cliente_s"}
   all_direcciones = {function="json_encode($fsc->cliente_s->get_direcciones())"};
   {/if}
   
   function cambiar_cliente() {
      $("#p_cambiar_cliente").removeClass('hidden');
      document.f_albaran.ac_cliente.readOnly = false;
      document.f_albaran.ac_cliente.value = '';
      document.f_albaran.ac_cliente.focus();
   }
   $(document).ready(function() {
      $("#numlineas").val(numlineas);
      usar_serie();
      usar_almacen();
      usar_divisa();
      recalcular();
      $("#ac_cliente").autocomplete({
         serviceUrl: nueva_venta_url,
         paramName: 'buscar_cliente',
         onSelect: function (suggestion) {
            if(suggestion)
            {
               if(document.f_albaran.cliente.value != suggestion.data && suggestion.data != '')
               {
                  document.f_albaran.cliente.value = suggestion.data;
                  usar_cliente(suggestion.data);
               }
            }
         }
      });
});
</script>
{else}
<script type="text/javascript">
   $(document).ready(function() {
      {if="$fsc->albaran->totalrecargo==0"}
      $(".recargo").hide();
      {/if}
      {if="$fsc->albaran->totalirpf==0"}
      $(".irpf").hide();
      {/if}
   });
</script>
{/if}
<script type="text/javascript">
   function enviar_email(url)
   {
      document.f_enviar_email.action = url;
      document.f_enviar_email.submit();
   }
   $(document).ready(function() {
      $("#b_imprimir").click(function(event) {
         event.preventDefault();
         $("#modal_imprimir_albaran").modal('show');
      });
      $("#b_enviar").click(function(event) {
         event.preventDefault();
         $("#modal_enviar").modal('show');
         document.f_enviar_email.email.select();
      });
      $("#b_aprobar").click(function(event) {
         event.preventDefault();
         $("#modal_aprobar").modal('show');
      });
      $("#b_eliminar").click(function(event) {
         event.preventDefault();
         $("#modal_eliminar").modal('show');
      });
   });
</script>

<form name="f_albaran" action="{$fsc->albaran->url()}" method="post" class="form">
   <input type="hidden" name="idalbaran" value="{$fsc->albaran->idalbaran}"/>
   <input type="hidden" name="cliente" value="{$fsc->albaran->codcliente}"/>
   <input type="hidden" name="almacen" id="codalmacen" value="{$fsc->albaran->codalmacen}"/>
   <input type="hidden" id="numlineas" name="numlineas" value="0"/>
   <div class="container-fluid">
      <div class="row">
         <div class="col-xs-8">
            <a class="btn btn-sm btn-default hidden-xs" href="{$fsc->url()}" title="Recargar la página">
               <span class="glyphicon glyphicon-refresh"></span>
            </a>
            <div class="btn-group">
               <a id="b_imprimir" class="btn btn-sm btn-default">
                  <span class="glyphicon glyphicon-print"></span>
                  <span class="hidden-xs">&nbsp;Imprimir</span>
               </a>
               <a id="b_enviar" class="btn btn-sm btn-default" href="#">
                  <span class="glyphicon glyphicon-envelope"></span>
                  {if="$fsc->albaran->femail"}
                  <span class="hidden-xs">&nbsp;Reenviar</span>
                  {else}
                  <span class="hidden-xs">&nbsp;Enviar</span>
                  {/if}
               </a>
               {loop="$fsc->extensions"}
                  {if="$value->type=='button'"}
                  <a href="index.php?page={$value->from}&id={$fsc->albaran->idalbaran}{$value->params}" class="btn btn-sm btn-default">{$value->text}</a>
                  {elseif="$value->type=='modal'"}
                  <!--{$txt=base64_encode($value->text)}-->
                  <!--{$url='index.php?page='.$value->from.'&id='.$fsc->albaran->idalbaran.$value->params}-->
                  <a href="#" class="btn btn-sm btn-default" onclick="fs_modal('{$txt}','{$url}')">{$value->text}</a>
                  {/if}
               {/loop}
            </div>
            {if="$fsc->albaran->idfactura"}
            <a class="btn btn-sm btn-info" href="{$fsc->albaran->factura_url()}">
               <span class="glyphicon glyphicon-eye-open"></span>
               <span class="hidden-xs">&nbsp;Ver Factura</span>
            </a>
            {elseif="$fsc->albaran->ptefactura"}
            <div class="btn-group">
               <button type="button" class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-time"></span>
                  <span class="hidden-xs">&nbsp; Pendiente</span>
                  <span class="caret"></span>
               </button>
               <ul class="dropdown-menu" role="menu">
                  <li>
                     <a id="b_aprobar" href="#">
                        <span class="glyphicon glyphicon-ok"></span>&nbsp; Aprobado
                     </a>
                  </li>
                  {if="$fsc->user->have_access_to('ventas_agrupar_albaranes')"}
                  <li>
                     <a href="index.php?page=ventas_agrupar_albaranes&codcliente={$fsc->albaran->codcliente}&codserie={$fsc->albaran->codserie}&desde={$fsc->albaran->fecha}&coddivisa={$fsc->albaran->coddivisa}">
                        <span class="glyphicon glyphicon-duplicate"></span>&nbsp; Agrupar...
                     </a>
                  </li>
                  {/if}
               </ul>
            </div>
            {else}
            <a class="btn btn-sm btn-warning" href="#">
               <span class="glyphicon glyphicon-lock"></span>
               <span class="hidden-xs">&nbsp;Bloqueado</span>
            </a>
            {/if}
         </div>
         <div class="col-xs-4 text-right">
            <a class="btn btn-sm btn-success" href="index.php?page=nueva_venta&tipo=albaran" title="Nuevo {#FS_ALBARAN#}">
               <span class="glyphicon glyphicon-plus"></span>
            </a>
            <div class="btn-group">
               {if="$fsc->allow_delete"}
               <a id="b_eliminar" class="btn btn-sm btn-danger" href="#">
                  <span class="glyphicon glyphicon-trash"></span>
                  <span class="hidden-sm hidden-xs">&nbsp;Eliminar</span>
               </a>
               {/if}
               <button class="btn btn-sm btn-primary" type="button" onclick="this.disabled=true;this.form.submit();">
                  <span class="glyphicon glyphicon-floppy-disk"></span>
                  <span class="hidden-xs">&nbsp;Guardar</span>
               </button>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <br/>
            <ol class="breadcrumb" style="margin-bottom: 5px;">
               <li><a href="{$fsc->ppage->url()}">Ventas</a></li>
               <li><a href="{$fsc->ppage->url()}" class="text-capitalize">{#FS_ALBARANES#}</a></li>
               <li><a href="#" title="almacén: {$fsc->albaran->codalmacen}">{$fsc->albaran->codalmacen}</a></li>
               <li title="{#FS_SERIE#}: {$fsc->albaran->codserie}">
                  {loop="$fsc->serie->all()"}
                     {if="$value->codserie==$fsc->albaran->codserie"}
                     <a href="{$fsc->ppage->url()}&codserie={$value->codserie}" class="text-capitalize">{$value->descripcion}</a>
                     {/if}
                  {/loop}
               </li>
               <li title="cliente: {$fsc->albaran->codcliente}">
                  {if="$fsc->cliente_s"}
                     <a href="{$fsc->cliente_s->url()}">{$fsc->albaran->nombrecliente}</a>
                  {else}
                     ???
                  {/if}
               </li>
               {if="$fsc->cliente_s"}
                  {if="$fsc->cliente_s->nombre!=$fsc->albaran->nombrecliente"}
                  <li>
                     <a href="#" onclick="bootbox.alert({message: 'Cliente conocido como: {$fsc->cliente_s->nombre}',title: '<b>Atención</b>'});">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                     </a>
                  </li>
                  {/if}
               {/if}
               <li class="active"><b>{$fsc->albaran->codigo}</b></li>
            </ol>
            <p class="help-block">
               {if="$fsc->agente"}
               <span class="text-capitalize">{#FS_ALBARAN#}</span> creado por
               <a href="{$fsc->agente->url()}">{$fsc->agente->get_fullname()}</a>.
               {else}
               Sin datos de qué empleado ha creado este {#FS_ALBARAN#}.
               {/if}
            </p>
         </div>
      </div>
      <div class="row">
         {if="$fsc->albaran->ptefactura"}
         <div class="col-md-3 col-sm-12">
            <div class='form-group{if="!$fsc->cliente_s"} has-warning{/if}'>
               Cliente actual:
               <div class="input-group">
                  <input class="form-control" type="text" name="ac_cliente" id="ac_cliente" value="{$fsc->albaran->nombrecliente}" placeholder="Buscar" readonly="" autocomplete="off"/>
                  <span class="input-group-btn" title="Cambiar cliente">
                     <button class="btn btn-default" type="button" onclick="cambiar_cliente()">
                        <span class="glyphicon glyphicon-edit"></span>
                     </button>
                  </span>
               </div>
               <p id="p_cambiar_cliente" class="help-block hidden">
                  Para cambiar el nombre o el {#FS_CIFNIF#}, pero no el cliente, ve a la pestaña detalles.
               </p>
            </div>
         </div>
         {/if}
         <div class="col-md-3 col-sm-4">
            <div class="form-group">
               <span class='text-capitalize'>{#FS_NUMERO2#}:</span>
               <input class="form-control" type="text" name="numero2" value="{$fsc->albaran->numero2}"/>
            </div>
         </div>
         <div class="col-md-2 col-sm-2">
            <div class="form-group">
               <a href="{$fsc->serie->url()}" class="text-capitalize">{#FS_SERIE#}</a>:
               {if="$fsc->albaran->ptefactura"}
               <select class="form-control" name="serie" onchange="usar_serie();recalcular();">
               {loop="$fsc->serie->all()"}
                  {if="$value->codserie==$fsc->albaran->codserie"}
                  <option value="{$value->codserie}" selected="">{$value->descripcion}</option>
                  {else}
                  <option value="{$value->codserie}">{$value->descripcion}</option>
                  {/if}
               {/loop}
               </select>
               {else}
               <select class="form-control" name="serie" disabled="">
               {loop="$fsc->serie->all()"}
                  {if="$value->codserie==$fsc->albaran->codserie"}
                  <option value="{$value->codserie}" selected="">{$value->descripcion}</option>
                  {else}
                  <option value="{$value->codserie}">{$value->descripcion}</option>
                  {/if}
               {/loop}
               </select>
               {/if}
            </div>
         </div>
         <div class="col-md-2 col-sm-3">
            <div class="form-group">
               Fecha:
               {if="$fsc->albaran->ptefactura"}
               <input class="form-control datepicker" type="text" name="fecha" value="{$fsc->albaran->fecha}" autocomplete="off"/>
               {else}
               <div class="form-control">{$fsc->albaran->fecha}</div>
               {/if}
            </div>
         </div>
         <div class="col-md-2 col-sm-3">
            <div class="form-group">
               Hora:
               {if="$fsc->albaran->ptefactura"}
               <input class="form-control" type="text" name="hora" value="{$fsc->albaran->hora}" autocomplete="off"/>
               {else}
               <div class="form-control">{$fsc->albaran->hora}</div>
               {/if}
            </div>
         </div>
      </div>
   </div>

   <div role="tabpanel">
      <ul class="nav nav-tabs" role="tablist">
         <li role="presentation" class="active">
            <a href="#lineas_a" aria-controls="lineas_a" role="tab" data-toggle="tab">
               <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
               <span class="hidden-xs">&nbsp;Líneas</span>
               <span class='badge'>{function="count($lineas)"}</span>
            </a>
         </li>
         <li role="presentation">
            <a href="#detalles" aria-controls="detalles" role="tab" data-toggle="tab">
               <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
               <span class="hidden-xs">&nbsp;Detalles</span>
            </a>
         </li>
         <li role="presentation">
            <a href="#envio" aria-controls="envio" role="tab" data-toggle="tab">
               <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
               <span class="hidden-xs">&nbsp;Envío</span>
            </a>
         </li>
         {loop="$fsc->extensions"}
            {if="$value->type=='tab'"}
            <li role="presentation">
               <a href="#ext_{$value->name}" aria-controls="ext_{$value->name}" role="tab" data-toggle="tab">{$value->text}</a>
            </li>
            {/if}
         {/loop}
      </ul>
      <div class="tab-content">
         <div role="tabpanel" class="tab-pane active" id="lineas_a">
            <div class="table-responsive">
               {if="$fsc->albaran->ptefactura"}
               <table class="table table-condensed">
                  <thead>
                     <tr>
                        <th class="text-left" width="180">Referencia</th>
                        <th class="text-left">Descripción</th>
                        <th class="text-right" width="90">Cantidad</th>
                        <th width="50"></th>
                        <th class="text-right" width="110">Precio</th>
                        <th class="text-right" width="90">Dto. %</th>
                        <th class="text-right" width="130">Neto</th>
                        <th class="text-right" width="115">{#FS_IVA#}</th>
                        <th class="text-right recargo" width="115">RE %</th>
                        <th class="text-right irpf" width="115">{#FS_IRPF#} %</th>
                        <th class="text-right" width="140">Total</th>
                     </tr>
                  </thead>
                  <tbody id="lineas_albaran">
                     {loop="$lineas"}
                     <tr id="linea_{$counter}">
                        <td>
                           <input type="hidden" name="idlinea_{$counter}" value="{$value->idlinea}"/>
                           <input type="hidden" name="referencia_{$counter}" value="{$value->referencia}"/>
                           <input type="hidden" name="codcombinacion_{$counter}" value="{$value->codcombinacion}"/>
                           {if="$value->idlineapedido"}
                           <div class="input-group">
                              <a target="_blank" href="index.php?page=ventas_pedido&id={$value->idpedido}" class="input-group-addon" title="ver {#FS_PEDIDO#}">P</a>
                              <div class="form-control">
                                 <small><a target="_blank" href="{$value->articulo_url()}">{$value->referencia}</a></small>
                              </div>
                           </div>
                           {else}
                           <div class="form-control">
                              <small><a target="_blank" href="{$value->articulo_url()}">{$value->referencia}</a></small>
                           </div>
                           {/if}
                        </td>
                        <td><textarea class="form-control" name="desc_{$counter}" rows="1">{$value->descripcion}</textarea></td>
                        <td>
                           <input type="number" step="any" id="cantidad_{$counter}" class="form-control text-right" name="cantidad_{$counter}"
                                  value="{$value->cantidad}" onchange="recalcular()" onkeyup="recalcular()" autocomplete="off" value="1"/>
                        </td>
                        <td>
                           {if="$fsc->allow_delete"}
                           <button class="btn btn-sm btn-danger" type="button" onclick="$('#linea_{$counter}').remove();recalcular();">
                              <span class="glyphicon glyphicon-trash"></span>
                           </button>
                           {/if}
                        </td>
                        <td>
                           <input type="text" class="form-control text-right" id="pvp_{$counter}" name="pvp_{$counter}" value="{$value->pvpunitario}"
                                  onkeyup="recalcular()" onclick="this.select()" autocomplete="off"/>
                        </td>
                        <td>
                           <input type="text" id="dto_{$counter}" name="dto_{$counter}" value="{$value->dtopor}" class="form-control text-right"
                                  onkeyup="recalcular()" onclick="this.select()" autocomplete="off"/>
                        </td>
                        <td>
                           <input type="text" class="form-control text-right" id="neto_{$counter}" name="neto_{$counter}"
                                  onchange="ajustar_neto('{$counter}')" onclick="this.select()" autocomplete="off"/>
                        </td>
                        <td>
                           <select class="form-control" id="iva_{$counter}" name="iva_{$counter}" onchange="ajustar_iva('{$counter}')">
                           {loop="$fsc->impuesto->all()"}
                              {if="$value1->codimpuesto==$value2->codimpuesto OR $value1->iva==$value2->iva"}
                              <option value="{$value2->iva}" selected="">{$value2->descripcion}</option>
                              {else}
                              <option value="{$value2->iva}">{$value2->descripcion}</option>
                              {/if}
                           {/loop}
                           </select>
                        </td>
                        <td class="recargo">
                           <input type="text" class="form-control text-right" id="recargo_{$counter}" name="recargo_{$counter}" value="{$value->recargo}"
                                  onchange="recalcular()" onclick="this.select()" autocomplete="off"/>
                        </td>
                        <td class="irpf">
                           <input type="text" class="form-control text-right" id="irpf_{$counter}" name="irpf_{$counter}" value="{$value->irpf}"
                                  onchange="recalcular()" onclick="this.select()" autocomplete="off"/>
                        </td>
                        <td class="warning" title="Cálculo aproximado del total de la linea">
                           <input type="text" class="form-control text-right" id="total_{$counter}" name="total_{$counter}"
                                  onchange="ajustar_total('{$counter}')" onclick="this.select()" autocomplete="off"/>
                        </td>
                     </tr>
                     {/loop}
                  </tbody>
                  <tbody>
                     <tr class="info">
                        <td><input id="i_new_line" class="form-control" type="text" placeholder="Buscar para añadir..." autocomplete="off"/></td>
                        <td colspan="3">
                           <a href="#" class="btn btn-sm btn-default" title="Añadir sin buscar" onclick="return add_linea_libre()">
                              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                           </a>
                        </td>
                        <td colspan="2">
                           <div class="form-control text-right">
                              Totales
                              {if="$fsc->albaran->coddivisa!=$fsc->empresa->coddivisa"}
                              ({$fsc->albaran->coddivisa})
                              {/if}
                           </div>
                        </td>
                        <td><div id="aneto" class="form-control text-right" style="font-weight: bold;">{$fsc->show_numero(0)}</div></td>
                        <td><div id="aiva" class="form-control text-right" style="font-weight: bold;">{$fsc->show_numero(0)}</div></td>
                        <td class="recargo">
                           <div id="are" class="form-control text-right" style="font-weight: bold;">{$fsc->show_numero(0)}</div>
                        </td>
                        <td class="irpf">
                           <div id="airpf" class="form-control text-right" style="font-weight: bold;">{$fsc->show_numero(0)}</div>
                        </td>
                        <td>
                           <input type="text" name="atotal" id="atotal" class="form-control text-right" style="font-weight: bold;"
                                  value="0" onchange="recalcular()" autocomplete="off"/>
                        </td>
                     </tr>
                     {if="$fsc->user->admin AND FS_DB_HISTORY"}
                     <tr>
                        <td colspan="6"></td>
                        <td class="text-right">{$fsc->show_precio($fsc->albaran->neto, $fsc->albaran->coddivisa)}</td>
                        <td class="text-right">{$fsc->show_precio($fsc->albaran->totaliva, $fsc->albaran->coddivisa)}</td>
                        <td class="recargo text-right">{$fsc->show_precio($fsc->albaran->totalrecargo, $fsc->albaran->coddivisa)}</td>
                        <td class="irpf text-right">{$fsc->show_precio($fsc->albaran->totalirpf, $fsc->albaran->coddivisa)}</td>
                        <td class="text-right">{$fsc->show_precio($fsc->albaran->total, $fsc->albaran->coddivisa)}</td>
                     </tr>
                     {/if}
                  </tbody>
               </table>
               {else}
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th width="40"></th>
                        <th class="text-left">Artículo</th>
                        <th class="text-right" width="70">Cantidad</th>
                        <th class="text-right" width="80">Precio</th>
                        <th class="text-right" width="70">Dto</th>
                        <th class="text-right" width="80">Neto</th>
                        <th class="text-right" width="70">{#FS_IVA#}</th>
                        <th class="text-right recargo" width="70">RE</th>
                        <th class="text-right irpf" width="70">{#FS_IRPF#}</th>
                        <th class="text-right" width="90">Total</th>
                     </tr>
                  </thead>
                  {loop="$lineas"}
                  <tr{if="$value->cantidad<=0"} class="warning"{/if}>
                     <td>
                        {if="$value->idlineapedido"}
                        <a target="_blank" href="index.php?page=ventas_pedido&id={$value->idpedido}" class="btn btn-xs btn-default">
                           <span class="glyphicon glyphicon-paperclip" aria-hidden="true" title="ver {#FS_PEDIDO#}"></span>
                        </a>
                        {/if}
                     </td>
                     <td>
                        <a href="{$value->articulo_url()}">{$value->referencia}</a> {$value->descripcion()}
                     </td>
                     <td class="text-right">{$value->cantidad}</td>
                     <td class="text-right">{$fsc->show_precio($value->pvpunitario, $fsc->albaran->coddivisa, TRUE, FS_NF0_ART)}</td>
                     <td class="text-right">{$fsc->show_numero($value->dtopor, 2)} %</td>
                     <td class="text-right">{$fsc->show_precio($value->pvptotal, $fsc->albaran->coddivisa)}</td>
                     <td class="text-right">{$fsc->show_numero($value->iva, 2)} %</td>
                     <td class="text-right recargo">{$fsc->show_numero($value->recargo, 2)} %</td>
                     <td class="text-right irpf">{$fsc->show_numero($value->irpf, 2)} %</td>
                     <td class="text-right">{$fsc->show_precio($value->total_iva(), $fsc->albaran->coddivisa)}</td>
                  </tr>
                  {else}
                  <tr class="warning">
                     <td colspan="10">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        &nbsp; No hay líneas.
                     </td>
                  </tr>
                  {/loop}
                  <tr>
                     {if="$fsc->albaran->coddivisa!=$fsc->empresa->coddivisa"}
                     <td colspan="5" class="text-right warning"><b>{$fsc->albaran->coddivisa}:</b></td>
                     {else}
                     <td colspan="5"></td>
                     {/if}
                     <td class="text-right"><b>{$fsc->show_precio($fsc->albaran->neto, $fsc->albaran->coddivisa)}</b></td>
                     <td class="text-right"><b>{$fsc->show_precio($fsc->albaran->totaliva, $fsc->albaran->coddivisa)}</b></td>
                     <td class="text-right recargo"><b>{$fsc->show_precio($fsc->albaran->totalrecargo, $fsc->albaran->coddivisa)}</b></td>
                     <td class="text-right irpf"><b>-{$fsc->show_precio($fsc->albaran->totalirpf, $fsc->albaran->coddivisa)}</b></td>
                     <td class="text-right"><b>{$fsc->show_precio($fsc->albaran->total, $fsc->albaran->coddivisa)}</b></td>
                  </tr>
                  {if="$fsc->albaran->coddivisa!=$fsc->empresa->coddivisa"}
                  <tr class="warning">
                     <td colspan="5" class="text-right"><b>{$fsc->empresa->coddivisa}:</b></td>
                     <td></td>
                     <td></td>
                     <td class="recargo"></td>
                     <td class="irpf"></td>
                     <td class="text-right"><b>{$fsc->show_precio($fsc->euro_convert($fsc->albaran->totaleuros, $fsc->albaran->coddivisa, $fsc->albaran->tasaconv))}</b></td>
                  </tr>
                  {/if}
               </table>
               {/if}
            </div>
            <div class="container-fluid">
               <div class="row">
                  <div class="col-sm-12">
                     {if="$fsc->albaran->ptefactura"}
                     <div class="text-right">
                        <a href="#" class="label label-default" onclick="cliente.recargo=true;recalcular();" title="Mostrar Recargo de Equivalencia">
                           <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp; RE
                        </a>
                        &nbsp;
                        <a href="#" class="label label-default" onclick="irpf=21;recalcular();" title="Mostrar {#FS_IRPF#}">
                           <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp; {#FS_IRPF#}
                        </a>
                     </div>
                     {/if}
                     <div class="form-group">
                        Observaciones:
                        <textarea class="form-control" name="observaciones" rows="6">{$fsc->albaran->observaciones}</textarea>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div role="tabpanel" class="tab-pane" id="detalles">
            <div class="container-fluid" style="margin-top: 10px;">
               {if="!$fsc->albaran->ptefactura"}
               <div class="row">
                  <div class="col-sm-12">
                     <div class="alert alert-warning">Estos datos ya no pueden ser modificados.</div>
                     <br/>
                  </div>
               </div>
               {/if}
               <div class="row">
                  <div class="col-sm-2">
                     <div class="form-group">
                        Nombre del cliente:
                        <input class="form-control" type="text" name="nombrecliente" value="{$fsc->albaran->nombrecliente}" autocomplete="off"/>
                     </div>
                  </div>
                  <div class="col-sm-2">
                     <div class="form-group">
                        {#FS_CIFNIF#}:
                        <input class="form-control" type="text" name="cifnif" value="{$fsc->albaran->cifnif}" maxlength="30" autocomplete="off"/>
                     </div>
                  </div>
                  <div class="col-sm-2">
                     <div class="form-group">
                        <a href="{$fsc->forma_pago->url()}">Forma de pago</a>:
                        <select name="forma_pago" class="form-control">
                        {loop="$fsc->forma_pago->all()"}
                           {if="$value->codpago==$fsc->albaran->codpago"}
                           <option value="{$value->codpago}" selected="">{$value->descripcion}</option>
                           {else}
                           <option value="{$value->codpago}">{$value->descripcion}</option>
                           {/if}
                        {/loop}
                        </select>
                     </div>
                  </div>
                  <div class="col-sm-2">
                     <div class="form-group">
                        <a href="{$fsc->almacen->url()}">Almacén</a>:
                        <select name="almacen" class="form-control" disabled="">
                        {loop="$fsc->almacen->all()"}
                           {if="$value->codalmacen==$fsc->albaran->codalmacen"}
                           <option value="{$value->codalmacen}" selected="">{$value->nombre}</option>
                           {else}
                           <option value="{$value->codalmacen}">{$value->nombre}</option>
                           {/if}
                        {/loop}
                        </select>
                     </div>
                  </div>
                  <div class="col-sm-2">
                     <div class="form-group">
                        <a href="{$fsc->divisa->url()}">Divisa</a>:
                        <select name="divisa" id="coddivisa" class="form-control" onchange="usar_divisa()">
                        {loop="$fsc->divisa->all()"}
                           {if="$value->coddivisa==$fsc->albaran->coddivisa"}
                           <option value="{$value->coddivisa}" selected="">{$value->descripcion}</option>
                           {else}
                           <option value="{$value->coddivisa}">{$value->descripcion}</option>
                           {/if}
                        {/loop}
                        </select>
                     </div>
                  </div>
                  <div class="col-sm-2">
                     <div class="form-group">
                        Tasa de conversión (1€ = X)
                        <input type="text" name="tasaconv" class="form-control" placeholder="{$fsc->albaran->tasaconv}" autocomplete="off"/>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-12">
                     <h3>
                        <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
                        &nbsp;Dirección de facturación:
                     </h3>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-3">
                     <div class="form-group">
                        Direcciones del cliente:
                        <div class="input-group">
                           <span class="input-group-addon">
                              <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                           </span>
                           <select name="coddir" class="form-control" onchange="usar_direccion();">
                           {if="$fsc->cliente_s"}
                              {loop="$fsc->cliente_s->get_direcciones()"}
                                 {if="$value->id==$fsc->albaran->coddir"}
                                 <option value="{$value->id}" selected="">{$value->descripcion}</option>
                                 {elseif="$value->direccion==$fsc->albaran->direccion"}
                                 <option value="{$value->id}" selected="">{$value->descripcion}</option>
                                 {else}
                                 <option value="{$value->id}">{$value->descripcion}</option>
                                 {/if}
                              {/loop}
                           {/if}
                           </select>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                        <a href="{$fsc->pais->url()}">País</a>:
                        <select class="form-control" name="codpais">
                        {loop="$fsc->pais->all()"}
                           {if="$value->codpais==$fsc->albaran->codpais"}
                           <option value="{$value->codpais}" selected="">{$value->nombre}</option>
                           {else}
                           <option value="{$value->codpais}">{$value->nombre}</option>
                           {/if}
                        {/loop}
                        </select>
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                        <span class="text-capitalize">{#FS_PROVINCIA#}</span>:
                        <input id="ac_provincia" class="form-control" type="text" name="provincia" value="{$fsc->albaran->provincia}"/>
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                        Ciudad:
                        <input class="form-control" type="text" name="ciudad" value="{$fsc->albaran->ciudad}"/>
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                        Código Postal:
                        <input class="form-control" type="text" name="codpostal" value="{$fsc->albaran->codpostal}" maxlength="10" autocomplete="off"/>
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="form-group">
                        Dirección:
                        <input class="form-control" type="text" name="direccion" value="{$fsc->albaran->direccion}" autocomplete="off"/>
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                        <span class="text-capitalize">{#FS_APARTADO#}</span>:
                        <input class="form-control" type="text" name="apartado" value="{$fsc->albaran->apartado}" maxlength="10" autocomplete="off"/>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div role="tabpanel" class="tab-pane" id="envio">
            <div class="container-fluid" style="margin-top: 10px;">
               {if="!$fsc->albaran->ptefactura"}
               <div class="row">
                  <div class="col-sm-12">
                     <div class="alert alert-warning">Estos datos ya no pueden ser modificados.</div>
                     <br/>
                  </div>
               </div>
               {/if}
               <div class="row">
                  <div class="col-sm-3">
                     <div class="form-group">
                        Nombre:
                        <input type="text" name="envio_nombre" value="{$fsc->albaran->envio_nombre}" class="form-control" autocomplete="off"/>
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                        Apellidos:
                        <input type="text" name="envio_apellidos" value="{$fsc->albaran->envio_apellidos}" class="form-control" autocomplete="off"/>
                     </div>
                  </div>
                  <div class="col-sm-2">
                     <div class="form-group">
                        <a href="{$fsc->agencia->url()}">Agencia</a>:
                        <select name="envio_codtrans" class="form-control">
                           <option value="">Ninguna</option>
                           <option value="">------</option>
                           {loop="$fsc->agencia->all()"}
                              {if="$fsc->albaran->envio_codtrans==$value->codtrans"}
                              <option value="{$value->codtrans}" selected="">{$value->nombre}</option>
                              {else}
                              <option value="{$value->codtrans}">{$value->nombre}</option>
                              {/if}
                           {/loop}
                        </select>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="form-group">
                        Código de seguimiento:
                        <input type="text" name="envio_codigo" value="{$fsc->albaran->envio_codigo}" class="form-control" autocomplete="off"/>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-3">
                     <div class="form-group">
                        Direcciones del cliente:
                        <div class="input-group">
                           <span class="input-group-addon">
                              <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                           </span>
                           <select name="envio_coddir" class="form-control" onchange="usar_direccion_envio();">
                              <option value="">Ninguna</option>
                              <option value="">------</option>
                              {if="$fsc->cliente_s"}
                                 {loop="$fsc->cliente_s->get_direcciones()"}
                                    {if="$value->direccion==$fsc->albaran->envio_direccion"}
                                    <option value="{$value->id}" selected="">{$value->descripcion}</option>
                                    {else}
                                    <option value="{$value->id}">{$value->descripcion}</option>
                                    {/if}
                                 {/loop}
                              {/if}
                           </select>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                        <a href="{$fsc->pais->url()}">País</a>:
                        <select class="form-control" name="envio_codpais">
                        {loop="$fsc->pais->all()"}
                           {if="$value->codpais==$fsc->albaran->envio_codpais"}
                           <option value="{$value->codpais}" selected="">{$value->nombre}</option>
                           {else}
                           <option value="{$value->codpais}">{$value->nombre}</option>
                           {/if}
                        {/loop}
                        </select>
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                        <span class="text-capitalize">{#FS_PROVINCIA#}</span>:
                        <input type="text" name="envio_provincia" value="{$fsc->albaran->envio_provincia}" id="ac_provincia2" class="form-control" autocomplete="off"/>
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                        Ciudad:
                        <input type="text" name="envio_ciudad" value="{$fsc->albaran->envio_ciudad}" class="form-control" autocomplete="off"/>
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                        Código Postal:
                        <input type="text" name="envio_codpostal" value="{$fsc->albaran->envio_codpostal}" class="form-control" autocomplete="off"/>
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="form-group">
                        Dirección:
                        <input type="text" name="envio_direccion" value="{$fsc->albaran->envio_direccion}" class="form-control" autocomplete="off"/>
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                        <span class="text-capitalize">{#FS_APARTADO#}</span>:
                        <input class="form-control" type="text" name="envio_apartado" value="{$fsc->albaran->envio_apartado}"/>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         {loop="$fsc->extensions"}
            {if="$value->type=='tab'"}
            <div role="tabpanel" class="tab-pane" id="ext_{$value->name}">
               <iframe src="index.php?page={$value->from}{$value->params}&id={$fsc->albaran->idalbaran}" width="100%" height="2000" frameborder="0"></iframe>
            </div>
            {/if}
         {/loop}
      </div>
   </div>
</form>

{include="block/modal_buscar_articulo"}

<div class="modal fade" id="modal_imprimir_albaran">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Imprimir {#FS_ALBARAN#}</h4>
            {if="mt_rand(0,1)==0"}
            <p class="help-block">
               Más formatos disponibles <a href="https://www.facturascripts.com/buscar?query=imprimir" target="_blank">en la web</a>.
            </p>
            {else}
            <p class="help-block">
               Más formatos disponibles en el plugin <a href="https://www.facturascripts.com/plugin/plantillas_pdf" target="_blank">Plantillas PDF</a>.
            </p>
            {/if}
         </div>
         <div class="modal-body">
         {loop="$fsc->extensions"}
            {if="$value->type=='pdf'"}
            <a href="index.php?page={$value->from}{$value->params}&id={$fsc->albaran->idalbaran}" target="_blank" class="btn btn-block btn-default">{$value->text}</a>
            {/if}
         {/loop}
         </div>
         <div class="modal-footer">
            <a href="index.php?page=admin_empresa#impresion" target="_blank">
               <span class="glyphicon glyphicon-wrench"></span>&nbsp; Opciones de impresión
            </a>
         </div>
      </div>
   </div>
</div>

{if="$fsc->empresa->can_send_mail()"}
<form class="form" role="form" name="f_enviar_email" action="{$fsc->url()}" method="post" enctype="multipart/form-data">
   <input type="hidden" name="codcliente" value="{$fsc->albaran->codcliente}"/>
   <div class="modal" id="modal_enviar">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">
                  <span class="glyphicon glyphicon-envelope"></span>&nbsp;
                  Enviar {#FS_ALBARAN#}
               </h4>
               {if="$fsc->albaran->femail"}
               <p class="help-block">
                  <span class="glyphicon glyphicon-send"></span> &nbsp;
                  Este {#FS_ALBARAN#} fue enviado el {$fsc->albaran->femail}.
               </p>
               {elseif="!in_array('CRM',$GLOBALS['plugins'])"}
               <p class="help-block">
                  Gestiona los contactos del cliente y comunícate con ellos con el
                  <a href="https://www.facturascripts.com/plugin/CRM" target="_blank">plugin CRM</a>.
               </p>
               {/if}
            </div>
            <div class="modal-body">
               <div class="form-group">
                  <div class="input-group">
                     <span class="input-group-addon">De</span>
                     <select name="de" class="form-control">
                        {if="$fsc->user->email"}
                        <option>{$fsc->user->email}</option>
                        {/if}
                        <option>{$fsc->empresa->email}</option>
                     </select>
                  </div>
               </div>
               <div class="form-group">
                  <div class="input-group">
                     <span class="input-group-addon">Para</span>
                     {if="$fsc->cliente_s"}
                     <input id="ac_email" class="form-control" type="text" name="email" value="{$fsc->cliente_s->email}" autocomplete="off"/>
                     <span class="input-group-addon" title="Asignar email al cliente">
                        <input type="checkbox" name="guardar" value="TRUE"/>
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                     </span>
                     {else}
                     <input id="ac_email" class="form-control" type="text" name="email" autocomplete="off"/>
                     {/if}
                  </div>
               </div>
               <div class="form-group">
                  <div class="input-group">
                     <span class="input-group-addon">Copia</span>
                     <input id="ac_email2" class="form-control" type="text" name="email_copia" autocomplete="off"/>
                     <span class="input-group-addon" title="Copia de carbón oculta">
                        <input type="checkbox" name="cco" value="TRUE"/>
                        <span class="glyphicon glyphicon-eye-close"></span>
                     </span>
                  </div>
               </div>
               <div class="form-group">
                  <textarea class="form-control" name="mensaje" rows="6">{function="plantilla_email('albaran',$fsc->albaran->codigo,$fsc->empresa->email_config['mail_firma'])"}</textarea>
                  <p class="help-block">
                     <a href="index.php?page=admin_empresa#email">Editar la firma</a>
                  </p>
               </div>
               <div class="form-group">
                  <input name="adjunto" type="file"/>
                  <p class="help-block">
                     Se va a adjuntar el {#FS_ALBARAN#}, pero si lo deseas
                     puedes añadir otro archivo de hasta {$fsc->get_max_file_upload()} MB
                  </p>
               </div>
               <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <span class="glyphicon glyphicon-send"></span>&nbsp; Enviar <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                  {loop="$fsc->extensions"}
                     {if="$value->type=='email'"}
                     <li>
                        <a href="#" onclick="this.disabled=true;enviar_email('index.php?page={$value->from}{$value->params}&id={$fsc->albaran->idalbaran}');">{$value->text}</a>
                     </li>
                     {/if}
                  {/loop}
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</form>
{else}
<div class="modal" id="modal_enviar">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">
               <span class="glyphicon glyphicon-envelope"></span>&nbsp; Enviar por email
            </h4>
         </div>
         <div class="modal-body">
            <a href='index.php?page=admin_empresa#email' class="btn btn-sm btn-warning">
               <span class="glyphicon glyphicon-wrench"></span>&nbsp; Configurar
            </a>
         </div>
      </div>
   </div>
</div>
{/if}

<form class="form" role="form" action="{$fsc->url()}" method="post">
   <input type="hidden" name="petid" value="{$fsc->random_string()}"/>
   <div class="modal" id="modal_aprobar">
      <div class="modal-dialog modal-sm">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Aprobar {#FS_ALBARAN#}</h4>
            </div>
            <div class="modal-body">
               <div class="form-group">
                  Fecha de la factura:
                  <input class="form-control datepicker" type="text" name="facturar" value="{$fsc->today()}" autocomplete="off"/>
                  <p class="help-block">
                     Se generará una factura. Si deseas aprobar de golpe todos
                     los {#FS_ALBARANES#} pendientes, puedes usar el plugin <b>megafacturador</b>.
                  </p>
               </div>
               <div class="form-group">
                  <a href="{$fsc->forma_pago->url()}">Forma de pago</a>:
                  <select name="codpago" class="form-control">
                     {loop="$fsc->forma_pago->all()"}
                        {if="$value->codpago==$fsc->albaran->codpago"}
                        <option value="{$value->codpago}" selected="">{$value->descripcion}</option>
                        {else}
                        <option value="{$value->codpago}">{$value->descripcion}</option>
                        {/if}
                     {/loop}
                  </select>
               </div>
               <div class="text-right">
                  <button class="btn btn-sm btn-primary" onclick="this.disabled=true;this.form.submit();">
                     <span class="glyphicon glyphicon-paperclip"></span>&nbsp; Aprobar
                  </button>
               </div>
            </div>
         </div>
      </div>
   </div>
</form>

<form action="{$fsc->ppage->url()}" method="post">
   <input type="hidden" name="delete" value="{$fsc->albaran->idalbaran}"/>
   <div class="modal fade" id="modal_eliminar">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">¿Realmente desea eliminar este {#FS_ALBARAN#}?</h4>
            </div>
            {if="$fsc->albaran->idfactura"}
               {if="$fsc->allow_delete_fac"}
               <div class="modal-body bg-warning">
                  Hay <b>una factura asociada</b> que será eliminada junto con este {#FS_ALBARAN#}.
               </div>
               <div class="modal-footer">
                  <div class="pull-left">
                     <label>
                        <input type="checkbox" name="stock" value="TRUE" checked=""/>
                        Actualizar el stock
                     </label>
                  </div>
                  <button class="btn btn-sm btn-danger" onclick="this.disabled=true;this.form.submit();">
                     <span class="glyphicon glyphicon-trash"></span>&nbsp; Eliminar
                  </button>
               </div>
               {else}
               <div class="modal-body bg-danger">
                  Hay <b>una factura asociada</b> que será eliminada junto con este {#FS_ALBARAN#}.
                  Pero no tienes permiso para eliminar facturas.
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cerrar</button>
               </div>
               {/if}
            {else}
            <div class="modal-footer">
               <div class="pull-left">
                  <label>
                     <input type="checkbox" name="stock" value="TRUE" checked=""/>
                     Actualizar el stock
                  </label>
               </div>
               <button class="btn btn-sm btn-danger" onclick="this.disabled=true;this.form.submit();">
                  <span class="glyphicon glyphicon-trash"></span>&nbsp; Eliminar
               </button>
            </div>
            {/if}
         </div>
      </div>
   </div>
</form>
{else}
<div class="thumbnail">
   <img src="{#FS_PATH#}view/img/fuuu_face.png" alt="fuuuuu"/>
</div>
{/if}

{include="footer"}